<div id="branding" class="usa-grid-full clearfix">
    <div class="usa-width-one-fourth logo">
        <img src="/img/img_cfda/cfda_logo.png" alt="The CFDA Logo"/>
    </div>
    <div class="usa-width-one-half">
        <p></p>
    </div>
    <div class="usa-width-one-fourth login login2">
        <a href="/login">Common Login <span class="fa fa-user fa-2x"></span> </a>
    </div>
</div>
<div class="primary-nav">
    <nav class="nav-bar" role="navigation">
        <a ui-sref="home" id="/" role="menuitem">Home</a>
    </nav>
</div>