<div class="subsection contact-info">
    <p class="vp-field-label">Website Address:</p>

    <p class="vp-field-value">
        <span ng-if="programData.website && programData.website !=''"> <a ng-href="{{programData.website}}" ng-bind="programData.website"></a></span>
        <span ng-if="!programData.website || programData.website ==''"> No Data Available</span>
    </p>

    <p class="vp-field-label">Regional or Local Office:</p>

    <p class="vp-field-value">
        <span ng-if="programData.contacts['local'].flag == 'regional'"> See Regional Agency Offices. {{programData.contacts['local'].additionalInfo.content}}</span>
        <span ng-if="programData.contacts['local'].flag == 'none'"> None.</span>
    </p>


    <p class="vp-field-label">Headquarters Office:</p>

    <p class="vp-field-value" ng-repeat="item in programData.contacts.list">
        <!--<span ng-if="$index != 0 "><br></span>-->
        <span>{{item.title}}</span> <span>{{item.fullName}}</span><br>
        <test-this address="{{item.address}}" city="{{item.city}}" state="{{item.state}}" zip="{{item.zip}}"></test-this>
        <span ng-if="item.address">{{item.address}}<span ng-if="item.city || item.state || item.zip">, </span></span>
        <span ng-if="item.city">{{item.city}}<span ng-if="item.state || item.zip">, </span></span>
        <span ng-if="item.state">{{item.state}}<span ng-if="item.zip">, </span></span>
        <span>{{item.zip}}</span><span ng-if="item.address || item.city || item.state || item.zip"><br></span>
        <span ng-if="item.email">Email: <a ng-href="mailto:item.email">{{item.email}}</a><br></span>
        <span ng-if="item.phone">Phone: {{item.phone}}<br></span>
        <span ng-if="item.fax">Fax: {{item.fax}}<br></span>
    </p>

</div>

