<div class="subsection contact-info">
    <p class="vp-field-label">Website:</p>

    <p class="vp-field-value website"><a ng-href="{{programData.website}}" ng-bind="programData.website"></a></p>

    <p class="vp-field-label">Regional or Local Office:</p>

    <p class="vp-field-value">{{programData.contacts['local'].flag == 'regional'}}, {{programData.contacts['local'].additionalInfo.content}}</p>

    <p class="vp-field-label">Headquarters Office:</p>

    <div class="vp-field-value" ng-repeat="item in programData.contacts.list" style="word-wrap: break-word;">
        <span>{{item.title}}</span> <span>{{item.fullName}}</span><br/>
        <test-this address="{{item.address}}" city="{{item.city}}" state="{{item.state}}" zip="{{item.zip}}"></test-this>
        <span ng-show="item.address">{{item.address}}<span ng-show="item.city || item.state || item.zip">, </span></span>
        <span ng-show="item.city">{{item.city}}<span ng-show="item.state || item.zip">, </span></span>
        <span ng-show="item.state">{{item.state}}<span ng-show="item.zip">, </span></span>
        <span>{{item.zip}}</span><span ng-show="item.address || item.city || item.state || item.zip"><br/></span>
        <span ng-show="item.email">Email: <a ng-href="mailto:item.email">{{item.email}}</a><br/></span>
        <span ng-show="item.phone">Phone: {{item.phone}}<br/></span>
        <span ng-show="item.phone">Fax: {{item.fax}}<br/></span>
    </div>

</div>