<div class="subsection eligibility-info">
    <p class="vp-field-label-big"> Eligibility Requirements</p>

    <div class="tabover">
        <div>
            <p class="vp-field-label"> Applicant Eligibility:</p>

            <p class="vp-field-value">{{programData.eligibility.applicant.additionalInfo.content}}</p>
        </div>

        <div>
            <p class="vp-field-label"> Beneficiary Eligibility:</p>

            <p class="vp-field-value">{{programData.eligibility.beneficiary.additionalInfo.content}}</p>
        </div>

        <div>
            <p class="vp-field-label"> Credentials/Documentation:</p>

            <p class="vp-field-value">
                <span ng-if="programData.eligibility.documentation.flag=='yes'">{{programData.eligibility.documentation.content}}
                    <span ng-if="programData.eligibility.documentation.questions['OMBCircularA87'].flag=='yes'">2 CFR 200, Subpart E - Cost Principles applies to this program.</span>
                    <span ng-if="programData.eligibility.documentation.questions['OMBCircularA87'].flag=='no'">This program is excluded from coverage under 2 CFR 200, Subpart E - Cost Principles.</span>
                </span>
                <span ng-if="programData.eligibility.documentation.flag=='no'">None.</span>
            </p>
        </div>

    </div>

</div>
