<div class="section financial-info">
    <h3 class="section-header">5 -- Financial Information and Accomplishments</h3>


    <div class="subsection">
        <h4 class="vp-field-label"> Financial Information (120)</h4>

        <div class="field">
            <p class="vp-field-label">Account Identification (121):</p>

            <p class="vp-field-value" ng-bind="programData.financial.accounts.code"></p>
        </div>
        <div class="field">
            <p class="vp-field-label">Obligations (122):</p>

            <div class="vp-field-value" ng-repeat="item in programData.financial.obligations.values"><p>{{item}};</p></div>
        </div>
        <div class="field">
            <p class="vp-field-label">Range and Average of Financial Assistance (123):</p>

            <p class="vp-field-value" ng-bind="programData.financial.additionalInfo.content"></p>
        </div>
        <div class="field">
            <p class="vp-field-label">TAFS Codes - Unique Treasury Appropriation Fund Symbols (124):</p>

            <p>Treasury Dept Code: <span class="vp-field-value" ng-bind="programData.financial.treasury.tafs.departmentCode"></span></p>

            <p>Allocation Transfer Agency: <span class="vp-field-value" ng-bind="programData.financial.treasury.tafs.allocationTransferAgency"></span></p>

            <p>FY 1: <span class="vp-field-value" ng-bind="programData.financial.treasury.tafs.fy1"></span></p>

            <p>FY 2: <span class="vp-field-value" ng-bind="programData.financial.treasury.tafs.fy2"></span></p>

            <p>Treasury Account Main Code: <span class="vp-field-value" ng-bind="programData.financial.treasury.tafs.accountCode"></span></p>

            <p>TAFS Sub-Account: <span class="vp-field-value" ng-bind="programData.financial.treasury.tafs.subAccountCode"></span></p>
        </div>

    </div>


    <div class="subsection">
        <h4 class="vp-field-label"> Program Accomplishments (130)</h4>

        <h5>Are there program accomplishments?</h5>

        <p class="vp-field-value" ng-bind="programData.postAward.accomplishments.flag"></p>

        <div class="vp-field-value" ng-show="programData.postAward.accomplishments.flag === 'yes'">

            <p>listing of accomplishments...</p>

            <div class="vp-field-value" ng-repeat="item in programData.postAward.accomplishments.list"><p>{{item}};</p></div>

        </div>
    </div>


</div>