<div class="subsection assistance-info">
    <p class="vp-field-label-big">Assistance Consideration (100)</p>

    <div class="tabover">
        <div>
            <p class="vp-field-label"> Formula and Matching Requirements (101):</p>

            <div class="tabover">
                <p class="vp-field-label">Does this program have a statutory formula and/or administrative rule reference in the CFR? </p>

                <p class="vp-field-value">{{traverseTree(programData.assistance.formula.flag, 'yes_no_na').value}}</p>

                <div class="tabover" ng-show="programData.assistance.formula.flag =='yes'">
                    <p class="vp-field-label"> Title: <span class="vp-field-value" ng-bind="programData.assistance.formula.title"></span></p>

                    <p class="vp-field-label"> Chapter: <span class="vp-field-value" ng-bind="programData.assistance.formula.chapter"></span></p>

                    <p class="vp-field-label"> Part: <span class="vp-field-value" ng-bind="programData.assistance.formula.part"></span></p>

                    <p class="vp-field-label"> Subpart: <span class="vp-field-value" ng-bind="programData.assistance.formula.subPart"></span></p>

                    <p class="vp-field-label"> Public Law: <span class="vp-field-value" ng-bind="programData.assistance.formula.publicLaw"></span></p>

                    <p class="vp-field-label"> Additional Info: <span class="vp-field-value" ng-bind="programData.assistance.formula.additionalInfo.content"></span></p>
                </div>


                <p class="vp-field-label">Does this program have matching requirements? </p>

                <div ng-show="programData.assistance.matching.flag =='no'">
                    <p class="vp-field-value"> This program has no matching requirements. </p>
                </div>

                <div class="tabover" ng-show="programData.assistance.matching.flag =='yes'">
                    <p class="vp-field-value">Yes, Percent: {{programData.assistance.matching.percent}}</p>

                    <p class="vp-field-label"> Other Matching Requirements Information: </p>

                    <p class="vp-field-value" ng-bind="programData.assistance.matching.otherInfo.content"></p>
                </div>


                <p class="vp-field-label">Does this program have MOE requirements AND total allocations over $100 million (current FY)?</p>

                <div class="tabover" ng-show="programData.assistance.moe.flag ==='yes'">
                    <p class="vp-field-value"> This program has MOE requirements, see funding agency for further details. </p>

                    <p class="vp-field-label"> Additional Information: </p>

                    <p class="vp-field-value"> {{programData.assistance.moe.additionalInfo.content}}</p>
                </div>

                <p class="vp-field-value" ng-show="programData.assistance.moe.flag ==='no'">
                    This program does not have MOE requirements.</p>
            </div>
        </div>


        <div>
            <p class="vp-field-label"> Length and Time Phasing of Assistance (102):</p>

            <div class="tabover">
                <p class="vp-field-label">What period of time is the assistance normally available? Is there a restriction placed on the time permitted to spend the money awarded?</p>

                <p class="vp-field-value" ng-bind="programData.assistance.limitation.content"></p>

                <p class="vp-field-label"> How is the assistance awarded and/or released? </p>

                <p class="vp-field-value" ng-bind="programData.assistance.limitation.awarded"></p>
            </div>
        </div>

    </div>
</div>