<div class="subsection general-info">
    <div>
        <p class="vp-field-label-big"> Authorization (040):</p>

        <div class="vp-field-value" ng-repeat="item in programData.authorizations">
            <p>{{ appUtil.getAuthorizationTitle(item) }}</p>
        </div>
    </div>

    <div>
        <p class="vp-field-label-big"> Objectives (050): </p>

        <p class="vp-field-value" ng-bind="programData.objective"></p>
    </div>


    <div>
        <p class="vp-field-label-big"> Types of Assistance (060):</p>

        <p class="vp-field-value" ng-repeat="obligation in programData.financial.obligations">{{traverseTree(obligation.assistanceType, 'assistance_type').displayValue}} </p>

    </div>

    <div>
        <p class="vp-field-label-big"> Uses and Use Restrictions (070): </p>

        <div class="tabover">
            <p class="vp-field-label"> Describe how assistance can potentially be used </p>

            <p class="vp-field-value">{{ programData.usage.rules.content }}</p>

            <p class="vp-field-label"> Are there specific restrictions place upon the use of the assistance? </p>

            <p class="vp-field-value">{{traverseTree(programData.usage.restrictions.flag, 'yes_no_na').value}}</p>

            <p class="vp-field-value" ng-show="programData.usage.restrictions.flag === 'yes'">{{programData.usage.restrictions.content}}</p>

            <p class="vp-field-label"> Are there discretionary funds available? </p>

            <p class="vp-field-value">{{traverseTree(programData.usage.discretionaryFund.flag, 'yes_no_na').value}}</p>
            <p class="vp-field-value" ng-show="programData.usage.discretionaryFund.flag === 'yes'">{{programData.usage.discretionaryFund.content}}</p>

            <p class="vp-field-label"> Are loans a type of assistance in this program? </p>

            <p class="vp-field-value">{{traverseTree(programData.usage.loanTerms.flag, 'yes_no_na').value}}</p>
            <p class="vp-field-value" ng-show="programData.usage.loanTerms.flag === 'yes'">{{programData.usage.loanTerms.content}}</p>
        </div>
    </div>

</div>