<div class="subsection financial-info">

    <p class="vp-field-label-big"> Related Programs (160)</p>

    <p class="vp-field-value">
            <span ng-if="programData.relatedPrograms.flag == 'yes'">
                <span ng-repeat="item in relatedPrograms">
                    <b>{{item.programNumber}}</b> {{item.title}}
                    <br>
                </span>
            </span>
        <span ng-if="programData.relatedPrograms.flag == 'na'">Not Applicable</span>
    </p>


    <p class="vp-field-label-big"> Examples of Funded Projects (170)</p>

    <p class="vp-field-value">
            <span ng-if="programData.projects.flag == 'yes'">
                <span ng-repeat="(key,value) in programData.projects.list">
                    <span ng-if="value.content.actual"> Fiscal Year: {{key}} {{value.content.actual}}</span>
                    <span ng-if="value.content.projection"> Fiscal Year: {{key}} {{value.content.projection}}</span>
                    <br>
                </span>
            </span>
        <span ng-if="programData.projects.flag == 'na'">Not Applicable</span>
    </p>


    <p class="vp-field-label-big"> Criteria for Selecting Proposals (180)</p>

    <p class="vp-field-value">
        <span ng-if="programData.application.selectionCriteria.flag == 'yes'">{{programData.application.selectionCriteria.content}}</span>
        <span ng-if="programData.application.selectionCriteria.flag == 'na'">Not Applicable</span>
        <span ng-if="programData.application.selectionCriteria.flag == 'no'">No</span></p>

</div>