<div class="subsection general-info">
    <h3 class="section-header"> General Information</h3>

    <div>
        <p class="vp-field-label"> Listing Title (010):</p>

        <p class="vp-field-value" ng-bind="programData.title"></p>
    </div>

    <div>
        <p class="vp-field-label"> Popular Name (020):</p>

        <p class="vp-field-value" ng-bind="programData.alternativeNames"></p>
    </div>


    <div>
        <p class="vp-field-label"> Authorization (040):</p>

        <div class="vp-field-value" ng-repeat="item in programData.authorizations"><p>{{item.act.description}},</p></div>
    </div>

    <div>
        <p class="vp-field-label"> Objectives (050): </p>

        <p class="vp-field-value" ng-bind="programData.objective"></p>
    </div>


    <div>
        <p class="vp-field-label"> Types of Assistance (040):</p>

        <div class="vp-field-value" ng-repeat="item in programData.assistanceTypes">
            <p>{{traverseTree(item).displayValue}}</p>
        </div>
    </div>

    <div>
        <p class="vp-field-label"> Uses and Use Restrictions (070): </p>

        <p class="vp-field-value">{{ programData.usage.rules.content }}</p>
    </div>

</div>