<!--<div class="subsection regulations-info">-->
    <!--<p class="vp-field-label">Are there any regulations, guidelines or literature?</p>-->

    <!--<div class="tabover">-->
        <!--<p class="vp-field-value">{{traverseTree(programData.postAward.documents.flag, 'yes_no_na').value}}</p>-->

        <!--<div class="tabover" ng-show="programData.postAward.documents.flag === 'yes'">-->

            <!--<p class="vp-field-label"> Please describe regulations, guidelines, and literature.</p>-->

            <!--<p class="vp-field-value" ng-bind="programData.postAward.documents.content"></p>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->