
<div class="subsection eligibility-info">
    <h3 class="section-header"> Eligibility Requirements (080)</h3>

    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Applicant Eligibility (081):</h4>

        <h5>Eligible Applicants</h5>

        <div class="vp-field-value" ng-repeat="item in programData.eligibility.applicant.types"><p>{{item}},</p></div>

        <h5>Use Of Assistance</h5>

        <div class="vp-field-value" ng-repeat="item in programData.eligibility.applicant.assistanceUsageTypes"><p>{{item}},</p></div>

        <h5>Additional Information</h5>

        <p class="vp-field-value" ng-bind="programData.eligibility.applicant.additionalInfo.content"></p>

    </div>

    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Beneficiary Eligibility (082):</h4>
        <h5>Beneficiary Eligibility</h5>

        <div class="vp-field-value" ng-repeat="item  in programData.eligibility.beneficiary.types"><p>{{item}},</p>
        </div>

        <h5>Additional Information</h5>

        <p class="vp-field-value" ng-bind="programData.eligibility.beneficiary.additionalInfo.content"></p>
    </div>

    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Credentials/Documentation (083):</h4>

        <h5>Are there credentials or documentation?</h5>

        <p class="vp-field-value" ng-bind="programData.eligibility.documentation.flag"></p>

        <h5>Please explain:</h5>

        <p class="vp-field-value" ng-bind="programData.eligibility.documentation.content"></p>

        <h5>Is 2 CFR 200, Subpart E - Cost Principles applicable?</h5>

        <p class="vp-field-value" ng-bind="programData.eligibility.documentation.questions['OMBCircularA87'].flag"></p>

    </div>

</div>
