<div class="subsection assistanceRequirements-info">
    <div>
        <p class="vp-field-label-big"> Reports (111):</p>

        <p class="vp-field-label">Are reports required by the funding agency?</p>

        <p class="vp-field-value" ng-bind="programData.postAward.reports.flag"></p>

        <div class="tabover" ng-show="programData.postAward.reports.flag =='yes'">

            <p class="vp-field-label"> Are program reports required? </p>
            <p class="vp-field-value" ng-bind="programData.postAward.reports.list.program.flag"></p>

            <div class="tabover" ng-show="programData.postAward.reports.list.program.flag =='yes'">
                <p class="vp-field-label"> Please describe the program reports required. </p>

                <p class="vp-field-value" ng-bind="programData.postAward.reports.list.program.content"></p>
            </div>


            <p class=" vp-field-label"> Are cash reports required? </p>
            <p class="vp-field-value" ng-bind="programData.postAward.reports.list.cash.flag"></p>

            <div class="tabover" ng-show="programData.postAward.reports.list.cash.flag =='yes'">
                <p class="vp-field-label">Please describe the cash reports required.</p>
                <p class="vp-field-value" ng-bind="programData.postAward.reports.list.cash.content"></p>
            </div>


            <p class="vp-field-label"> Are progress reports required? </p>
            <p class="vp-field-value" ng-bind="programData.postAward.reports.list.progress.flag"></p>

            <div class="tabover" ng-show="programData.postAward.reports.list.progress.flag === 'yes'">
                <p class="vp-field-label">Please describe the progress reports required. </p>

                <p class="vp-field-value" ng-bind="programData.postAward.reports.list.progress.content"></p>
            </div>

            <p class="vp-field-label"> Are expenditure reports required? </p>
            <p class="vp-field-value" ng-bind="programData.postAward.reports.list.expenditure.flag"></p>

            <div class="tabover" ng-show="programData.postAward.reports.list.expenditure.flag === 'yes'">
                <p class="vp-field-label">Please describe the expenditure reports required.</p>

                <p class="vp-field-value" ng-bind="programData.postAward.reports.list.expenditure.content"></p>
            </div>

            <p class="vp-field-label"> Is performance monitoring required? </p>
            <p class="vp-field-value" ng-bind="programData.postAward.reports.list.performanceMonitoring.flag"></p>

            <div class="tabover" ng-show="programData.postAward.reports.list.performanceMonitoring.flag === 'yes'">
                <p class="vp-field-label">Please describe the performance monitoring required.</p>

                <p class="vp-field-value" ng-bind="programData.postAward.reports.list.performanceMonitoring.content"></p>
            </div>
        </div>
    </div>


    <div>
        <p class="vp-field-label-big"> Audits (112):</p>

        <p class="vp-field-label">Are audits required for the program?</p>

        <p class="vp-field-value" ng-bind="programData.postAward.audit.flag"></p>

        <div class="tabover" ng-show="programData.postAward.audit.flag === 'yes'">

            <p class="vp-field-label"> Does 2 CFR 200, Subpart F - Audit Requirements apply to this program?</p>
            <p class="vp-field-value" ng-bind="programData.postAward.audit.questions['OMBCircularA133'].flag"></p>

            <p class="vp-field-label"> What audit procedures have been mandated for the program?</p>
            <p class="vp-field-value" ng-bind="programData.postAward.audit.content"></p>

        </div>
    </div>

    <div>
        <p class="vp-field-label-big"> Records (113):</p>

        <p class="vp-field-label">Describe what records the Federal agency requires the recipient to maintain and the time periods.</p>

        <p class="vp-field-value" ng-bind="programData.postAward.records.content"></p>

    </div>

</div>