
<div class="subsection awardProcess-info">
    <h3 class="section-header">3 --  Application and Award Process (090)</h3>

    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Preapplication Coordination (091):</h4>

        <h5>Is any prior coordination or approval required with governmental or nongovernmental units
            prior to the submission of a formal application to the Federal funding agency?</h5>

        <p class="vp-field-value" ng-bind="programData.preApplication.coordination.flag"></p>

        <!--<h5>Does this program require submission of environmental impact information?</h5>-->
        <!--<p class="vp-field-value" ng-bind="programData.preApplication.coordination.flag"></p>-->

        <!-- doesnt show up for some fals -->
        <h5>Does Executive Order 12372, "Intergovernmental Review of Federal Programs", apply to this
            program?</h5>

        <p class="vp-field-value"
           ng-bind="programData.preApplication.coordination.questions.ExecutiveOrder12372.flag"></p>

        <h5>Additional Information:</h5>

        <p class="vp-field-value" ng-bind="programData.preApplication.coordination.additionalInfo.content"></p>

    </div>


    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Application Procedures (092):</h4>

        <h5>Does 2 CFR 200, Uniform Administrative Requirements, Cost Principles,
            and Audit Requirements for Federal Awards apply to this program?</h5>

        <p class="vp-field-value" ng-bind="programData.application.procedures.questions.OMBCircularA102.flag"></p>

        <h5>Other Application Procedures:</h5>

        <p class="vp-field-value" ng-bind="programData.application.procedures.additionalInfo.content"></p>

    </div>


    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Award Procedure (093):</h4>

        <h5>What are the basic procedural steps for awarding assistance?</h5>

        <p class="vp-field-value" ng-bind="programData.award.procedures.content"></p>

    </div>


    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Deadlines (094):</h4>

        <h5>Is a deadline for submission of application available?</h5>

        <p class="vp-field-value" ng-if="programData.application.deadlines.submission.flag == 'yes'">Yes</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.submission.flag == 'no'">No</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.submission.flag == 'contactHQ'">
            Contact the headquarters or regional office, as appropriate for application deadlines</p>


        <!-- dates -->
        <div ng-show="programData.application.deadlines.submission.flag=='yes'">
            <div ng-repeat="deadline in programData.application.deadlines.submission.list">
                <table style="margin: 0px;">
                    <tr>
                        <td style="padding:4px;vertical-align:top;border:0px">Deadline Start Date:</td>
                        <td style="padding:4px;vertical-align:top;border:0px">Deadline End Date:</td>
                    </tr>
                    <tr>
                        <td style="padding:4px;vertical-align:top;border:0px">
                            <div class="col-md-6">
                                <p class="input-group">
                                            <span type="text"
                                                  class="italic">{{deadline.start | date: 'MMM dd, yyyy'}}</span>
                                </p>
                            </div>
                        </td>
                        <td style="padding:4px;vertical-align:top;border:0px">
                            <div class="col-md-6">
                                <p class="input-group">
                                            <span type="text"
                                                  class="italic">{{deadline.end | date: 'MMM dd, yyyy'}}</span>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <br/>Description:<br/>
                <span type="text" class="italic" id="deadlineDesc7">{{deadline.description}}</span>
                <br/>
            </div>
        </div>

        <h5>Other Deadline Information:</h5>

        <p class="vp-field-value" ng-bind="programData.application.deadlines.submission.additionalInfo.content">
            Yes</p>
    </div>

    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Range of Approval/Disapproval Time(095):</h4>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='1'">From 1 to 15 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='2'">From 15 to 30 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='3'">From 30 to 60 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='4'">From 60 to 90 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='5'">From 90 to 120 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='6'">From 120 to 180 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='7'">&gt; 180 Days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='8'">Not Applicable</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.approval.interval =='9'">Other</p>

        <h4 class="vp-field-label" style="font-weight:bold;"> Other Approval Information:</h4>

        <p class="vp-field-value" ng-bind="programData.application.deadlines.approval.otherInfo.content"></p>

    </div>


    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Appeals (096):</h4>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='1'">From 1 to 15 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='2'">From 15 to 30 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='3'">From 30 to 60 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='4'">From 60 to 90 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='5'">From 90 to 120 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='6'">From 120 to 180 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='7'">&gt; 180 Days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='8'">Not
            Applicable</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.appeal.interval =='9'">Other</p>


        <h4 class="vp-field-label" style="font-weight:bold;"> Other Appeals Information:</h4>

        <p class="vp-field-value" ng-bind="programData.application.deadlines.appeal.otherInfo.content"></p>

    </div>

    <div>
        <h4 class="vp-field-label" style="font-weight:bold;"> Renewals (097):</h4>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='1'">From 1 to 15 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='2'">From 15 to 30 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='3'">From 30 to 60 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='4'">From 60 to 90 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='5'">From 90 to 120 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='6'">From 120 to 180 days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='7'">&gt; 180 Days</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='8'">Not Applicable</p>

        <p class="vp-field-value" ng-if="programData.application.deadlines.renewal.interval =='9'">Other</p>

        <h4 class="vp-field-label" style="font-weight:bold;"> Other Renewals Information:</h4>

        <p class="vp-field-value" ng-bind="programData.application.deadlines.renewal.otherInfo.content"></p>

    </div>
</div>
