<h3> Related Programs</h3>

<ul ng-if="programData.relatedPrograms.flag == 'yes'">
  <li ng-repeat="item in relatedPrograms">
    <b>{{item.programNumber}}</b> {{item.title}}
  </li>
</ul>

<p class="m-t-0" ng-if="programData.relatedPrograms.flag == 'na'">
  Not Applicable
</p>


<h3> Examples of Funded Projects</h3>

<p>
  <span ng-if="programData.projects.flag == 'yes'">
    <span ng-repeat="(key,value) in programData.projects.list">
      <span ng-if="value.content.actual">
        Fiscal Year: {{key}} {{value.content.actual}}
      </span>
      <span ng-if="value.content.projection">
        Fiscal Year: {{key}} {{value.content.projection}}
      </span>
      <br>
    </span>
  </span>
  <span ng-if="programData.projects.flag == 'na'">Not Applicable</span>
</p>


<h3> Criteria for Selecting Proposals</h3>

<p>
  <span ng-if="programData.application.selectionCriteria.flag == 'yes'">
    {{programData.application.selectionCriteria.content}}
  </span>
  <span ng-if="programData.application.selectionCriteria.flag == 'na'">
    Not Applicable
  </span>
  <span ng-if="programData.application.selectionCriteria.flag == 'no'">
    No
  </span>
</p>
