<div class="usa-grid-full">
    <div class="usa-width-one-twelfth" style="margin-top:3em;">
        <img src="/img/links/PublicUserGuide.png" alt="CFDA Public User Guide">
    </div>

    <div class="usa-width-three-fourths">
        <h2 ng-bind="programData.title" style="margin-bottom: 0;"></h2>

        <div><span class="popularName">{{programData.alternativeNames[0]}}</span></div>
        <div><span class="programNumber">Program Number: {{programData.programNumber}} </span></div>
        <div><span class="agencyName">Agency: {{programData.agencyId}}</span></div>

    </div>
</div>