<div class="usa-grid-full">
    <div class="usa-alert usa-alert-info" ng-show="onPreviewPage">
        <div class="usa-alert-body">
            <h3 class="usa-alert-heading">FAL Preview</h3>

            <p class="usa-alert-text">Please note that only saved information displays in Preview.</p>
        </div>
    </div>
</div>

<div class="usa-grid-full">
    <div class="usa-width-one-twelfth" style="margin-top:3em;">
        <img src="/img/links/PublicUserGuide.png" alt="CFDA Public User Guide">
    </div>

    <div class="usa-width-three-fourths">
        <h2 ng-bind="programData.title" style="margin-bottom: 0;"></h2>

        <div><span class="popularName">{{programData.alternativeNames[0]}}</span></div>
        <div><span class="programNumber" ng-show="programData.status !== 'Draft'">Program Number: {{programData.programNumber}} </span></div>
        <div><span>Department: {{hierarchyLevels.DEPARTMENT}} </span></div>
        <div><span>Agency: {{hierarchyLevels.AGENCY}} </span></div>
        <div><span>Office: {{hierarchyLevels.OFFICE}}</span></div>

    </div>
</div>