<div class="usa-grid-full">
    <div class="usa-alert usa-alert-info" ng-show="onPreviewPage">
        <div class="usa-alert-body">
            <h3 class="usa-alert-heading">FAL Preview</h3>

            <p class="usa-alert-text">This page displays saved FAL information in the same way that a public user would view an FAL.
                The updated data will not be publically available until the FAL goes through the workflow process.
                Please save the FAL, and return to preview, if you have entered additional information and want to see the updates reflected in preview.</p>
        </div>
    </div>
</div>

<div class="usa-grid-full">
    <div class="usa-width-one-twelfth" style="margin-top:3em;">
        <img src="/img/links/PublicUserGuide.png" alt="CFDA Public User Guide">
    </div>

    <div class="usa-width-three-fourths">
        <h2 ng-bind="programData.title" style="margin-bottom: 0;"></h2>

        <div><span class="popularName">{{programData.alternativeNames[0]}}</span></div>
        <div><span class="programNumber">Program Number: {{programData.programNumber}} </span></div>
        <div><span>Department: {{hierarchyLevels.DEPARTMENT}} </span></div>
        <div><span>Agency: {{hierarchyLevels.AGENCY}} </span></div>
        <div><span>Office: {{hierarchyLevels.OFFICE}}</span></div>

    </div>
</div>