<div class="usa-grid-full vp-section">
    <!-- program information -->
    <div class="usa-width-three-fourths" style="">
        <h1> Listing Information </h1>

        <div class="subsection general-info">
            <h2> Sub-Section 1 (General Information)</h2>

            <div>
                <h4 class="vp-field-label" style="font-weight: ;"> Listing Title (010):</h4>

                <p class="vp-field-value" ng-bind="program.title"></p>
            </div>

            <div>
                <h4 class="vp-field-label" style="font-weight: ;"> Popular Name (020):</h4>

                <p class="vp-field-value" ng-bind="program.alternativeNames"></p>
            </div>


            <div>
                <h4 class="vp-field-label" style="font-weight: ;"> Authorization (040):</h4>

                <div class="vp-field-value" ng-repeat="item in programData.authorizations"><p>{{item.act.description}},</p>
                </div>
            </div>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Objectives (050): </h4>

                <p class="vp-field-value" ng-bind="program.objective"></p>
            </div>


            <div>
                <h4 class="vp-field-label" style="font:bold;"> Types of Assistance (040):</h4>

                <div class="vp-field-value" ng-repeat="item in program.assistanceTypes"><p>{{item}},</p></div>
            </div>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Uses and Use Restrictions (070): </h4>

                <p class="vp-field-value" ng-bind="program.usage.rules.content"></p>
            </div>

        </div>


        <div class="subsection general-info">
            <h2> Sub-Section 2 (Eligibility Requirements (080))</h2>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Applicant Eligibility (081):</h4>

                <h5>Eligible Applicants</h5>

                <div class="vp-field-value" ng-repeat="item in program.eligibility.applicant.types"><p>{{item}},</p>
                </div>

                <h5>Use Of Assistance</h5>

                <div class="vp-field-value" ng-repeat="item in program.eligibility.applicant.assistanceUsageTypes"><p>
                    {{item}},</p></div>

                <h5>Additional Information</h5>

                <p class="vp-field-value" ng-bind="program.eligibility.applicant.additionalInfo.content"></p>

            </div>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Beneficiary Eligibility (082):</h4>
                <h5>Beneficiary Eligibility</h5>

                <div class="vp-field-value" ng-repeat="item  in program.eligibility.beneficiary.types"><p>{{item}},</p>
                </div>

                <h5>Additional Information</h5>

                <p class="vp-field-value" ng-bind="program.eligibility.beneficiary.additionalInfo.content"></p>
            </div>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Credentials/Documentation (083):</h4>

                <h5>Are there credentials or documentation?</h5>

                <p class="vp-field-value" ng-bind="program.eligibility.documentation.flag"></p>

                <h5>Please explain:</h5>

                <p class="vp-field-value" ng-bind="program.eligibility.documentation.content"></p>

                <h5>Is 2 CFR 200, Subpart E - Cost Principles applicable?</h5>

                <p class="vp-field-value"
                   ng-bind="program.eligibility.documentation.questions['OMBCircularA87'].flag"></p>

            </div>

        </div>


        <div class="subsection general-info">
            <h2> Sub-Section 3 (Application and Award Process (090))</h2>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Preapplication Coordination (091):</h4>

                <h5>Is any prior coordination or approval required with governmental or nongovernmental units
                    prior to the submission of a formal application to the Federal funding agency?</h5>

                <p class="vp-field-value" ng-bind="program.preApplication.coordination.flag"></p>

                <!--<h5>Does this program require submission of environmental impact information?</h5>-->
                <!--<p class="vp-field-value" ng-bind="program.preApplication.coordination.flag"></p>-->

                <!-- doesnt show up for some fals -->
                <h5>Does Executive Order 12372, "Intergovernmental Review of Federal Programs", apply to this
                    program?</h5>

                <p class="vp-field-value"
                   ng-bind="program.preApplication.coordination.questions.ExecutiveOrder12372.flag"></p>

                <h5>Additional Information:</h5>

                <p class="vp-field-value" ng-bind="program.preApplication.coordination.additionalInfo.content"></p>

            </div>


            <div>
                <h4 class="vp-field-label" style="font:bold;"> Application Procedures (092):</h4>

                <h5>Does 2 CFR 200, Uniform Administrative Requirements, Cost Principles, and Audit Requirements
                    for Federal Awards apply to this program?</h5>

                <p class="vp-field-value" ng-bind="program.application.procedures.questions.OMBCircularA102.flag"></p>

                <h5>Other Application Procedures:</h5>

                <p class="vp-field-value" ng-bind="program.application.procedures.additionalInfo.content"></p>

            </div>


            <div>
                <h4 class="vp-field-label" style="font:bold;"> Award Procedure (093):</h4>

                <h5>What are the basic procedural steps for awarding assistance?</h5>

                <p class="vp-field-value" ng-bind="program.award.procedures.content"></p>

            </div>


            <div>
                <h4 class="vp-field-label" style="font:bold;"> Deadlines (094):</h4>

                <h5>Is a deadline for submission of application available?</h5>

                <p class="vp-field-value" ng-if="program.application.deadlines.submission.flag == 'yes'">Yes</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.submission.flag == 'no'">No</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.submission.flag == 'contactHQ'">Contact
                    the headquarters or regional office, as appropriate for application deadlines</p>


                <!-- dates -->
                <div ng-show="program.application.deadlines.submission.flag=='yes'">
                    <div ng-repeat="deadline in program.application.deadlines.submission.list">
                        <table style="margin: 0px;">
                            <tr>
                                <td style="padding:4px;vertical-align:top;border:0px">Deadline Start Date:</td>
                                <td style="padding:4px;vertical-align:top;border:0px">Deadline End Date:</td>
                            </tr>
                            <tr>
                                <td style="padding:4px;vertical-align:top;border:0px">
                                    <div class="col-md-6">
                                        <p class="input-group">
                                            <span type="text"
                                                  class="italic">{{deadline.start | date: 'MMM dd, yyyy'}}</span>
                                        </p>
                                    </div>
                                </td>
                                <td style="padding:4px;vertical-align:top;border:0px">
                                    <div class="col-md-6">
                                        <p class="input-group">
                                            <span type="text"
                                                  class="italic">{{deadline.end | date: 'MMM dd, yyyy'}}</span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br/>Description:<br/>
                        <span type="text" class="italic" id="deadlineDesc7">{{deadline.description}}</span>
                        <br/>
                    </div>
                </div>

                <h5>Other Deadline Information:</h5>

                <p class="vp-field-value" ng-bind="program.application.deadlines.submission.additionalInfo.content">
                    Yes</p>
            </div>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Range of Approval/Disapproval Time(095):</h4>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='1'">From 1 to 15
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='2'">From 15 to 30
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='3'">From 30 to 60
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='4'">From 60 to 90
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='5'">From 90 to 120
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='6'">From 120 to 180
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='7'">&gt; 180
                    Days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='8'">Not
                    Applicable</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.approval.interval =='9'">Other</p>

                <h4 class="vp-field-label" style="font:bold;"> Other Approval Information:</h4>

                <p class="vp-field-value" ng-bind="program.application.deadlines.approval.otherInfo.content"></p>

            </div>


            <div>
                <h4 class="vp-field-label" style="font:bold;"> Appeals (096):</h4>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='1'">From 1 to 15 days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='2'">From 15 to 30 days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='3'">From 30 to 60 days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='4'">From 60 to 90 days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='5'">From 90 to 120 days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='6'">From 120 to 180
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='7'">&gt; 180
                    Days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='8'">Not
                    Applicable</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.appeal.interval =='9'">Other</p>


                <h4 class="vp-field-label" style="font:bold;"> Other Appeals Information:</h4>

                <p class="vp-field-value" ng-bind="program.application.deadlines.appeal.otherInfo.content"></p>

            </div>

            <div>
                <h4 class="vp-field-label" style="font:bold;"> Renewals (097):</h4>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='1'">From 1 to 15
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='2'">From 15 to 30
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='3'">From 30 to 60
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='4'">From 60 to 90
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='5'">From 90 to 120
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='6'">From 120 to 180
                    days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='7'">&gt; 180
                    Days</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='8'">Not
                    Applicable</p>

                <p class="vp-field-value" ng-if="program.application.deadlines.renewal.interval =='9'">Other</p>


                <h4 class="vp-field-label" style="font:bold;"> Other Renewals Information:</h4>

                <p class="vp-field-value" ng-bind="program.application.deadlines.renewal.otherInfo.content"></p>

            </div>
        </div>

        <div class="subsection general-info">
            <h2> Sub-Section 4 (Assistance Consideration (100))</h2>

            <div>

                <h4 class="vp-field-label" style="font:bold;"> Formula and Matching Requirements (101):</h4>

                <p class="vp-field-value" ng-bind="program.title"></p>
            </div>


        </div>


        <!--<div class="usa-width-one-fourth" style="background-color:lightgreen;">-->
        <!--<div class="usa-grid-full">-->
        <!--<h3> Contact Information </h3>-->
        <!--</div>-->
        <!--<div class="usa-grid-full">-->
        <!--<h3> History </h3>-->
        <!--</div>-->

        <!--</div>-->


    </div>

