<primary-nav-bar></primary-nav-bar>
<global-search-box ng-controller="ProgramSearchCtrl"></global-search-box>


<div ng-include="'programs/view/titleHeading.tpl.html'"></div>


<div ng-show="programData" class="usa-grid-full vp-section">
    <h1> Listing Information </h1>

    <div class="usa-width-three-fourths" style="">
        <div ng-include="'programs/view/section1.tpl.html'"></div>
        <div ng-include="'programs/view/section2.tpl.html'"></div>
        <div ng-include="'programs/view/section3.tpl.html'"></div>
        <div ng-include="'programs/view/section4.tpl.html'"></div>
        <div ng-include="'programs/view/section4_1.tpl.html'"></div>
        <div ng-include="'programs/view/section4_2.tpl.html'"></div>
        <div ng-include="'programs/view/section5.tpl.html'"></div>
        <div ng-include="'programs/view/section6.tpl.html'"></div>
    </div>
    <div class="usa-width-one-fourth">
        <div class="right-column" ng-include="'programs/view/section6.tpl.html'"></div>
    </div>
</div>
<div ng-show="!programData">
    <!-- loading icon -->
</div>

