<div ng-show="programData" class="usa-grid-full vp-section">

    <div class="usa-width-three-fourths" style="">
        <h1> Listing Information </h1>

        <div ng-include="'programs/view/section1.tpl.html'"></div>
        <div ng-include="'programs/view/section2.tpl.html'"></div>
        <div ng-include="'programs/view/section3.tpl.html'"></div>
        <div ng-include="'programs/view/section4.tpl.html'"></div>
        <div ng-include="'programs/view/section5.tpl.html'"></div>

    </div>

    <div class="usa-width-one-fourth">
        <div ng-include="'programs/view/section6.tpl.html'"></div>
    </div>

</div>
<div ng-show="!programData">
    <!-- loading icon -->
</div>

