<primary-nav-bar></primary-nav-bar>

<div class="ui fixed container">
    <div class="ui grid" style="margin-bottom: 0;">
        <div class="one column row">
            <div class="column">

                <h1>My <span ng-show="isProgramList">Listings</span><span ng-show="!isProgramList">Requests</span></h1>

                <ul class="tab-menu">
                    <li ng-class="listService.isActiveList() ? 'tab-selected' : '';" ng-click="changeList('activePrograms')"><span>Active Listings</span></li>
                    <li ng-class="listService.isArchivedList() ? 'tab-selected' : '';" ng-click="changeList('archivedPrograms')"><span>Archived Listings</span></li>
                    <li ng-class="listService.isRequestList() ? 'tab-selected' : '';" ng-click="changeList('requests')"><span>Requests</span></li>
                </ul>
            </div>
        </div>
        <div class="four column row">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
            <a ng-if="listService.isActiveList()" class="ui fluid primary button" ui-sref="addProgram" has-access="{{ [PERMISSIONS.CAN_CREATE_PROGRAMS] }}">Create a new listing</a>
            </div>
            <div class="column">
            <div class="ui search">
                    <div class="ui icon fluid input">
                        <input ng-model="listService.searchKeyword" type="search" class="prompt" placeholder="Search Listings" aria-controls="listings-table">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="five column row" ng-if="listService.isActiveList()">
            <div class="column">
                <input id="allFilter" ng-click="toggleSelectAll()" type="checkbox" ng-checked="filters.draft && filters.pending && filters.published && filters.rejected">
                <label for="allFilter">Select All</label>
            </div>
            <div class="column">
                <input id="draftFilter" type="checkbox" ng-model="filters.draft">
                <label for="draftFilter">Draft</label>
            </div>
            <div class="column">
                <input id="pendingFilter" type="checkbox" ng-model="filters.pending">
                <label for="pendingFilter">Pending</label>
            </div>
            <div class="column">
                <input id="publishedFilter" type="checkbox" ng-model="filters.published">
                <label for="publishedFilter">Published</label>
            </div>
            <div class="column">
                <input id="rejectedFilter" type="checkbox" ng-model="filters.rejected">
                <label for="rejectedFilter">Rejected</label>
            </div>
        </div>
    </div>
</div>

<table id="programsTable" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="ui darkblue table"></table>
