.vp-section {

  .vp-field-label {
    font-size: .9em;
    font-weight: bold;
    margin-bottom: .1em;
    margin-top: 1.2em;
  }
  .vp-field-value {
    margin:0;
    color: blue;
    p{
      margin:0;
    }
  }

  .right-column {
    .contact-info {
      background-color: #F1FAE6;
      padding: 20px;

      .website a {
        width: 90%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover {
          width: auto;
          display: block;
          overflow: visible;
          white-space: normal;
        }
      }
      .vp-field-value {
        margin-bottom: 15px;
      }

    }

    .section-header{
      color:black;
      margin: auto;
      font-size: 1em;
      border:none;

    }
  }

  .section-header {
    color: #aeb0b5;
    margin: 0;
    margin-top: .7em;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-size: x-large;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #aeb0b5;
  }

  .subsection {
    margin-bottom: 3em;
  }

}