<div>
  <ul class="uib-datepicker-popup uib-position-measure usa-margin-all-0" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()">
    <li ng-transclude></li>
    <li ng-if="showButtonBar" class="uib-button-bar">
      <button type="button" class="uib-datepicker-current" ng-click="select('today', $event)" ng-disabled="isDisabled('today')">{{ getText('current') }}</button>
      <button type="button" class="uib-clear usa-button-secondary" ng-click="select(null, $event)">{{ getText('clear') }}</button>
      <button type="button" class="uib-close usa-button-gray-light" ng-click="close($event)">{{ getText('close') }}</button>
    </li>
  </ul>
</div>
