.steps-indicator {
  li {
    padding-top: ($badge-dimensions * 2) / 3;
    &::before {
      content: '';
    }
  }
}

.steps-num {
  position: absolute;
  top: ($badge-dimensions / 2) * -1;
  left: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display: table;
  color: $badge-font-color;

  &::before,
  &::after {
    content: '';
    position: relative;
    top: ($badge-dimensions / 2);
    display: block;
    height: 1px;
    background-color: $badge-color;
  }
  .steps-num-badge {
    display: table-cell;
    box-sizing: border-box;
    width: $badge-dimensions;
    height: $badge-dimensions;
    padding: $badge-padding;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: $badge-color;
  }
}