<primary-nav-bar></primary-nav-bar>

<div class="ui fixed container">

    <h1 style="margin-top:30px;">Edit Organization</h1>

    <div class="usa-grid-full" style="clear: both;">
        <div ng-show="flash && flash.type && flash.message" class="usa-alert" ng-class="'usa-alert-'+flash.type">
            <div class="usa-alert-body">
                <p class="usa-alert-text">{{ flash.message }}</p>
            </div>
        </div>
    </div>

    <div class="ui small horizontal list">

        <div class="item">
            <div class="content">
                <div class="header">Created</div>
                April 20, 2009 12:48 pm
            </div>
        </div>

        <div class="item">
            <div class="content">
                <div class="header">Modified</div>
                April 18, 2016 8:00 am by <em>Michael Stephenson</em>
            </div>
        </div>

    </div>

    <form class="ui form" style="margin-bottom: 50px;">

        <div class="three fields" style="margin-bottom: 30px;">

            <div class="disabled field">
                <label for="name">Name</label>
                <input type="text" id="name" ng-model="oOrganization.name">
            </div>

            <div class="disabled field">
                <label for="agencycode">Agency Code</label>
                <input type="text" id="agencycode" ng-model="oOrganization.agencyCode">
            </div>

            <div class="field">
                <label for="acronym">Acronym/Shortname</label>
                <input type="text" id="acronym" ng-model="oOrganization.acronym" disabled="">
            </div>

        </div>


        <div class="four fields" style="margin:40px 0px 30px 0px;">

            <div class="disabled field">
                <label for="agencyProgramCode">Agency Program Code</label>
                <input type="text" id="agencyProgramCode" ng-model="oOrganization.agencyProgramCode">
            </div>

            <div class="field">
                <label for="programNumberLow">Program Low Number</label>
                <input type="text" id="programNumberLow"  ng-model="oOrganization.programNumberLow">
            </div>

            <div class="field">
                <label for="programNumberHigh">Program High Number</label>
                <input type="text" id="programNumberHigh" ng-model="oOrganization.programNumberHigh">
            </div>

            <div class="field">
                <!-- note: have to switch the value. auto=!manual -->
                <label for="programNumberAuto">Use Manual FAL Number</label>
                <select id="programNumberAuto" class="ui fluid dropdown" ng-model="oOrganization.programNumberAuto">
                    <option value=""></option>
                    <option value="false">Yes</option>
                    <option value="true" selected>No</option>
                </select>
            </div>

        </div>

        <a ui-sref="organizationList" class="ui large button">Cancel</a>
        <button class="ui primary large button"  ng-click="saveFhConfiguration()" >Save</button>


    </form>

</div>



