
<primary-nav-bar></primary-nav-bar>

<div class="usa-grid usa-grid-fixed">
  <div class="usa-width-one-whole">

    <h1>View Organization</h1>

    <ul class="usa-horizontal-list usa-text-small">
      <li>
        <h5>Created</h5>
        <p>
          April 20, 2009 12:48 pm by <em>Michael Stephenson</em>
        </p>
      </li>
      <li>
        <h5>Modified</h5>
        <p>
          April 18, 2016 8:00 am by <em>Michael Stephenson</em>
        </p>
      </li>
    </ul>

  </div>
</div>


<div class="usa-grid usa-grid-fixed">

  <div class="usa-width-one-half" ng-if="oOrganization.parentPath">
    <label>Parent Agency</label>
    <p class="usa-input-readonly">{{oOrganization.parentPath}}</p>
  </div>

  <div class="usa-width-one-half" ng-if="oOrganization.name">
    <label>Name</label>
    <p class="usa-input-readonly">{{oOrganization.name}}</p>
  </div>

  <div class="usa-width-one-half" ng-if="oOrganization.agencyCode">
    <label>Agency Code</label>
    <p class="usa-input-readonly">{{oOrganization.agencyCode}}</p>
  </div>

  <div class="usa-width-one-half" ng-if="oOrganization.acronym">
    <label>Acronym/Shortname</label>
    <p class="usa-input-readonly">{{oOrganization.acronym}}</p>
  </div>

  <div class="usa-width-one-half" ng-if="oOrganization.agencyProgramCode">
    <label>Agency Program Code</label>
    <p class="usa-input-readonly">{{oOrganization.agencyProgramCode}}</p>
  </div>

  <div class="usa-width-one-half" ng-if="oOrganization.programNumberLow">
    <label>Program Low Number</label>
    <p class="usa-input-readonly">{{oOrganization.programNumberLow}}</p>
  </div>

  <div class="usa-width-one-half" ng-if="oOrganization.programNumberHigh">
    <label>Program High Number</label>
    <p class="usa-input-readonly">{{oOrganization.programNumberHigh}}</p>
  </div>

  <div class="usa-width-one-half">
    <label>Use Manual FAL Number</label>
    <p class="usa-input-readonly">{{(!oOrganization.programNumberAuto)? 'Yes': 'No'}}</p>
  </div>

</div>


<div class="usa-grid usa-grid-fixed usa-margin-bottom-3">
  <div class="usa-width-one-half usa-margin-top-3 usa-margin-bottom-3">
    <a class="usa-button usa-button-gray-light" ui-sref="organizationList">Return</a>
    <a class="usa-button" ui-sref="editOrganization({id: id})">Edit</a>
  </div>
</div>
