<primary-nav-bar></primary-nav-bar>

<section class="usa-grid-full">
<div ng-show="oRegionalOffice" class="usa-grid">
    <h2>View Regional Agency Office</h2>
    <div class="usa-width-full vp-section" style="width: 100%;">
        <div class="usa-grid-full">
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Agency: </label>
                <span class="vp-field-value"><strong><federal-hierarchy-label organization-id="{{ oRegionalOffice.organizationId }}"></strong></federal-hierarchy-label></span>
            </div>
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">State/Region: </label>
                <span class="vp-field-value"><strong>{{oRegionalOffice.region}}</strong></span>
            </div>
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Fax: </label>
                <span class="vp-field-value"><strong>{{oRegionalOffice.fax}}</strong></span>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Division: </label>
                <span class="vp-field-value"><strong>{{oDivision.displayValue}}</strong></span>
            </div>
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Sub-branch: </label>
                <span class="vp-field-value"><strong>{{oRegionalOffice.subBranch}}</strong></span>
            </div>
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Address: </label>
                <strong>
                    <span class="vp-field-value">{{oRegionalOffice.address.street}}</span>
                    <span class="vp-field-value">{{oRegionalOffice.address.city + (oRegionalOffice.address.city && oRegionalOffice.address.state ? ', ' : '') + oRegionalOffice.address.state + ' ' + oRegionalOffice.address.zip}}</span>
                    <span class="vp-field-value">{{oRegionalOffice.address.country}}</span>
                </strong>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Branch: </label>
                <span class="vp-field-value"><strong>{{oRegionalOffice.branch}}</strong></span>
            </div>
            <div class="usa-width-one-third">
                <label class="vp-field-label-big usa-margin-bottom-1">Phone: </label>
                <span class="vp-field-value"><strong>{{oRegionalOffice.phone}}</strong></span>
            </div>
            <div class="usa-width-one-third"></div>
        </div>
    </div>
</div>
</section>

<!--This section has the three buttons-->
    <section class="usa-grid usa-text-align-right usa-margin-top-3 usa-margin-bottom-3">
        <a ui-sref="regionalOfficeList"><button type="button" class="usa-button-gray">Return</button></a>
        <a ui-sref="editRegionalOffice({id: oRegionalOffice.id})" ng-if="hasPermission([PERMISSIONS.CAN_EDIT_REGIONAL_OFFICE])"><button type="button">Edit</button></a>
        <button type="button" ng-if="hasPermission([PERMISSIONS.CAN_DELETE_REGIONAL_OFFICE])" ng-click="deleteRegionalOffice()">Delete</button>
    </section>

<!--This section is only visible to super user and not the public(internal use)-->
<section class="usa-grid" style="padding: 10px 0px;">
    <div class="sub-form usa-grid" id="historyDiv" ng-if="hasRole([ROLES.SUPER_USER, ROLES.AGENCY_COORDINATOR, ROLES.AGENCY_USER, ROLES.OMB_ANALYST, ROLES.GSA_ANALYST, ROLES.RMO_SUPER_USER, ROLES.LIMITED_SUPER_USER])">
        <h4>Regional Agency Office Info</h4>
        <div class="usa-grid">
            <div class="usa-width-one-fourth"><label>Created:</label><span>{{oRegionalOffice.createdDate  | date:'medium' }}</span></div>
            <div class="usa-width-one-fourth"><label>By:</label><span>{{oRegionalOffice.createdBy}}</span></div>
            <div class="usa-width-one-fourth"><label>Modified:</label><span>{{oRegionalOffice.modifiedDate  | date:'medium' }}</span></div>
            <div class="usa-width-one-fourth"><label>By:</label><span>{{oRegionalOffice.modifiedBy}}</span></div>
        </div>
    </div>
</div>
<div ng-show="!oRegionalOffice" class="usa-grid loading">
    <!-- loading icon -->
    <img style="max-width: 10%;" src="/img/img_cfda/loading.svg"/>
</div>
</section>





