
<primary-nav-bar></primary-nav-bar>
<div ng-if="!userProfile" class="usa-grid-full loading">
    <!-- loading icon -->
    <div style="width: 10%; margin-left: auto; margin-right: auto;" >
        <img src="/img/img_cfda/loading.svg"/>
    </div>
</div>

<div ng-if="userProfile">
    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-whole">
            <h1>Edit User</h1>

            <div ng-show="flash && flash.type && flash.message" class="usa-alert" ng-class="'usa-alert-'+flash.type">
                <div class="usa-alert-body">
                    <p class="usa-alert-text">{{ flash.message }}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-third">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" ng-model="userProfile.fullName" disabled="">
        </div>

        <div class="usa-width-one-third">
            <label for="email">E-mail</label>
            <input type="text" id="email" ng-model="userProfile.email" disabled="">
        </div>

        <div class="usa-width-one-third">
            <label for="workPhone">Work Phone</label>
            <input type="text" id="workPhone" ng-model="userProfile.workPhone" disabled="">
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-whole">
            <label>Organization</label>
            <federal-hierarchy-inputs organization-id="userProfile.organizationId" no-default="true" hide-department="true"></federal-hierarchy-inputs>
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-third">
            <label for="cfdaRole">Role</label>
            <select id="cfdaRole" ng-options="item.id as item.value for item in cfdaRoles" ng-model="userProfile.role"></select>
        </div>
    </div>

    <div ng-show="isOMBAnalyst() || isRMOSuperUser()">
        <div class="usa-grid usa-grid-fixed">
            <div class="usa-width-one-third">
                <label>Which Organizations is this user responsible for?</label>
                <select ng-init="userProfile.additionalInfo.organizationType = (userProfile.additionalInfo.organizationType ? userProfile.additionalInfo.organizationType : 'default')" ng-model="userProfile.additionalInfo.organizationType">
                    <option value="default" selected="selected">User Organization</option>
                    <option value="all">All Organizations</option>
                    <option value="custom">Custom Organizations</option>
                </select>
            </div>
        </div>
        <div class="usa-grid usa-grid-fixed">
            <div class="usa-width-one-whole" ng-show="isCustomOrganizationType()">
                <label>Assigned Organization</label><span class="fa fa-plus-circle" style="cursor:pointer;" ng-click="addAssignedOrganization()"></span>
                <div ng-repeat="(key, value) in assignedOrganizationList track by key">
                    <div style="width:5%;display: inline-block;">
                        <span class="fa fa-minus-circle" style="cursor:pointer;font-size:4rem;" ng-click="removeAssignedOrganization(key)"></span>
                    </div>
                    <div style="width: 90%;display: inline-block;">
                        <federal-hierarchy-inputs organization-id="assignedOrganizationList[key]"></federal-hierarchy-inputs>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="isAgencyUser()">
        <div class="usa-grid usa-grid-fixed">
            <fieldset class="usa-fieldset-inputs usa-sans" style="margin-top:3rem;">
                <legend style="font-size:17px;font-weight:normal;">User Rights</legend>
                <ul class="usa-horizontal-list">
                    <li>
                        <input id="createPermission" type="checkbox" ng-model="customAgencyUserPermissions['CAN_CREATE_PROGRAMS']">
                        <label for="createPermission">Program (Create)</label>
                    </li>
                    <li>
                        <input id="submitPermission" type="checkbox" ng-model="customAgencyUserPermissions['CAN_REQUEST_SUBMISSION']">
                        <label for="submitPermission">Program (Submit)</label>
                    </li>
                    <li>
                        <input id="editPermission" type="checkbox" ng-model="customAgencyUserPermissions['CAN_EDIT_DRAFT_PROGRAMS']">
                        <label for="editPermission">Program (Edit)</label>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed usa-margin-bottom-3">
        <div class="usa-width-one-half usa-margin-top-3 usa-margin-bottom-3">
            <a class="usa-button usa-button-gray-light" ui-sref="userList">Cancel</a>
            <button class="usa-button" ng-click="saveUser()">Save</button>
        </div>
    </div>
</div>
