
<primary-nav-bar></primary-nav-bar>

<div ng-if="!userProfile" class="usa-grid-full loading">
    <!-- loading icon -->
    <div style="width: 10%; margin-left: auto; margin-right: auto;" >
        <img src="/img/img_cfda/loading.svg"/>
    </div>
</div>

<div ng-if="userProfile">
    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-whole">
            <h1>View User</h1>
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-whole">
            <label>Organization</label>
            <federal-hierarchy-label ng-if="userProfile.getOrganizationId()" organization-id="{{ userProfile.getOrganizationId() }}"></federal-hierarchy-label>
            <p class="usa-input-readonly" ng-if="!userProfile.getOrganizationId()">No organization</p>
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-third">
            <label>Full Name</label>
            <p class="usa-input-readonly">{{userProfile.getFullName()}}</p>
        </div>

        <div class="usa-width-one-third">
            <label>E-mail</label>
            <p class="usa-input-readonly">{{userProfile.getEmail()}}</p>
        </div>

        <div class="usa-width-one-third">
            <label>Work Phone</label>
            <p class="usa-input-readonly">{{userProfile.getWorkPhone()}}</p>
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed">
        <div class="usa-width-one-third">
            <label>Role</label>
            <p class="usa-input-readonly">{{userProfile.getRole()}}</p>
        </div>
    </div>

    <div ng-if="isOMBAnalyst()">
        <div class="usa-grid usa-grid-fixed">
            <div class="usa-width-one-third">
                <label>Which Organizations is this user responsible for?</label>
                <p class="usa-input-readonly">{{userProfile.getOrganizationTypeValue()}}</p>
            </div>
        </div>
        <div class="usa-grid usa-grid-fixed">
            <div class="usa-width-one-whole" ng-if="isCustomOrganizationType()">
                <label>Assigned Organization</label>
                <p class="usa-input-readonly" ng-if="!userProfile.getAssignedOrganizationIds().length">No assigned organization</p>
                <div ng-if="userProfile.getAssignedOrganizationIds().length">
                    <div ng-repeat="assignedOrg in userProfile.getAssignedOrganizationIds()">
                        <federal-hierarchy-label organization-id="{{ assignedOrg }}"></federal-hierarchy-label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="usa-grid usa-grid-fixed usa-margin-bottom-3">
        <div class="usa-width-one-half usa-margin-top-3 usa-margin-bottom-3">
            <a class="usa-button usa-button-gray-light" ui-sref="userList">Return</a>
            <a ng-if="canEditUser()" class="usa-button" ui-sref="editUser({id: userProfile.getId()})">Edit</a>
        </div>
    </div>
</div>
