<!-- Main Navigation -->

<primary-nav-bar></primary-nav-bar>

<div class="background darkblue" style="padding-bottom: 50px;">

    <!-- Intro text -->

    <div class="ui center aligned text container very padded basic segment">
        <h4 class="ui inverted header">
            Federal Assistance Searching - Simplified            
        </h4>
        <p class="inverted">
            Search here for information about federal assistance listings including grants, loans, scholarships, insurance, and more.
            Whether you are searching on behalf of a government entity, a nonprofit or educational institution, or any other
            sector, this site will help you determine eligibility, show availability, and provide relevant contact information.
        </p>
    </div>

    <!-- Search box -->

    <search-box></search-box>

    <div class="ui fixed container">

        <div class="ui segment borderless">
            <div class="ui grid">
                <div class="two column row">
                    <!-- New in 2015 -->

                    <div class="six wide column">

                        <h3 class="ui centered aligned header">New in {{ currentYear }}</h3>

                        <!-- New Listings -->
                        <a ng-click="searchByListingPublication('new')" class="ui fluid large light lightblue button" style="text-align: left; position: relative; padding-left: 115px; margin-top: 10px; margin-bottom:10px;">
                            <div data-content="{{ aProgramCount.newNumber }}" data-variation="tiny"  class="ui circular label yellow outline filled big" style="position: absolute; top: 15px; left: 20px;">
                                <div ng-if="!aProgramCount.new" class="ui active small inline loader" style="font-size: .6em;"></div>
                                {{ aProgramCount.new }}<span class="font light uppercase">{{ aProgramCount.newsymbol }}</span>
                            </div>
                            <span class="font lighter h1 size">New Listings</span>
                        </a>

                        <!-- Archived Listings -->
                        <a class="ui fluid large light lightblue disabled button" style="text-align: left; position: relative; padding-left: 115px; margin-top: 10px; margin-bottom:10px;">
                            <div data-content="{{ aProgramCount.archivedNumber }}" data-variation="tiny" class="ui circular label yellow outline filled big" style="position: absolute; top: 15px; left: 20px;">
                                <div ng-if="!aProgramCount.archived" class="ui active small inline loader" style="font-size: .6em;"></div>
                                {{ aProgramCount.archived }}<span class="font light uppercase">{{ aProgramCount.archivedsymbol }}</span>
                            </div>
                            <span class="font lighter h1 size">Archived Listings</span>
                        </a>

                        <!-- Updated Listings -->
                        <a ng-click="searchByListingPublication('updated')" class="ui fluid large light lightblue button" style="text-align: left; position: relative; padding-left: 115px; margin-top: 10px; margin-bottom:10px;">
                            <div data-content="{{ aProgramCount.updatedNumber }}" data-variation="tiny" class="ui circular label yellow outline filled big" style="position: absolute; top: 15px; left: 20px;">
                                <div ng-if="!aProgramCount.updated" class="ui active small inline loader" style="font-size: .6em;"></div>
                                {{ aProgramCount.updated }}<span class="font light uppercase">{{ aProgramCount.updatedsymbol }}</span>
                            </div>
                            <span class="font lighter h1 size">Updated Listings</span>
                        </a>

                    </div>

                    <!-- Who can apply chart -->

                    <div class="ten wide column">
                        <h3 class="ui centered aligned header">Who Can Apply</h3>
                        <div id="listingsChart"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- User Dashboard -->

<div class="background gray" style="padding: 40px 0px;" has-role="{{ [ROLES.SUPER_USER, ROLES.AGENCY_COORDINATOR, ROLES.AGENCY_USER, ROLES.OMB_ANALYST, ROLES.GSA_ANALYST, ROLES.RMO_SUPER_USER, ROLES.LIMITED_SUPER_USER] }}">


    <div class="ui fixed container">

        <div class="ui top attached segment borderless">
            <div class="ui grid">
                <div class="one column row">
                    <div class="column">

                        <!-- Alerts -->

                        <a ui-sref="programList.status({status: 'requests'})" class="ui top right attached green label large font uppercase squared"
                        style="margin-top: -8px; margin-right: -21px; padding-left: 40px;">
                            <i class="circular inverted blue alarm icon large" style="background-color: #112e51 !important; position: absolute; top: -5px; left: -20px;"></i>
                            <div ng-if="!oDashboardReport" class="ui active small inline loader"></div>
                            {{ oDashboardReport.request }} Request(s)
                        </a>

                        <!-- User name -->

                        <strong class="font grey" style="letter-spacing: -.5px;">{{ user.fullName }}'s Dashboard</strong>

                    </div>
                </div>
            </div>
        </div>

        <!-- Menu of Statistics -->

        <div class="ui fluid five item inverted lightblue menu top aligned" style="margin-bottom: 0; margin-top: 0;">
            <a class="item" ui-sref="programList.status({status: 'all'})">
                <div class="ui statistic">
                    <div class="value font bold big">
                        <div ng-show="!oDashboardReport" class="ui active small inline loader"></div>
                        <span ng-show="oDashboardReport">{{ oDashboardReport.active }}</span>
                    </div>
                    <div class="label page font huge lighter no transformation">Total Active Listings</div>
                </div>
            </a>
            <a class="item" ui-sref="programList.status({status: 'draft'})">
                <div class="ui statistic">
                    <div class="value font bold big">
                        <div ng-show="!oDashboardReport" class="ui active small inline loader"></div>
                        <span ng-show="oDashboardReport">{{ oDashboardReport.draft }}</span>
                    </div>
                    <div class="label page font huge lighter no transformation">Draft
                        <br>Listing</div>
                </div>
            </a>
            <a class="item" ui-sref="programList.status({status: 'pending'})">
                <div class="ui statistic">
                    <div class="value font bold big">
                        <div ng-show="!oDashboardReport" class="ui active small inline loader"></div>
                        <span ng-show="oDashboardReport">{{ oDashboardReport.pending }}</span>
                    </div>
                    <div class="label page font huge lighter no transformation">Pending Listings</div>
                </div>
            </a>
            <a class="item" ui-sref="programList.status({status: 'published'})">
                <div class="ui statistic">
                    <div class="value font bold big">
                        <div ng-show="!oDashboardReport" class="ui active small inline loader"></div>
                        <span ng-show="oDashboardReport">{{ oDashboardReport.published }}</span>
                    </div>
                    <div class="label page font huge lighter no transformation">Published Listings</div>
                </div>
            </a>
            <a class="item" ui-sref="programList.status({status: 'rejected'})">
                <div class="ui statistic">
                    <div class="value font bold big">
                        <div ng-show="!oDashboardReport" class="ui active small inline loader"></div>
                        <span ng-show="oDashboardReport">{{ oDashboardReport.rejected }}</span>
                    </div>
                    <div class="label page font huge lighter no transformation">Rejected Listings</div>
                </div>
            </a>
        </div>


        <div class="ui bottom attached segment borderless">

            <!-- Options -->

            <div class="ui grid">

                <div class="row">
                    <div class="sixteen wide column center aligned">
                        <a class="ui primary large button" ui-sref="addProgram" has-access="{{ [PERMISSIONS.CAN_CREATE_PROGRAMS] }}">
                            <span class="fa fa-plus"></span> Create a New Listing
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>
                </div>

                <div class="two column row">
                    <div class="column right aligned">
                        <a class="ui large button" ui-sref="programList.status({status: 'archived'})">
                            <span class="fa fa-archive"></span> Archived Listing
                        </a>
                    </div>
                    <div class="column left aligned">
                        <a class="ui large button">
                            <span class="fa fa-server"></span> Historical Index
                        </a>
                    </div>
                </div>

            </div>


        </div>

    </div>

</div>


<!-- Quick Links -->

<h3 class="ui centered aligned header" style="margin-bottom: 30px; margin-top: 80px;">Quick Links</h3>

<div class="ui very relaxed grid fixed container" style="padding: 20px 0px 90px 0px;">

    <div class="three column row">
        <div class="column center aligned">
            <a class="font large bold" href="" target="_blank">
                <img style="margin-bottom: 10px;" class="ui centered image" src="/img/links/PublicUserGuide.png" alt="CFDA Public User Guide"
                /> CFDA Public User Guide
            </a>
        </div>
        <div class="column center aligned">
            <a class="font large bold" href="https://www.cfda.gov/downloads/CFDA_2015.pdf" target="_blank">
                <img style="margin-bottom: 10px;" class="ui centered image" src="/img/links/PrintEdition.png" alt="Print Edition" />                2015 Print Edition
            </a>
        </div>
        <div class="column center aligned">
            <a class="font large bold" href="" target="_blank">
                <img style="margin-bottom: 10px;" class="ui centered image" src="/img/links/FTPDownloads.png" alt="FTP Downloads" />                FTP Downloads
            </a>
        </div>
    </div>

    <div class="two column centered row">
        <div class="column center aligned">
            <select class="ui dropdown" id="printedition" size="1" onchange="if (this.value) window.open(this.value,'_blank')">
                <option selected value="">Download Previous Editions</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2014.pdf">CFDA 2014 Print Edition</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2013.pdf">CFDA 2013 Print Edition</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2012.pdf">CFDA 2012 Print Edition</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2011.pdf">CFDA 2011 Print Edition</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2010.pdf">CFDA 2010 Print Edition</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2009.pdf">CFDA 2009 Print Edition</option>
                <option value="https://www.cfda.gov/downloads/CFDA_2008.pdf">CFDA 2008 Print Edition</option>
            </select>
        </div>
    </div>

</div>


<!-- Related Links -->

<div class="background gray" style="padding: 80px 0px 120px 0px;">

    <h3 class="ui centered aligned header" style="margin-bottom: 30px">Related Links</h3>

    <div class="ui very relaxed grid fixed container">

        <div class="three column row">
            <div class="column center aligned">
                <a href="http://www.grants.gov/" target="_blank">
                    <img style="width: 225px; height:90px;" class="ui centered image" src="/img/links/grants.png" alt="Grants.gov" />                    Grants.gov is your gateway to finding information about and applying for grant opportunities from over
                    1000 federal programs.
                </a>
            </div>
            <div class="column center aligned">
                <a href="http://www.benefits.gov/" target="_blank">
                    <img style="width: 225px; height:90px;" class="ui centered image" src="/img/links/benefits.png" alt="Benefits.gov" />                    Benefits.gov offers information on more than 1,000 Federal and state benefit programs. Simply complete
                    the free and confidential questionnaire and our prescreening tool will generate a tailored list of programs
                    just for you.
                </a>
            </div>
            <div class="column center aligned">
                <a href="http://www.govloans.gov/" target="_blank">
                    <img style="width: 225px; height:90px;" class="ui centered image" src="/img/links/govloans.png" alt="GovLoans.gov" />                    GovLoans.gov is your first stop for Federal loan information and is specifically designed to help you
                    determine which loans may be right for you.
                </a>
            </div>
        </div>

        <div class="three column row">
            <div class="column center aligned">
                <a href="http://www.data.gov/" target="_blank">
                    <img style="width: 225px; height:90px;" class="ui centered image" src="/img/links/data.png" alt="Data.gov" />                    Data.gov is the home of the U.S. government's open data. Here you will find open data sets, tools, and
                    resources to conduct.
                </a>
            </div>
            <div class="column center aligned">
                <a href="https://www.whitehouse.gov/omb" target="_blank">
                    <img style="width: 225px; height:90px;" class="ui centered image" src="/img/links/omb.png" alt="Whitehouse.gov/OMB" />                    The Compliance Supplement from the Office of Management and Budget (OMB) provides annual guidance designed
                    to help.
                </a>
            </div>
            <div class="column center aligned">
                <a href="https://www.usaspending.gov/" target="_blank">
                    <img style="width: 225px; height:90px;" class="ui centered image" src="/img/links/usaspending.png" alt="UsaSpending.gov"
                    /> USASpending.gov is a searchable website that shows the public how their tax dollars
                    are spent through federal contracts, grants, and loans.
                </a>
            </div>
        </div>

    </div>

</div>