<primary-nav-bar></primary-nav-bar>
<global-search-box></global-search-box>

<section st-pipe="loadAgencies" st-table="agencies">
    <div class="usa-grid-full page-heading">
        <div class="usa-width-three-fourths">
            <h1>Regional Agency Offices</h1>
        </div>
        <div class="usa-width-one-fourth" >
            <a class="usa-button" ui-sref="addAgency">Create a New Address</a>
        </div>

    </div>
    <div class="usa-grid-full">
        <div class="usa-width-one-third" >
            <input type="search" class="bold-border" st-search placeholder="Search" aria-controls="agency-table">
        </div>
        <div class="usa-width-one-third">
              <select id="agency-select"  name="agency-select" class="usa-form-medium">
                  <option value='' disabled style="display:none">Agency</option>
              </select>
        </div>
      <div class="usa-width-one-third">
          <select id="division-select" name="division-select" class="usa-form-medium" ng-model="selectedDivision"
                  ng-options="division.value for division in choices.regional_office_division track by division.element_id">
              <option value='' disabled style="display:none">Division</option>
          </select>
      </div>

    </div>


    <div class="usa-grid-full">
        <table class="listing-table cfda-table">
            <thead>
            <tr>
                <th style="width:21%" st-sort="agency" st-sort-default="true">Agency Name</th>
                <th style="width:21%">Street</th>
                <th st-sort="city" >City</th>
                <th st-sort="state" >State</th>
                <th st-sort="zip">Zip</th>
                <th>Phone</th>
                <th style="width:7%">Action</th>

            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in agencies">
                <td><a ui-sref="editAgency({id: row._id, section: 'review'})">{{row.agency || '-'}}</a> </td>
                <td>{{row.address}}</td>
                <td>{{row.city}}</td>
                <td>{{row.state}}</td>
                <td>{{row.zip}}</td>
                <td>{{row.phone}}</td>
                <td class="action-row" style="text-align: right !important">
                    <button type="button" ng-click="editAgency(row)"><span class="fa fa-pencil"></span></button>
                    <button type="button" ng-click="viewAgency(row)"><span class="fa fa-file-text-o"></span></button>
                </td>
            </tr>
            <tr ng-show="!agencies || agencies.length == 0">
                <td colspan="5" class="text-center">No Agencies Found</td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="7" class="text-center">Loading ...</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-panel">
        <div class="pagination-controls usa-grid-full">
            <div class="pagination-item-count-control">
                <span>Showing </span>
                <label class="usa-sr-only" for="items-by-page">Number of items to view per page</label>
                <select id="items-by-page" class="usa-form-medium bold-border" ng-model="itemsByPage" ng-options="pageNum for pageNum in itemsByPageNumbers">
                </select>
                <span> Per Page</span>
            </div>
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="programs/programs-list-pagination.tpl.html"></div>
        </div>
    </div>
</section>