<primary-nav-bar></primary-nav-bar>
<global-search-box></global-search-box>
<section>
<div class="usa-grid-full">
    <div class="usa-width-three-fourths">
        <h1>{{actionProper}} Regional Agency Office</h1>
    </div>

    <section class="sub-section">
        <div ng-show="action !== 'view' && flash && flash.type && flash.message" class="usa-alert" ng-class="'usa-alert-'+flash.type">
            <div class="usa-alert-body">
                <p class="usa-alert-text">{{ flash.message }}</p>
            </div>
        </div>
        <div id="container" class="usa-grid-full">

            <div id="formDiv" class="usa-width-two-thirds">
                <form name='agencyForm'>
                    <div class="input-field">
                        <label>Agency<span class="required" >*</span></label>
                        <ui-select ng-model="searchAgency" name="agency-select" theme="select2"  style="width:100% !important">
                            <ui-select-match placeholder="Agency">{{$item.value}}</ui-select-match>
                            <ui-select-choices group-by="multiPickerGroupByFn" repeat="item.element_id as item in choices.agencies | filter: {value: $select.search } | orderBy:[multiPickerGroupByFn,'parent']">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.error || agencyForm.agency.$dirty">
                            <span ng-show="agencyForm.agency.$error.required">You must provide Reason of this request.</span>
                        </div>

                        <label for="division">Division</label>
                        <select id="division" name="division" ng-model="oRegionalAgency.division" class="usa-form-medium"
                                data-ng-options="division.value for division in choices.regional_office_division track by division.element_id"
                                ng-disabled="action === 'view'">
                            <option value='' disabled style="display:none">Please select a Division</option>
                        </select>

                        <label for="branch">Branch</label>
                        <input type="text" id="branch" ng-model="oRegionalAgency.branch" ng-disabled="action === 'view'"/>

                        <label for="region">State/Region</label>
                        <input type="text" id="region" ng-model="oRegionalAgency.region" readonly/>

                        <label for="subbranch">Sub-branch</label>
                        <input type="text" id="subbranch" ng-model="oRegionalAgency.subbranch" ng-disabled="action === 'view'"/>

                        <label for="phone" required>Phone<span class="required" >*</span></label>
                        <input type="text" id="phone" ng-model="oRegionalAgency.phone" ng-disabled="action === 'view'"/>

                        <div ng-show="form.error || agencyForm.phone.$dirty">
                            <span ng-show="agencyForm.phone.$error.required">You must provide phone number.</span>
                        </div>
                        <label>Address:</label>
                        <div class="sub-form">
                            <label for="address">Street</label>
                            <textarea id="address" ng-model="oRegionalAgency.street" ng-disabled="action === 'view'"></textarea>
                            <label for="city">City</label>
                            <input type="text" id="city" ng-model="oRegionalAgency.city" ng-disabled="action === 'view'"/>
                            <label for="state">State</label>
                            <select id="state" class="usa-form-small" ng-disabled="action === 'view'"
                                ng-model="oRegionalAgency.state"
                                ng-options="state.value for state in choices.states track by state.element_id">
                            </select>
                            <label for="zip">Zip</label>
                            <input type="text" id="zip" ng-model="oRegionalAgency.zip" ng-disabled="action === 'view'"/>
                            <label for="country">Country</label>
                            <select id="country" class="usa-form-small" ng-disabled="action === 'view'"
                                    ng-model="oRegionalAgency.country"
                                    ng-options="country.value for country in choices.countries track by country.element_id">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="usa-width-one-third sub-form" ng-show='action === "review" || action === "edit"' id="historyDiv">
                <h4>Regional Agency Office Info</h4>
                <table style="border: none !important;">
                    <tr>
                        <td style="border: none !important; text-align: right">Created:</td><td style="border: none !important;">{{oRegionalAgency.createdDate}}</td>
                    </tr>
                    <tr>
                        <td style="border: none !important; text-align: right">Modified:</td><td style="border: none !important;">{{oRegionalAgency.modifiedDate}}</td>
                    </tr>
                    <tr>
                        <td style="border: none !important; text-align: right">By:</td><td style="border: none !important;">{{oRegionalAgency.modifiedBy}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section class="usa-grid-full" ng-show="action === 'create'">
        <a ui-sref="agencyList"><button type="button">Cancel</button></a>
        <button type="button" ng-click="createRegionalAgency()">Submit</button>
    </section>
    <section class="usa-grid-full" ng-show="action === 'edit'">
        <a ui-sref="agencyList"> <button type="button">Cancel</button></a>
        <button type="button" confirmed-click="deleteRegionalAgency()"
                ng-confirm-click="Are you sure you want to delete this Regional Agency Office?">Delete</button>
        <button type="button" ng-click="updateRegionalAgency()">Submit</button>
    </section>
</div>
</section>