a.usa-button,
button {
  &.button-circle {
    width: $button-circle-dimensions;
    height: $button-circle-dimensions;
    padding: $button-circle-padding;
    border-radius: 50%;
    text-align: center;
    @include transition(all 0.1s $transition-default-duration);
    &,
    &:hover,
    &:focus {
      box-shadow: $button-circle-shadow;
    }
    &.active,
    &:active {
      box-shadow: $button-circle-shadow-active;
    }
    &.action-button {
      color: $color-primary-darkest;
      background-color: $color-white;
      &,
      &:hover,
      &:focus {
        color: $color-primary-darkest;
      }
      &:hover,
      &:focus {
        background-color: $color-gray-lightest;
      }
      &.active,
      &:active {
        color: $color-primary-darkest;
        background-color: $color-gray-lighter;
      }
    }
  }
}