field-finder-bookmark.highlight,
.highlight[field-finder-bookmark] {
  background-color: #ffea6f;
}

field-finder-searchbox {
  [type="button"],
  button,
  select {
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    margin: 0;
    .form-header & {
      width: 100%;
    }
  }
}