form {
  max-width: none;
  .form-header {
    padding-top: $form-header-margin-height;
    padding-bottom: $form-header-margin-height;
    h1, h2 {
      margin: 0;
    }
    > * {
      display: inline-block;
      vertical-align: middle;
      margin-left: $form-header-element-spacing;
      margin-right: $form-header-element-spacing;
    }
  }
}