form {
  max-width: none;
  .form-header {
    padding-top: $form-header-margin-height;
    padding-bottom: $form-header-margin-height;
    h1, h2 {
      margin: 0;
    }
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  textarea {
    &.usa-grid-full {
      padding: 10px;
    }
  }
}
.input-field {
  &:first-child {
    > label:first-child {
      form .sub-section > & {
        @extend h3;
      }
      form .sub-minor-section > & {
        @extend h4;
      }
      &+* {
        margin-top: 22px;
      }
    }
  }
}

.section-circle {
  border-radius: 50%;
  width: $section-circle-dimensions;
  height: $section-circle-dimensions;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
  font-size: 15.3px;
  font-weight: $font-normal;
  border-width: 1px;
  border-style: solid;
  outline-radus: 50%;
  background-color: $color-white;
  color: $color-primary;
  border-color: $color-primary;
  h2 &{
    @extend .completed;
  }
  &.review {
    background-color: $color-limegreen;
    color: $color-white;
    border-color: $color-limegreen;
  }
  &.completed {
    background-color: $color-primary-darkest;
    color: $color-white;
    border-color: $color-primary-darkest;
  }
  &.current {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;
  }
}

select {
  border: 2px solid $color-primary;
}