hr {
  border: 1px solid $color-gray;
}
.layout-padding {
  padding: $layout-padding;
}
.sub-form {
  padding: $form-section-indent;
  background-color: $color-primary-alt-lightest;
  & &{
    background-color: $color-primary-alt-light;
  }
}

.sub-section,
.sub-minor-section{
  font-family:$font-sans;
  border-top: 2px solid $color-gray-light;
  padding-bottom:30px;
  h3 {
    font-family:$font-serif;
  }
  > .input-field {
    @extend .indented;
  }
}
.sub-section {
  > .sub-minor-section {
    @extend .indented;
  }
}
.input-field {
  &:first-child {
    > label:first-child {
      form .sub-section > & {
        @extend h3;
      }
      form .sub-minor-section > & {
        @extend h4;
      }
      form .sub-section > &,
      form .sub-minor-section > & {
        margin-left: -$form-section-indent;
        &+* {
          margin-top: 22px;
        }
      }
    }
  }
}
#branding {
  .logo img {
    padding: $nav-padding-height $nav-padding-width;
  }
  margin-top:25px;
  margin-bottom:20px;
  a {
    font-weight:bold;
    color:#000000;
  }
}

.login2 {
  float:right;
  text-align:right;
  padding-top:14px;
  height: 75px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}