$nav-padding-width: 10px !default;
$nav-padding-height: 15px !default;

$form-header-margin-height: 35px !default;
$form-header-element-spacing: 15px !default;

$badge-dimensions: 30px !default;
$badge-padding: 5px !default;
$badge-color: $color-gray-light !default;
$badge-font-color: $color-white !default;

$layout-padding: $grid-margins !default;
$sub-form-margin: 10px;