
<primary-nav-bar></primary-nav-bar>

<div class="usa-background-primary-darkest usa-margin-bottom-3">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-margin-top-3">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole">
                <div class="usa-segment usa-segment-attached-top usa-border-radius-top-right-1">
                    <form class="usa-search usa-search-huge">
                        <div role="search">
                            <input ng-keyup="searchKeyUp($event.keyCode)" ng-model="historicalIndexSearch.keyword"
                                type="search" required="required" placeholder="Historical Index Search"
                                class="usa-input-borderless" name="text">

                            <button class="usa-search-submit usa-border-radius-bottom-right-0" type="button" ng-click="searchHistoricalIndex()">
                              <span class="usa-search-submit-text">Search</span>
                            </button>
                        </div>
                    </form>
                </div>


                <div class="usa-segment usa-segment-attached usa-segment-secondary">
            			<div class="usa-grid">
            				<div class="usa-width-one-whole">

                    </div>
            			</div>
            		</div>


                <div class="usa-segment usa-segment-attached-bottom usa-margin-bottom-0">
                  <div class="usa-cfda-accordion usa-accordion-button-centered">
                      <ul class="usa-unstyled-list">
                          <li class="usa-margin-bottom-0">
                              <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
                                  Historical Index Advanced Search <span class="caret"></span>
                              </button>
                              <div id="collapsible-0" aria-hidden="true" class="usa-accordion-content">
                                  <div class="usa-grid-full">
                                      <div class="usa-width-one-half">

                                        <fieldset class="usa-fieldset-inputs">
                                          <label class="usa-label-marginless">Change Events</label>
                                          <ul class="usa-horizontal-list ">
                                              <li ng-repeat="oChangeEvent in dictionary.aChangeEvent">
                                                  <input type="checkbox" name="changeEvent[]" ng-checked="historicalIndexSearch.aChangeEvent.indexOf(oChangeEvent.name) > -1" ng-click="toggleSelection(oChangeEvent.name, 'aChangeEvent')" id="ce_{{ oChangeEvent.name }}" value="{{ oChangeEvent.name }}">
                                                  <label for="ce_{{ oChangeEvent.name }}">{{ oChangeEvent.label }}</label>
                                              </li>
                                          </ul>
                                        </fieldset>

                                      </div>
                                      <div class="usa-width-one-half">

                                        <fieldset class="usa-fieldset-inputs">
                                          <label class="usa-label-marginless">Current Status</label>
                                          <ul class="usa-horizontal-list ">
                                              <li ng-repeat="oStatus in dictionary.aStatus">
                                                  <input type="checkbox" name="status[]" ng-checked="historicalIndexSearch.aStatus.indexOf(oStatus.name) > -1" ng-click="toggleSelection(oStatus.name, 'aStatus')" id="s_{{ oStatus.name }}" value="{{ oStatus.name }}">
                                                  <label for="s_{{ oStatus.name }}">{{ oStatus.label }}</label>
                                              </li>
                                          </ul>
                                        </fieldset>

                                      </div>
                                  </div>
                                  <div class="usa-grid-full">
                                      <div class="usa-width-one-half">
                                        <label>Date of Change</label>
                                        <div isteven-multi-select
                                            max-labels="1"
                                            input-model="dictionary.aDateOfChange"
                                            output-model="historicalIndexSearch.aDateOfChange"
                                            button-label="displayValue"
                                            item-label="displayValue"
                                            tick-property="ticked"
                                            output-properties="elementId"
                                            max-height="250px"
                                            selection-mode="single">
                                          </div>
                                      </div>
                                      <div class="usa-width-one-half">
                                          <label>Between</label>

                                          <div class="usa-grid-full">
                                            <div class="usa-width-one-third" style="width:38%;">
                                              <input  datepicker-popup-template-url="search/calendar/popup.tpl.html"
                                                datepicker-template-url="search/calendar/datepicker.tpl.html"
                                                type="text"
                                                placeholder="mm/dd/yyyy"
                                                ng-click="openDatepicker($event, 'betweenFromOpened')"
                                                uib-datepicker-popup="MM/dd/yyyy"
                                                ng-model="historicalIndexSearch.betweenFrom"
                                                is-open="historicalIndexSearch.betweenFromOpened"
                                                datepicker-options="dateOptions"
                                                close-text="Close" />
                                            </div>

                                            <div class="usa-width-one-third usa-text-align-center usa-margin-top-1" style="width:12%;">
                                              <strong>To</strong>
                                            </div>

                                            <div class="usa-width-one-third" style="width:38%;">
                                              <input datepicker-popup-template-url="search/calendar/popup.tpl.html"
                                                datepicker-template-url="search/calendar/datepicker.tpl.html"
                                                type="text"
                                                placeholder="mm/dd/yyyy"
                                                ng-click="openDatepicker($event, 'betweenToOpened')"
                                                uib-datepicker-popup="MM/dd/yyyy"
                                                ng-model="historicalIndexSearch.betweenTo"
                                                is-open="historicalIndexSearch.betweenToOpened"
                                                datepicker-options="dateOptions"
                                                close-text="Close" />
                                            </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="usa-grid-full">
                                      <federal-hierarchy-inputs organization-id="historicalIndexSearch.organizationId" set-selected-option="false"></federal-hierarchy-inputs>
                                  </div>

                                  <div class="usa-grid-full usa-margin-top-3">
                                    <div class="usa-width-one-half">&nbsp;</div>
                                    <div class="usa-width-one-half">
                                      <div class="usa-grid-full">
                                        <div class="usa-width-one-half">
                                          <button class="usa-button-gray-light usa-button-big usa-button-fluid" type="submit" ng-click="clearHistoricalIndexForm()">
                                          Clear All
                                          </button>
                                        </div>
                                        <div class="usa-width-one-half">
                                          <button class="usa-button-big usa-button-fluid" type="button" ng-click="searchHistoricalIndex()">
                                          Search
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  </div>

                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>


 <!-- Table -->
<table
  id="historicalIndexTable"
  datatable=""
  dt-options="dtOptions"
  dt-columns="dtColumns"
  dt-column-defs="dtColumnDefs"
  dt-instance="dtInstance"
  class="usa-table-primary-darkest">
</table>
