<primary-nav-bar></primary-nav-bar>
<div ng-show="oHistoricalIndex">
    <section class="usa-grid-full">
        <div ng-show="oHistoricalIndex" class="usa-grid">
            <h2>View Historical Index</h2>

            <div class="usa-width-full vp-section" style="width: 100%;">
                <div class="usa-grid-full">
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Fal Name: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.programTitle}}</strong></span>
                    </div>
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Year: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.fiscalYear}}</strong></span>
                    </div>
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Type: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.actionType}}</strong></span>
                    </div>
                </div>
                <div class="usa-grid-full">
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Fal Number: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.programNumber}}</strong></span>
                    </div>
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Status Code: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.statusCode}}</strong></span>
                    </div>
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Reason: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.reason}}</strong></span>
                    </div>
                </div>
                <div class="usa-grid-full">
                    <div class="usa-width-one-third">
                        <label class="vp-field-label-big">Description: </label>
                        <span class="vp-field-value"><strong>{{oHistoricalIndex.changeDescription}}</strong></span>
                    </div>
                    <div class="usa-width-one-third"></div>
                    <div class="usa-width-one-third"></div>
                </div>
            </div>
        </div>
    </section>
    <!--This section has the three buttons-->
    <section class="usa-grid usa-text-align-right usa-margin-top-3 usa-margin-bottom-3">
        <a ui-sref="historicalIndex">
            <button type="button" class="usa-button-gray">Return</button>
        </a>
        <a ui-sref="editHistoricalIndex({hid: oHistoricalIndex.id, pid: oHistoricalIndex.pid})" ng-if="hasRole([ROLES.SUPER_USER])">
            <button type="button">Edit</button>
        </a>
        <button type="button" ng-click="deleteHistoricalIndex()" ng-if="hasRole([ROLES.SUPER_USER])">Delete</button>
    </section>

</div>
