
<primary-nav-bar></primary-nav-bar>

<div class="usa-background-primary-darkest usa-margin-bottom-3">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">

          <h3 class="usa-alert-heading">Note</h3>
          <p class="usa-alert-text">
            The following list shows all programs printed in the Catalog of
            Federal Domestic Assistance beginning with the 1965 edition and the
            subsequent action taken related to that program.

            <span style="display: none;">
              For the years 1965, 1967, and 1969 the programs did not have numbers.
              They were identified only by their titles.
              Therefore, the first part of each agency listing shows programs by
              their title if they were in existence before 1970. The program numbering
              system was instituted in 1970. The first line shows the number and
              title of the program when it was added to the Catalog. The second and
              subsequent lines show the year the program was added and any additional
              transactions, e.g., title changes, transfers, deletes, consolidations,
              agency reorganizations, number changes, etc., that may have followed.
              The alphabet B or U that follows a given year, indicates the transaction
              was made either in the basic (B) or the update (U) publication of the Catalog.
              In some instances, there is also a U1 and U2 behind the year.
              The U1 and U2 are the first and second updates respectively,
              published that year.
            </span>

            <button class="usa-button-compact" style="display: block;" onclick="$(this).text(function(i,v){ $(this).prev().toggle(); return v === 'Read Less' ? 'Read More' : 'Read Less'});">
              Read More
            </button>

          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole">
                <div class="usa-segment usa-segment-attached-top usa-border-radius-top-right-1">
                    <form class="usa-search usa-search-big">
                        <div role="search">
                            <input ng-keyup="searchKeyUp($event.keyCode)" ng-model="historicalIndexSearch.keyword"
                                type="search" required="required" placeholder="Historical Index Search"
                                class="usa-input-borderless" name="text">

                            <button class="usa-search-submit usa-border-radius-bottom-right-0" type="button" ng-click="searchHistoricalIndex()">
                              <span class="usa-search-submit-text">Search</span>
                            </button>
                        </div>
                    </form>
                </div>


                <div class="usa-segment usa-segment-attached usa-segment-secondary">
            			<div class="usa-grid">
            				<div class="usa-width-one-whole">

                    </div>
            			</div>
            		</div>


                <div class="usa-segment usa-segment-attached-bottom usa-margin-bottom-0">
                  <div class="usa-cfda-accordion usa-accordion-button-centered">
                      <ul class="usa-unstyled-list">
                          <li class="usa-margin-bottom-0">
                              <button id="advancedsearchbutton" class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
                                  Historical Index Advanced Search <span class="caret"></span>
                              </button>
                              <div id="collapsible-0" aria-hidden="true" class="usa-accordion-content">
                                  <div class="usa-grid-full">
                                      <div class="usa-width-one-half">

                                        <fieldset class="usa-fieldset-inputs">
                                          <label class="usa-label-marginless">Change Events</label>
                                          <ul class="usa-horizontal-list ">
                                              <li ng-repeat="oChangeEvent in dictionary.aChangeEvent" style="width: 40%;">
                                                  <input type="checkbox" name="changeEvent[]" ng-checked="historicalIndexSearch.aChangeEvent.indexOf(oChangeEvent.name) > -1" ng-click="toggleSelection(oChangeEvent.name, 'aChangeEvent')" id="ce_{{ oChangeEvent.name }}" value="{{ oChangeEvent.name }}">
                                                  <label for="ce_{{ oChangeEvent.name }}">{{ oChangeEvent.label }}</label>
                                              </li>
                                          </ul>
                                        </fieldset>

                                      </div>
                                      <div class="usa-width-one-half">

                                        <fieldset class="usa-fieldset-inputs">
                                          <label class="usa-label-marginless">Date of Change</label>
                                          <ul class="usa-horizontal-list ">
                                            <li>
                                              <input type="checkbox" name="currentCalendarYear" id="currentCalendarYear" ng-checked="historicalIndexSearch.currentCalendarYear" ng-model="historicalIndexSearch.currentCalendarYear">
                                              <label for="currentCalendarYear">Current Calendar Year</label>
                                            </li>
                                          </ul>
                                        </fieldset>

                                        <label>Between</label>

                                        <div class="usa-grid-full">
                                          <div class="usa-width-one-third" style="width:38%;">
                                            <div isteven-multi-select
                                              max-labels="1"
                                              input-model="dictionary.aYearFrom"
                                              output-model="historicalIndexSearch.betweenFrom"
                                              button-label="displayValue"
                                              item-label="displayValue"
                                              tick-property="ticked"
                                              output-properties="elementId"
                                              max-height="250px"
                                              selection-mode="single">
                                            </div>
                                          </div>

                                          <div class="usa-width-one-third usa-text-align-center usa-margin-top-1" style="width:12%;">
                                            <strong>To</strong>
                                          </div>

                                          <div class="usa-width-one-third" style="width:38%;">
                                            <div isteven-multi-select
                                              max-labels="1"
                                              input-model="dictionary.aYearTo"
                                              output-model="historicalIndexSearch.betweenTo"
                                              button-label="displayValue"
                                              item-label="displayValue"
                                              tick-property="ticked"
                                              output-properties="elementId"
                                              max-height="250px"
                                              selection-mode="single">
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                  </div>
                                  <div class="usa-grid-full">
                                      <div class="usa-width-one-whole">

                                        <fieldset class="usa-fieldset-inputs">
                                          <label class="usa-label-marginless">Current Status</label>
                                          <ul class="usa-horizontal-list ">
                                              <li ng-repeat="oStatus in dictionary.aStatus">
                                                  <input type="checkbox" name="status[]" ng-checked="historicalIndexSearch.aStatus.indexOf(oStatus.name) > -1" ng-click="toggleSelection(oStatus.name, 'aStatus')" id="s_{{ oStatus.name }}" value="{{ oStatus.name }}">
                                                  <label for="s_{{ oStatus.name }}">{{ oStatus.label }}</label>
                                              </li>
                                          </ul>
                                        </fieldset>

                                      </div>

                                  </div>

                                  <!-- <div class="usa-grid-full">
                                      <federal-hierarchy-inputs organization-id="historicalIndexSearch.organizationId" set-selected-option="false"></federal-hierarchy-inputs>
                                  </div> -->

                                  <div class="usa-grid-full usa-margin-top-3">
                                    <div class="usa-width-one-half">&nbsp;</div>
                                    <div class="usa-width-one-half">
                                      <div class="usa-grid-full">
                                        <div class="usa-width-one-half">
                                          <button class="usa-button-gray-light usa-button-big usa-button-fluid" type="submit" ng-click="initSearchForm(true)">
                                          Clear All
                                          </button>
                                        </div>
                                        <div class="usa-width-one-half">
                                          <button class="usa-button-big usa-button-fluid" type="button" ng-click="searchHistoricalIndex()">
                                          Search
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  </div>

                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>


 <!-- Table -->
<table
  id="historicalIndexTable"
  datatable=""
  dt-options="dtOptions"
  dt-columns="dtColumns"
  dt-column-defs="dtColumnDefs"
  dt-instance="dtInstance"
  class="usa-table-primary-darkest">
</table>
