.usa-card{
  position: relative;
  display: block;
  background-color: $card-bg;
  margin-bottom: $card-spacer-y;
}

.usa-card-body{
  padding: $card-spacer-x;
}

.usa-card-title{
  margin-bottom: $card-spacer-y;
}

.usa-card-title + .usa-card-subtitle{
  margin-top: -$card-spacer-y;
}

//
// Background variations
//

@mixin card-variant($background) {
  background-color: $background;
}
.usa-card-green{
  @include card-variant($color-green-lightest);
}
