<section st-pipe="vm.loadPrograms" st-table="vm.programs">
    <div class="usa-grid-full">
        <h1>Programs (Placeholder)</h1>
        <div class="create-notice-button-div usa-width-one-fourth">
            <a class="usa-button usa-button-big" ui-sref="addProgram">Create a new program</a>
        </div>
        <div class="usa-width-one-fourth search-label">
            <label>
                <input type="search" st-search placeholder="Search Programs" aria-controls="programs-table">
            </label>
        </div>
    </div>
    <div class="usa-grid-full">
        <table>
            <thead>
                <tr>
                    <th st-sort="title">Title</th>
                    <th style="width:145px;"></th>
                    <th st-sort="agencyId">Agency</th>
                    <th st-sort="office">Office</th>
                    <th st-sort="status">Status</th>
                </tr>
            </thead>
            <tbody ng-show="!vm.isLoading">
                <tr ng-repeat="row in vm.programs">
                    <td>{{row.title}}</td>
                    <td class="action-row"><button type="button" ng-click="vm.editProgram(row)">Edit</button><button type="button" ng-click="vm.deleteProgram(row)">Delete</button></td>
                    <td>{{row.agencyId}}</td>
                    <td>{{row.office}}</td>
                    <td>{{row.status}}</td>
                </tr>
            </tbody>
            <tbody ng-show="vm.isLoading">
                <tr>
                    <td colspan="4" class="text-center">Loading ...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="usa-grid-full" st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="7"></div>
</section>