<div ng-controller="ProgramRequestCtrl">
    <div ng-show="ngDialogData.typeEntity === 'program_request'">
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'archive_request'">Archive Request</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'unarchive_request'">Unarchive Request</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'title_request'">Title Change Request</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'agency_request'">Agency Change Request</h3>
    </div>
    <div ng-show="ngDialogData.typeEntity === 'program_submit'">
        <h3 class="ui dividing header">Program Submission Request</h3>
    </div>
    <div ng-show="ngDialogData.typeEntity === 'program_request_action'">
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'archive'">Archive Request Approval</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'archive_reject'">Archive Request Reject</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'unarchive'">Unarchive Request Approval</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'unarchive_reject'">Unarchive Request Reject</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'title'">Title Change Request Approval</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'title_reject'">Title Change Request Reject</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'reject_program'">Reject Program</h3>
        <h3 class="ui dividing header" ng-show="ngDialogData.action === 'publish'">Approve Program Submission</h3>
    </div>
    <div style="padding-top: 10px" ng-show="modal.show">
        <div ng-show="flash && flash.type && flash.message" class="ui ignored message" ng-class="flash.type">
            {{ flash.message }}
        </div>

        <div class="field" ng-show="ngDialogData.action === 'agency_request' && hasDepartmentChanged">
            <div class="ui ignored message warning" style="font-size: 1.2rem;">
                The chosen Agency is outside your user's scope. If you continue and this request is approved, 
                you will no longer have access to this program.<br/>
                <b>Note:</b> The new agency has a different code ({{ programCode }}) than the existing agency ({{ (oEntity.data) ? oEntity.data.programNumber.split('.')[0] : oEntity.programNumber.split('.')[0] }}). 
                Upon approval of this request, the program will be assigned a new program number.
            </div>
        </div>

        <form name='programRequestForm' class="ui form">
            <div ng-show="['title_request', 'title', 'title_reject'].indexOf(ngDialogData.action)!==-1" class="field">
                <h4>Existing title</h4>
                <!-- oEntity.data.title: called from listing ; oEntity.title: calle from editPage -->
                <p>{{ (ngDialogData.action === 'title_request') ? ((oEntity.data) ? oEntity.data.title : oEntity.title) : oEntity.program.title }}</p>
            </div>
            <div ng-show="['title_request', 'title', 'title_reject'].indexOf(ngDialogData.action)!==-1" class="field">
                <h4>FAL Number</h4>
                <!-- oEntity.data.title: called from listing ; oEntity.title: calle from editPage -->
                <p>{{ (ngDialogData.action === 'title_request') ? ((oEntity.data) ? oEntity.data.programNumber : oEntity.programNumber) : oEntity.program.programNumber }}</p>
            </div>
            <div ng-if="['title', 'title_reject'].indexOf(ngDialogData.action)!==-1" class="field">
                <h4>New title</h4>
                <p>{{ stringToJson(oEntity.data).title }}</p>
            </div>
            <div class="field" ng-show="ngDialogData.action === 'title_request'">
                <label for="newTitle">New Title <span class="required" >*</span></label>
                <input id="newTitle" name="newTitle" ng-model="newTitle" required />
                <div ng-show="form.error || programRequestForm.newTitle.$dirty">
                    <span ng-show="programRequestForm.newTitle.$error.required">You must provide a new Title of this request.</span>
                </div>
            </div>
            <div class="field" ng-show="ngDialogData.action === 'agency_request'">
                <label>Existing Agency</label>
                <federal-hierarchy-label organization-id="{{ (oEntity.data) ? oEntity.data.organizationId : oEntity.organizationId }}"></federal-hierarchy-label>
            </div>
            <div class="field" ng-show="ngDialogData.action === 'agency_request'">
                <label>New Agency <span class="required" >*</span></label>
                <!--<p>Field Details: Enter the stated Objectives for the Program in this textfield.</p>-->
                <federal-hierarchy-inputs organization-id="organizationId" organization-configuration="organizationConfiguration" program-code="programCode" has-department-changed="hasDepartmentChanged"></federal-hierarchy-inputs>
            </div>
            <div class="field">
                <label for="reason">Reason <span class="required" >*</span></label>
                <!--<p>Field Details: Enter the stated Objectives for the Program in this textfield.</p>-->
                <textarea id="reason" name="reason" ng-model="reason" style="height: 10rem;" required></textarea>
                <div ng-show="form.error || programRequestForm.reason.$dirty">
                    <span ng-show="programRequestForm.reason.$error.required">You must provide Reason of this request.</span>
                </div>
            </div>
        </form>

        <div class="ui divider"></div>

        <button class="ui button" ng-class="submissionInProgress ? 'disabled' : ''" type="button" ng-click="closeProgramRequestModal();">Cancel</button>
        <button class="ui button primary" ng-class="submissionInProgress ? 'disabled' : ''" type="button" ng-click="submitProgramRequest()">Submit</button>
    </div>
    <div ng-if="!modal.show">
        <div class="ui ignored message error">{{ modal.message }}</div>
    </div>
</div>