<section st-pipe="loadPrograms" st-table="programs">
    <div class="usa-grid-full page-heading">
        <div class="usa-width-one-half">
            <h1 style="width:99%;">Federal Assistance Listings Requests</h1>
        </div>
        <div class="usa-width-one-fourth" style="margin-top:25px;">
            <a class="usa-button" ui-sref="addProgram">Create a new listing</a>
        </div>
        <div class="usa-width-one-fourth" style="margin-top:25px;">
            <input type="search" class="bold-border" st-search placeholder="Search Listings" aria-controls="listings-table">
        </div>
    </div>
    <div class="usa-grid-full">
<table class="listing-table cfda-table">
    <thead>
    <tr>
        <th style="width:5%"><span class="usa-sr-only">Select FAL</span></th>
        <th style="width:25%" st-sort="title" st-skip-natural="true">Title</th>
        <th st-sort="requestType" st-skip-natural="true">Request Type</th>
        <th st-sort="reason" st-skip-natural="true">Reason</th>
        <th>Actions</th>
        <th st-sort="entryDate" st-skip-natural="true">Date Requested</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in programs">
        <td>
            <input type="checkbox" id="program-{{$index}}">
            <label for="program-{{$index}}"></label>
        </td>
        <td>
            <div ng-show="row.program.status === 'published' && !row.program.archived">
                <a ui-sref="reviewProgram({ id: row.programId })">{{row.program.title}}</a>
            </div>
            <div ng-show="row.program.status === 'revised' && !row.program.archived">
                <a ui-sref="reviewProgram({ id: row.programId })">{{row.program.title}}</a>
            </div>
            <div ng-show="row.program.status === 'pending' && !row.program.archived">
                <a ng-show="authorize([PERMISSIONS.CAN_EDIT_PENDING_PROGRAMS])" ui-sref="editProgram({ id: row.programId, section: 'review' })">{{row.program.title}}</a>
                <a ng-show="!authorize([PERMISSIONS.CAN_EDIT_PENDING_PROGRAMS])" ui-sref="reviewProgram({ id: row.programId })">{{row.program.title}}</a>
            </div>
            <div ng-show="row.program.archived">
                <a ui-sref="reviewProgram({ id: row.programId })">{{row.program.title}}</a>
            </div>
        </td>
        <td>{{row.requestType.publicValue}}</td>
        <td>{{row.reason}}</td>
        <td class="action-row">
            <div  ng-show="row.requestType.value === 'archive_request'">
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_ARCHIVE] }}" type="button" title="Approve Archive Request" ng-click="showProgramRequestModal(row, 'program_request_action', 'archive')"><span class="fa fa-check-circle-o"></span></button>
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_ARCHIVE] }}" type="button" title="Reject Archive Request" ng-click="showProgramRequestModal(row, 'program_request_action', 'archive_reject')"><span class="fa fa-times-circle"></span></button>
            </div>

            <div ng-show="row.requestType.value === 'unarchive_request'">
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_UNARCHIVE] }}" type="button" title="Approve Unarchive Request"ng-click="showProgramRequestModal(row, 'program_request_action', 'unarchive')"><span class="fa fa-check-circle-o"></span></button>
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_UNARCHIVE] }}" type="button" title="Reject Unarchive Request" ng-click="showProgramRequestModal(row, 'program_request_action', 'unarchive_reject')"><span class="fa fa-times-circle"></span></button>
            </div>

            <div ng-show="row.requestType.value === 'title_request'">
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_TITLE_CHANGE] }}" type="button" title="Approve Title Change" ng-click="showProgramRequestModal(row, 'program_request_action', 'title')"><span class="fa fa-check-circle-o"></span></button>
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_TITLE_CHANGE] }}" type="button" title="Reject Title Change" ng-click="showProgramRequestModal(row, 'program_request_action', 'title_reject')"><span class="fa fa-times-circle"></span></button>
            </div>

            <div ng-show="row.requestType.value === 'submit'">
                <button has-access="{{ [PERMISSIONS.CAN_PERFORM_SUBMISSION] }}" type="button" title="Review Program" ng-click="editProgram({ id: row.programId, section: 'review' })"><span class="fa fa-eye"></span></button>
            </div>
        </td>
        <td>{{ row.entryDate | amDateFormat:'MMMM, Do YYYY h:mm a' }}</td>
    </tr>
    <tr ng-show="!programs || programs.length == 0">
        <td colspan="6" class="text-center">No Results Found</td>
    </tr>
    </tbody>
    <tbody ng-show="isLoading">
    <tr>
        <td colspan="6" class="text-center">Loading ...</td>
    </tr>
    </tbody>
</table>
    </div>
    <div class="pagination-panel">
        <div class="pagination-controls usa-grid-full">
            <div class="pagination-item-count-control">
                <span>Showing </span>
                <label class="usa-sr-only" for="items-by-page">Number of items to view per page</label>
                <select id="items-by-page" class="usa-form-medium bold-border" ng-model="itemsByPage" ng-options="pageNum for pageNum in itemsByPageNumbers">
                </select>
                <span> Per Page</span>
            </div>
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="programs/programs-list-pagination.tpl.html"></div>
        </div>
    </div>
</section>