<nav ng-if="numPages && pages.length >= 2">
    <ul class="pagination">
        <li class="arrow-btn" ng-class="{disabled: currentPage === 1}">
            <a ng-if="currentPage !== 1" ng-click="selectPage(currentPage - 1)"><span class="fa fa-arrow-circle-left"></span></a>
            <span ng-if="currentPage === 1" class="fa fa-arrow-circle-left"></span>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
            <a ng-if="page !== currentPage" ng-click="selectPage(page)">{{page}}</a>
            <span ng-if="page === currentPage">{{page}}</span>
        </li>
        <li class="arrow-btn" ng-class="{disabled: currentPage === numPages}">
            <a ng-if="currentPage !== numPages" ng-click="selectPage(currentPage + 1)"><span class="fa fa-arrow-circle-right"></span></a>
            <span ng-if="currentPage === numPages" class="fa fa-arrow-circle-right"></span>
        </li>
    </ul>
</nav>