<h2><span class="section-circle">2</span> Eligibility / Qualifications</h2>
<section class="sub-section" >
    <h3>080 Eligibility Requirements</h3>
    <section class="sub-minor-section" >
        <h4>081 Applicant Eligibility</h4>
        <div class="input-field">
            <label for="eligibleApplicants">Eligible Applicants<span class="required" >*</span></label>
            <div ng-repeat="item in gsavm.program.eligibility.applicant.types">
                <span>{{gsavm.getTreeNodeModel(item, 'element_id', 'elements', 'applicant_types').displayValue}}</span>
            </div>
            <label for="useOfAssistance">Use Of Assistance<span class="required" >*</span></label>
            <div ng-repeat="item in gsavm.program.eligibility.applicant.assistanceUsageTypes">
                <span>{{gsavm.getTreeNodeModel(item, 'element_id', 'elements', 'assistance_usage_types').displayValue}}</span>
            </div>
            <fieldset class="usa-fieldset-inputs usa-sans">
                <label for="assistanceAdditionalInfo7">Additional Information<span class="required" >*</span></label>
                <span type="text" class="italic" id="assistanceAdditionalInfo7" ng-bind="gsavm.program.eligibility.applicant.additionalInfo.content"></span>
            </fieldset>
        </div>
    </section>
    <section class="sub-minor-section" >
        <h4>082 Beneficiary Eligibility</h4>
        <div class="input-field">
            <label for="beneficiaryEligibility">Beneficiary Eligibility<span class="required" >*</span></label>
            <div ng-repeat="item in gsavm.program.eligibility.beneficiary.types">
                <span>{{gsavm.getTreeNodeModel(item, 'element_id', 'elements', 'beneficiary_types').displayValue}}</span>
            </div>
            <fieldset class="usa-fieldset-inputs usa-sans">
                <label for="beneficiaryAdditionalInfo7">Additional Information<span class="required" >*</span></label>
                <span type="text" class="italic" id="beneficiaryAdditionalInfo7" ng-bind="gsavm.program.eligibility.beneficiary.additionalInfo.content"></span>
            </fieldset>
        </div>
    </section>
    <section class="sub-minor-section" >
        <h4>083 Credentials/Documentation</h4>
        <div class="input-field">
            <fieldset class="usa-fieldset-inputs usa-sans">
                    <label for="credentialsOrDocumentation7">Are there credentials or documentation?<span class="required" >*</span></label>
                    <span type="text" class="italic" id="credentialsOrDocumentation7" ng-bind="gsavm.choices['yes_na'][gsavm.program.eligibility.documentation.flag].value"></span>
            </fieldset>

            <div ng-show="gsavm.program.eligibility.documentation.flag === 'yes'">
                <fieldset class="usa-fieldset-inputs usa-sans">
                    <label for="credentialsAdditionalInfo7">Please explain:<span class="required" >*</span></label>
                    <span type="text" class="italic" id="credentialsAdditionalInfo7" ng-bind="gsavm.program.eligibility.documentation.content"></span>
                </fieldset>
                <br/>
                <fieldset class="usa-fieldset-inputs usa-sans">
                    <label for="costPrincipalsAcceptable7">Is 2 CFR 200, Subpart E - Cost Principles applicable?<span class="required" >*</span></label>
                    <span type="text" class="italic" id="costPrincipalsAcceptable7" ng-bind="gsavm.choices['yes_no'][gsavm.program.eligibility.documentation.questions['OMBCircularA87'].flag].value"></span>
                </fieldset>
            </div>
        </div>
    </section>
</section>