
<section class="sub-section" ng-show="(submissionRequest && gsavm.program.status && gsavm.program.status === 'Pending')">
    <div class="usa-grid-full">
          <div class="usa-width-one-whole">
              <div class="usa-alert usa-alert-info">
                <div class="usa-alert-body">
                  <h3 class="usa-alert-heading">Note:</h3>
                  <p class="usa-alert-text">This program revision is pending review/approval. You may make changes by clicking the "edit" button and modifying the program.<br />
                    <strong>OMB review period will expire in {{ submissionRequest.expireIn }} day(s)</strong>.</p>
                  <p>Reason for Submission: {{ submissionRequest.reason }}</p>
                </div>
              </div>
          </div>
      </div>
</section>
<h2><span class="section-circle">1</span> General Information</h2>
<section class="sub-section" >
    <div class="input-field" >
        <h3>Federal Agency<span class="required" >*</span></h3>
        <federal-hierarchy-label organization-id="{{ gsavm.program.organizationId }}"></federal-hierarchy-label>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field" >
        <h3 for="title7">{{::instructionalText["01"]["010"]["title"]}}<span class="required" >*</span></h3>
        <span type="text" class="italic" id="title7"  ng-bind="gsavm.program.title"></span>
    </div>
    <div class="input-field" ng-if="((gsavm.organizationConfiguration && gsavm.organizationConfiguration.programNumberAuto === false) || (gsavm.program.status && gsavm.program.status !== 'Draft'))">
        <h3 for="title7">Program Number<span class="required" >*</span></h3>
        <span type="text" class="italic" id="title7" ng-show="(gsavm.program.status && gsavm.program.status !== 'Draft')" ng-bind="gsavm.program.programNumber"></span>
        <span type="text" class="italic" id="title7" ng-show="((gsavm.program.status && gsavm.program.status === 'Draft') || !gsavm.program.status)">{{ gsavm.programCode + '.'+ gsavm.program.programNumber }}</span>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3 for="alternativeName7">{{::instructionalText["01"]["020"]["title"]}}</h3>
        <span type="text" class="italic"  id="alternativeName7"  ng-bind="gsavm.program.alternativeNames"></span>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <multi-entry ng-model="gsavm.program.authorizations" name="authorizations" item-title="gsavm.getAuthorizationTitle" editable-items="true" new-entry-btn-name="" delete-btn-label="Delete Authorization" on-entry-delete="gsavm.onAuthorizationRemoved(removed)" parent-vm="gsavm" on-after-dialog-open="gsavm.onAuthDialogOpen" list-filter="'filter:$ctrl.parentVm.exps.isAuthorization'" required-Length='{ "min": 1 }'>
            <multi-entry-header>
                <h3>{{::$ctrl.parentVm.instructionalText["01"]["040"]["title"]}}<span class="required" >*</span></h3>
            </multi-entry-header>
            <div>
                <span ng-show="$ctrl.parentVm.form.authorizations.$error.requiredLength">You need to create at least one Authorization.</span>
            </div>
            <multi-entry-list editable="true">
                <span>{{$ctrl.formatTitle(item)}} ({{$ctrl.parentVm.getAuthAmendments(item).length}})</span>
            </multi-entry-list>
            <multi-entry-sub-form class="input-field" create-function="$ctrl.parentVm.createAuthorization" on-save="$ctrl.parentVm.onAuthorizationSave" on-cancel="$ctrl.parentVm.onAuthorizationCancel" read-only="true">
                <div ng-init="formPath='authorization'+$ctrl.parentVm.nextId();idPath=formPath;parentAuth=authorization">
                    <section class="usa-grid">
                        <ul class="usa-unstyled-list radio-button-group">
                            <li ng-repeat="btn in $ctrl.parentVm.choices['authorization_type'] track by btn.element_id">
                                <input type="radio" name="{{formPath}}_type" ng-model="$subForm.current.authorizationType"  ng-value="btn.element_id" id="{{ idPath + '-' + btn.element_id }}" readonly="readonly"/>
                                <label for="{{ idPath + '-' + btn.element_id }}">{{btn.value}}</label>
                            </li>
                        </ul>
                    </section>
                    <div ng-include="'programs/authorizationView.tpl.html'"></div>
                    <div ng-if="$subForm.current.authorizationType">
                        <hr>
                        <multi-entry ng-model="$ctrl.parentVm.program.authorizations" item-title="$ctrl.parentVm.getAmendmentTitle" editable-items="true" new-entry-btn-name="" delete-btn-label="Delete Amendment" on-entry-delete="$ctrl.parentVm.removeAmendment(removed)" parent-vm="$ctrl.parentVm" list-track-by="$ctrl.parentVm.exps.generateAuthKey(item)" list-filter="$ctrl.locals.amendmentFilter">
                            <multi-entry-header>
                                <label>Amendments</label>
                            </multi-entry-header>
                            <multi-entry-sub-form class="input-field" create-function="$ctrl.parentVm.createAmendment" before-save="$ctrl.parentVm.onAmendmentBeforeSave" on-parent-update="$ctrl.parentVm.onAuthorizationTypeUpdate">
                                <div ng-init="formPath=formPath +'.amendment'+$index;idPath=formPath.replace('.','-');" name="$ctrl.parentVm.form.{{formPath}}" class="sub-form">
                                    <div ng-include="'programs/authorizationView.tpl.html'"></div>
                                </div>
                            </multi-entry-sub-form>
                        </multi-entry>
                    </div>
                </div>
            </multi-entry-sub-form>
        </multi-entry>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3 for="objective7">{{::instructionalText["01"]["050"]["title"]}}<span class="required" >*</span></h3>
        <!--<p>Field Details: Enter the stated Objectives for the Program in this textfield.</p>-->
        <span type="text" class="italic" id="objective7" ng-bind="gsavm.program.objective"></span>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3>{{::instructionalText["01"]["060"]["title"]}}</h3>
        <div ng-repeat="item in gsavm.program.assistanceTypes | filter:{children: 'false'}">
          <strong>{{ item.code }} - </strong>{{ item.value }}
            <!-- <p class='text-nowrap'>{{gsavm.getTreeNodeModel(item, 'element_id', 'elements', 'aAssistanceType').displayValue}}</p> -->
        </div>
    </div>
</section>
<section class="sub-section" >
    <h3>{{::instructionalText["01"]["070"]["title"]}}</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
        <!--<p>Select all that apply to your Program. If "Yes" is selected, users are required to provide more details in the textfields.</p>-->
        <label for="usageRulesContent7">Describe how assistance can potentially be used<span class="required" >*</span></label>
        <span type="text" class="italic" id="usageRulesContent7" ng-bind="gsavm.program.usage.rules.content"></span>
    </fieldset>
    <div class="input-field">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <!--input type="checkbox" id="restrictionsFlag" ng-model="restrictionsFlag" ng-checked="gsavm.program.usage.restrictions.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.restrictions.flag = restrictionsFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
            <label for="restrictionsFlag7">{{::instructionalText["01"]["070"]["restrictions"]["label"]}}</label>
            <span type="text" class="italic" id="restrictionsFlag7" ng-bind="gsavm.choices['yes_na'][gsavm.program.usage.restrictions.flag].value"></span>
        </fieldset>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.restrictions.flag === gsavm.choices['yes_na'].yes.code">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label for="restrictions7">Please provide the restrictions:<span class="required" >*</span></label>
            <span type="text" class="italic" id="restrictions7" ng-bind="gsavm.program.usage.restrictions.content"></span>
        </fieldset>
    </div>
    <div class="input-field">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <!--input type="checkbox" id="discretionaryFundFlag" ng-model="discretionaryFundFlag" ng-checked="gsavm.program.usage.discretionaryFund.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.discretionaryFund.flag = discretionaryFundFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
            <label for="discretionaryFundFlag7">{{::instructionalText["01"]["070"]["funds"]["label"]}}</label>
            <span type="text" class="italic" id="discretionaryFundFlag7" ng-bind="gsavm.choices['yes_na'][gsavm.program.usage.discretionaryFund.flag].value"></span>
        </fieldset>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.discretionaryFund.flag === gsavm.choices['yes_na'].yes.code">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label for="discretionaryFund7">Discretionary Funds<span class="required" >*</span></label>
            <span type="text" class="italic" id="discretionaryFund7" ng-bind="gsavm.program.usage.discretionaryFund.content"></span>
        </fieldset>
    </div>
    <div class="input-field">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <!--input type="checkbox" id="loanTermsFlag" ng-model="loanTermsFlag" ng-checked="gsavm.program.usage.loanTerms.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.loanTerms.flag = loanTermsFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
            <label for="loanTermsFlag7">{{::instructionalText["01"]["070"]["loanTerms"]["label"]}}</label>
            <span type="text" class="italic" id="loanTermsFlag7" ng-bind="gsavm.choices['yes_na'][gsavm.program.usage.loanTerms.flag].value"></span>
        </fieldset>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.loanTerms.flag === gsavm.choices['yes_na'].yes.code">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label for="loanTerms7">Loan Terms<span class="required" >*</span></label>
            <span type="text" class="italic" id="loanTerms7" ng-bind="gsavm.program.usage.loanTerms.content"></span>
        </fieldset>
    </div>
</section>
<section class="sub-section">
    <h3>{{::instructionalText["01"]["160"]["title"]}}<span class="required">*</span></h3>
    <div class="input-field">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label>{{::instructionalText["01"]["160"]["label"]}}</label>
            <span type="text" class="italic" id="relatedProgramsFlag7" ng-bind="gsavm.choices['yes_na'][gsavm.program.relatedPrograms.flag].value"></span>
        </fieldset>
    </div>
    <div class="input-field" ng-show="gsavm.program.relatedPrograms.flag === 'yes'">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label>Select any related programs below:<span class="required" >*</span></label>
            <div ng-repeat="item in gsavm.program.relatedPrograms.relatedTo">
                <p type="text" class="italic">{{gsavm.formatModelString(item, 'data._id', 'programs', 'data.programNumber + " " + data.title')}}</p>
            </div>
        </fieldset>
    </div>
</section>
<section class="sub-section" >
    <h3>{{::instructionalText["01"]["170"]["title"]}}</h3>
    <div class="input-field">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label>{{::instructionalText["01"]["170"]["label"]}}</label>
            <span type="text" class="italic" id="fundedProjectsExampleFlag7" ng-bind="gsavm.choices['yes_na'][gsavm.program.projects.flag].value"></span>
        </fieldset>
    </div>
    <div ng-show="gsavm.program.projects.flag === gsavm.choices['yes_na'].yes.code">
       <!-- <fieldset class="usa-fieldset-inputs usa-sans">
            <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
                <span class="italic icon checkmark-checked-icon" ng-if="gsavm.program.projects.list[fyTpl.year].flag" >
                    {{fyTpl.name}}: {{fyTpl.year}}
                </span>
            </div>
        </fieldset> -->
        <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
            <div ng-show='gsavm.program.projects.list[fyTpl.year].flag'>
                <fieldset class="usa-fieldset-inputs usa-sans">
                    <label for="fundedProjectsExampleContent-{{fyTpl.year}}">{{fyTpl.name}}: {{fyTpl.year}}<span class="required">*</span></label>
                    <span class="italic" id="fundedProjectsExampleContent-{{fyTpl.year}}" name="fundedProjectsExampleContent-{{fyTpl.year}}" ng-bind=" gsavm.program.projects.list[fyTpl.year].content.actual"></span>
                </fieldset>
            </div>
        </div>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3>{{::instructionalText["01"]["190"]["title"]}}<span class="required" >*</span></h3>
        <div ng-repeat="item in gsavm.program.functionalCodes">
            <span>{{gsavm.getTreeNodeModel(item, 'element_id', 'elements', 'aFunctionalCode').displayValue}}</span>
        </div>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3>{{::instructionalText["01"]["300"]["title"]}}<span class="required" >*</span></h3>
        <div ng-repeat="item in gsavm.choices['program_subject_terms'] | selectedChoiceFilter:gsavm.program.subjectTerms:'element_id' track by item.element_id">
            <p type="text" class="italic" ng-bind="item.displayValue"></p>
        </div>
    </div>
</section>
