<h2><span class="section-circle">6</span> Contact Information</h2>
<section class="sub-section" >
    <h3>{{::instructionalText["06"]["150"]["title"]}}<span class="required" >*</span></h3>
    <section class="sub-minor-section" >
        <fieldset class="usa-fieldset-inputs usa-sans">
            <h4>{{::instructionalText["06"]["151"]["title"]}}<span class="required" >*</span></h4>
            <span type="text" class="italic" name="office7infoRegional" ng-if="gsavm.program.contacts['local'].flag == 'regional'">See Regional Agency Offices</span>
            <span type="text" class="italic" name="office7infoNone" ng-if="gsavm.program.contacts['local'].flag == 'none'">None</span>
        </fieldset>
        <label for="office7info">{{::instructionalText["06"]["151"]["additionalInfo"]["label"]}}</label>
        <span type="text" id="office7info" class="italic" name="office7info" ng-bind="gsavm.program.contacts['local'].additionalInfo.content"></span>
        <br/>
    </section>
    <section class="sub-minor-section">
        <multi-entry ng-model="gsavm.program.contacts.list" new-entry-btn-name="" delete-btn-label="Delete Contact" parent-vm="gsavm" instructionalText="instructionalText">
            <multi-entry-header>
                <h4>{{::$ctrl.parentVm.instructionalText["06"]["152"]["title"]}}</h4>
            </multi-entry-header>
            <multi-entry-list editable="true">
                <span>{{item.title}}</span> <span>{{item.fullName}}</span><br/>
                <test-this address="{{item.address}}" city="{{item.city}}" state="{{item.state}}" zip="{{item.zip}}"></test-this>
                <span ng-show="item.address">{{item.address}}<span ng-show="item.city || item.state || item.zip">, </span></span>
                <span ng-show="item.city">{{item.city}}<span ng-show="item.state || item.zip">, </span></span>
                <span ng-show="item.state">{{item.state}}<span ng-show="item.zip">, </span></span>
                <span>{{item.zip}}</span><span ng-show="item.address || item.city || item.state || item.zip"><br/></span>
                <span ng-show="item.email">Email: {{item.email}}<br/></span>
                <span ng-show="item.phone">Phone: {{item.phone}}<br/></span>
            </multi-entry-list>
            <multi-entry-contacts-sub-form class="input-field" read-only="true">
                <div ng-init="formPath='contact'+$ctrl.parentVm.nextId();idPath=formPath;" name="$ctrl.parentVm.form.contacts.{{formPath}}">
                    <label for="title6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["title"]["label"]}}</label>
                    <span type="text" id="title6" class="italic" name="title6" ng-bind="$subForm.current.title"></span>

                    <label for="{{ 'contact-fullname-' + idPath }}">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["fullName"]["label"]}}<span class="required" >*</span>:</label>
                    <span type="text" id="{{ 'contact-fullname-' + idPath }}" class="italic" name="fullname" ng-bind="$subForm.current.fullName" required></span>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.fullname.$dirty">
                        <span ng-show="$ctrl.parentVm.form.fullname.$error.required">You must provide a full name.</span>
                    </div>

                    <label for="email6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["email"]["label"]}}<span class="required" >*</span>:</label>
                    <span type="text" id="email6" class="italic" name="email6" ng-bind="$subForm.current.email"></span>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.email6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.email6.$error.required">You must provide a phone number.</span>
                    </div>

                    <label for="phone6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["phone"]["label"]}}<span class="required" >*</span>:</label>
                    <span type="text" id="phone6" class="italic" name="phone6" ng-bind="$subForm.current.phone" required></span>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.phone6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.phone6.$error.required">You must provide a phone number.</span>
                    </div>

                    <label for="fax6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["fax"]["label"]}}:</label>
                    <span type="text" id="fax6" class="italic" name="fax6" ng-bind="$subForm.current.fax"></span>
                    <br/>
                    Address:
                    <label for="address6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["street"]["label"]}}<span class="required" >*</span>:</label>
                    <span id="address6" name="address6"  class="italic" ng-bind="$subForm.current.address" required></span>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.address6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.address6.$error.required">You must provide an address.</span>
                    </div>

                    <label for="city6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["city"]["label"]}}<span class="required" >*</span>:</label>
                    <span type="text" id="city6" name="city6" class="italic" ng-bind="$subForm.current.city" required></span>

                    <label for="state6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["state"]["label"]}}<span class="required" >*</span>:</label>
                    <span id="state6" name="state6" class="italic" ng-bind="$subForm.current.state" required></span>

                    <label for="zip6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["zip"]["label"]}}<span class="required" >*</span>:</label>
                    <span type="text" id="zip6" name="zip6"  class="italic" class="usa-input-medium" ng-bind="$subForm.current.zip" required></span>

                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.city6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.city6.$error.required">You must provide a city.</span>
                    </div>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.state6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.state6.$error.required || $ctrl.parentVm.form.state6 ===''">You must provide a state.</span>
                    </div>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.zip6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.zip6.$error.required">You must provide a zip code.</span>
                    </div>

                    <label for="country6">{{::$ctrl.parentVm.instructionalText["06"]["152"]["form"]["country"]["label"]}}</label>
                    <span id="country6" name="country6" class="italic" ng-bind="$subForm.current.country" required></span>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.country6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.country6.$error.required">You must provide a country.</span>
                    </div>
                    <br/>
                </div>
            </multi-entry-contacts-sub-form>
        </multi-entry>
    </section>
    <section class="sub-minor-section" >
        <div class="input-field">
            <h4 for="website7">{{::instructionalText["06"]["153"]["title"]}}</h4>
            <span type="text" id="website7" name="website7" class="italic" ng-bind="gsavm.program.website"></span>
        </div>
    </section>
</section>