<form name="gsavm.form" class="usa-grid-full layout-padding" field-finder-form novalidate>
    <section class="form-header">
        <h1>{{ gsavm.isEdit ? 'Edit' : 'New' }} Listing</h1>
        <field-finder-searchbox></field-finder-searchbox>
    </section>
    <wizard template="/partials/programs/addedit-wizard.tpl.html" edit-mode="true">
        <wz-step title="General Information">
            <div>
                <h2>{{ gsavm.isEdit ? 'Edit' : 'Create' }} Program - Section 1: General Information</h2>
                <section field-finder-bookmark="000 Intro" class="usa-grid">
                    <div class="input-field usa-width-one-fourth">
                        <label for="agency">Agency</label>
                        <span type="text" id="agency"  ng-bind="gsavm.program.agencyId"></span>
                    </div>
                    <div class="input-field usa-width-one-fourth">
                        <label for="sub-tier-agency">Sub-Tier Agency</label>
                        <select id="sub-tier-agency" name="subTierAgency" ng-model="gsavm.$program.subTierAgency" ng-options="office.name for office in gsavm.choices.offices track by office.id" required>
                            <option value='' disabled style="display:none">Please select a Sub-Tier Agency</option>
                        </select>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.subTierAgency.$dirty">
                            <span ng-show="gsavm.form.subTierAgency.$error.required">You must select a Sub-Tier Agency.</span>
                        </div>
                    </div>
                    <div class="input-field usa-width-one-fourth">
                        <label for="office">Office</label>
                        <select id="office" name="office" ng-model="gsavm.$program.office" ng-options="office.name for office in gsavm.choices.offices track by office.id" required>
                            <option value='' disabled style="display:none">Please select an Office</option>
                        </select>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.office.$dirty">
                            <span ng-show="gsavm.form.office.$error.required">You must select an office.</span>
                        </div>
                    </div>
                </section>
                <div class="input-field" field-finder-bookmark>
                    <label for="title">010 Program Title<span class="required" >*</span></label>
                    <input type="text" id="title" name="title" ng-model="gsavm.program.title" required>
                    <div ng-show="gsavm.form.$submitted || gsavm.form.title.$dirty">
                        <span ng-show="gsavm.form.title.$error.required">You must provide a title.</span>
                    </div>
                </div>
                <div class="input-field" field-finder-bookmark>
                    <label for="alternativeName">020 Popular Name</label>
                    <input type="text" id="alternativeName" name="alternativeName" ng-model="gsavm.program.alternativeName" unique-from="gsavm.program.title">
                    <div ng-show="gsavm.form.$submitted || gsavm.form.alternativeName.$dirty">
                        <span ng-show="gsavm.form.alternativeName.$error.uniqueFrom">The Popular Name must be different than the Program Title.</span>
                    </div>
                </div>
                <div class="input-field" field-finder-bookmark>
                    <label for="title">040 Authorization</label>
                    <p>Field Details: For all authorizations/amendments, you must supply either the Act or the Executive Order to continue.</p>
                    <div ng-repeat="authorization in gsavm.program.authorizations | filter:gsavm.exps.isAuthorization track by gsavm.exps.generateAuthKey(authorization)">
                        <div ng-form ng-init="formPath='authorization'+$index;idPath=formPath;parentAuth=authorization" name="gsavm.form.{{formPath}}" class="sub-form">
                            <div ng-include="'partials/programs/authorization.tpl.html'"></div>
                            <hr>
                            <label>Amendments</label>
                            <section class="usa-grid">
                                <div ng-repeat="authorization in gsavm.program.authorizations | filter:gsavm.exps.isPartOfAuth(parentAuth) track by gsavm.exps.generateAuthKey(authorization)">
                                    <div ng-form ng-init="formPath=formPath +'.amendment'+$index;idPath=formPath.replace('.','-');" name="gsavm.form.{{formPath}}" class="sub-form">
                                        <div ng-include="'partials/programs/authorization.tpl.html'" ng-in></div>
                                    </div>
                                </div>
                                <button type="button" ng-click="gsavm.addAmendment(authorization.authorizationId)">Add Amendment</button>
                            </section>
                            <hr>
                            <button type="button" ng-click="gsavm.removeAuthorization($index)">Delete</button>
                        </div>
                    </div>
                    <button type="button" ng-click="gsavm.addAuthorization()">Add</button>
                </div>
                <div class="input-field" field-finder-bookmark>
                    <label for="objective">050 Objectives<span class="required" >*</span></label>
                    <p>Field Details: Enter the stated Objectives for the Program in this textfield.</p>
                    <textarea id="objective" name="objective" ng-model="gsavm.program.objective" class="usa-grid-full" required></textarea>
                    <div ng-show="gsavm.form.$submitted || gsavm.form.objective.$dirty">
                        <span ng-show="gsavm.form.objective.$error.required">You must provide Objectives.</span>
                    </div>
                </div>
                <div class="input-field" field-finder-bookmark>
                    <label for="title">060 Types of Assistance<span class="required" >*</span></label>
                    <p>
                        Select one or more Assistance Types for your Program using the hierarchical picklist. For the complete set of options available in the
                        picklist, see the "Catalog of Federal Domestic Assitance Reference Manual for Agency Liaisons and Staff."
                    </p>
                    <ui-select multiple ng-model="gsavm.program.assistanceTypes" name="assistanceTypes" theme="select2" style="width:800px" required-Length='{ "min": 1 }'>
                        <ui-select-match placeholder="Please select at least one type of Assistance">{{$item.parent.value}}/{{$item.code}} - {{$item.value}}</ui-select-match>
                        <ui-select-choices group-by="'parent.value'" repeat="item.element_id as item in gsavm.choices['assistance_type'] | filter: {value: $select.search}">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-show="gsavm.form.$submitted || gsavm.form.assistanceTypes.$dirty">
                        <span ng-show="gsavm.form.assistanceTypes.$error.requiredLength">You need to select at least one Assistance Type for your Program.</span>
                    </div>
                </div>
                <section field-finder-bookmark>
                    <label for="usageRulesContent">070 Uses and Use Restrictions</label>
                    <p>Select all that apply to your Program. If "Yes" is selected, users are required to provide more details in the textfields.</p>
                    <textarea id="usageRulesContent" name="usageRulesContent." ng-model="gsavm.program.usage.rules.content" class="usa-grid-full" required></textarea>
                    <div ng-show="gsavm.form.$submitted || gsavm.form.usageRulesContent..$dirty">
                        <span ng-show="gsavm.form.usageRulesContent.$error.required">You need to select at least one Assistance Type for your Program.</span>
                    </div>
                    <div class="input-field">
                        <input type="checkbox" id="restrictionsFlag" ng-model="gsavm.program.usage.restrictions.flag" trigger-click-on-enter>
                        <label for="restrictionsFlag">Are there specific restructions place upon the use of the assistance?</label>
                    </div>
                    <div class="input-field" ng-show="gsavm.program.usage.restrictions.flag">
                        <label for="restrictions">Please provide the restrictions:</label>
                        <textarea id="restrictions" name="restrictions" ng-model="gsavm.program.usage.restrictions.content" class="usa-grid-full" ng-required="gsavm.program.usage.restrictions.flag"></textarea>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.restrictions.$dirty">
                            <span ng-show="gsavm.form.restrictions.$error.required">You must provide restrictions.</span>
                        </div>
                    </div>
                    <div class="input-field">
                        <input type="checkbox" id="discretionaryFundFlag" ng-model="gsavm.program.usage.discretionaryFund.flag" trigger-click-on-enter>
                        <label for="discretionaryFundFlag">Are there discretionary funds available?</label>
                    </div>
                    <div class="input-field" ng-show="gsavm.program.usage.discretionaryFund.flag">
                        <label for="discretionaryFund">Discretionary Funds</label>
                        <textarea id="discretionaryFund" name="discretionaryFund" ng-model="gsavm.program.usage.discretionaryFund.content" class="usa-grid-full" ng-required="gsavm.program.usage.discretionaryFund.flag"></textarea>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.discretionaryFund.$dirty">
                            <span ng-show="gsavm.form.discretionaryFund.$error.required">You must provide the discretionary funds.</span>
                        </div>
                    </div>
                    <div class="input-field">
                        <input type="checkbox" id="loanTermsFlag" ng-model="gsavm.program.usage.loanTerms.flag" trigger-click-on-enter>
                        <label for="loanTermsFlag">Are loans a type of assistance in this program?</label>
                    </div>
                    <div class="input-field" ng-show="gsavm.program.usage.loanTerms.flag">
                        <label for="loanTerms">Loan Terms</label>
                        <textarea id="loanTerms"  name="loanTerms" ng-model="gsavm.program.usage.loanTerms.content" class="usa-grid-full" ng-required="gsavm.program.usage.loanTerms.flag"></textarea>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.loanTermsFund.$dirty">
                            <span ng-show="gsavm.form.loanTerms.$error.required">You must provide the loan terms.</span>
                        </div>
                    </div>
                </section>
                <section field-finder-bookmark>
                    <label>190 Functional Codes</label>
                    <div class="input-field">
                        <ui-select multiple ng-model="gsavm.program.functionalCodes" theme="select2" style="width: 800px;">
                            <ui-select-match placeholder="Select code...">{{$item.parent.value}}/{{$item.code}} - {{$item.value}}</ui-select-match>
                            <ui-select-choices group-by="'parent.value'" repeat="item.element_id as item in gsavm.choices['functional_codes'] | propsFilter: {code: $select.search, value: $select.search, 'element_id': $select.search}">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                                <small>
                                    <span ng-bind-html="(item.parent.value + '\\' + item.code) | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </section>
                <button type="button" ng-click="gsavm.save()">Save</button>
                <field-finder-searchbox></field-finder-searchbox>
            </div>
        </wz-step>
        <wz-step title="Eligibility / Qualifications">
            <h3>080 Eligibility Requirements</h3>
                    <h4>081 Applicant Eligibility</h4>
                    <div class="usa-grid">
                    <div class="input-field" field-finder-bookmark>
                        <label for="eligibleApplicants">Eligible Applicants<span class="required" >*</span></label>
                        <ui-select id="eligibleApplicants" theme="select2" multiple ng-model="gsavm.$program.eligibleApplicants" class="usa-width-two-thirds">
                            <ui-select-match placeholder="Search here">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="eligibleApplicant.name as eligibleApplicant in gsavm.choices.eligibleApplicantsList | filter: $select.search">
                                <div ng-bind-html="eligibleApplicant.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <div ng-show="gsavm.form.$submitted || gsavm.form.eligibleApplicants.$dirty">
                            <span ng-show="gsavm.form.eligibleApplicants.$error.required">You must select at least one Eligible Applicant.</span>
                        </div>
                    </div>
                    <div class="input-field" field-finder-bookmark>
                        <label for="useOfAssistance">Use of Assistance<span class="required" >*</span></label>
                        <ui-select id="useOfAssistance" theme="select2" multiple ng-model="gsavm.$program.useOfAssistance" class="usa-width-two-thirds">
                            <ui-select-match placeholder="Search here">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="useOfAssistance.name as useOfAssistance in gsavm.choices.useOfAssistanceList | filter: $select.search">
                                <div ng-bind-html="useOfAssistance.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <div ng-show="gsavm.form.$submitted || gsavm.form.eligibleApplicants.$dirty">
                            <span ng-show="gsavm.form.eligibleApplicants.$error.required">You must select at least one Eligible Applicant.</span>
                        </div>
                        <label for="assistanceAdditionalInfo">Additional Information<span class="required" >*</span></label>
                        <textarea id="assistanceAdditionalInfo" name="assistanceAdditionalInfo" ng-model="gsavm.$program.assistanceAdditionalInfo" required>
                        </textarea>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.assistanceAdditionalInfo.$dirty">
                            <span ng-show="gsavm.form.assistanceAdditionalInfo.$error.required">You must provide additional information.</span>
                        </div>
                    </div>
                </div>

                <h4>082 Beneficiary Eligibility</h4>
                <div class="usa-grid">
                    <div class="input-field" field-finder-bookmark>
                        <label for="beneficiaryEligibility">Beneficiary Eligibility</label>
                        <ui-select id="beneficiaryEligibility" theme="select2" multiple ng-model="gsavm.$program.beneficiaryEligibility" class="usa-width-two-thirds">
                            <ui-select-match placeholder="Search here">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="beneficiaryEligibility.name as beneficiaryEligibility in gsavm.choices.useOfAssistanceList | filter: $select.search">
                                <div ng-bind-html="beneficiaryEligibility.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.beneficiaryEligibility.$dirty">
                            <span ng-show="gsavm.form.beneficiaryEligibility.$error.required">You must select at least one Beneficiary Eligibility.</span>
                        </div>
                        <label for="beneficiaryAdditionalInfo">Additional Information<span class="required" >*</span></label>
                        <textarea id="beneficiaryAdditionalInfo" name="beneficiaryAdditionalInfo" ng-model="gsavm.$program.beneficiaryAdditionalInfo" required>
                        </textarea>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.assistanceAdditionalInfo.$dirty">
                            <span ng-show="gsavm.form.assistanceAdditionalInfo.$error.required">You must provide additional information.</span>
                        </div>
                    </div>
                </div>

            <h4>083 Credentials/Documentation</h4>
            <div class="usa-grid">
                <div class="input-field" field-finder-bookmark>
                    <fieldset class="usa-fieldset-inputs usa-sans">
                        <ul class="usa-unstyled-list">
                            <li>
                                <input name="credentialsDocumentationCheckbox" id="credentialsDocumentationCheckbox" ng-model="gsavm.$program.credentialsDocumentationCheckbox" type="checkbox" trigger-click-on-enter>
                                <label for="credentialsDocumentationCheckbox">Are there credentials or documentation?</label>
                            </li>
                        </ul>

                    </fieldset>

                    <div ng-show="gsavm.$program.credentialsDocumentationCheckbox">
                        <label for="credentialsAdditionalInfo">Please explain:<span class="required" >*</span></label>
                        <textarea id="credentialsAdditionalInfo" name="credentialsAdditionalInfo" ng-model="gsavm.$program.credentialsAdditionalInfo" required>
                        </textarea>
                        <div ng-show="gsavm.form.$submitted || gsavm.form.assistanceAdditionalInfo.$dirty">
                            <span ng-show="gsavm.form.assistanceAdditionalInfo.$error.required">You must provide additional information.</span>
                        </div>

                        <fieldset class="usa-fieldset-inputs usa-sans">
                            <ul class="usa-unstyled-list">
                                <li>
                                    <input name="costPrincipalAcceptable" id="costPrincipalAcceptable" type="checkbox" trigger-click-on-enter>
                                    <label for="costPrincipalAcceptable">Is 2 CFR 200, Subpart E - Cost Principles applicable?</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>



                </div>
            </div>
            <input type="submit" wz-next value="Continue" />
        </wz-step>
        <wz-step title="How to Apply">
            <div>Placeholder</div>
            <input type="submit" wz-next value="Continue" />
        </wz-step>
        <wz-step title="Post Award Requirements">
            <div>Placeholder</div>
            <input type="submit" wz-next value="Continue" />
        </wz-step>
        <wz-step title="Financial Information and Accomplishments">
            <div>Placeholder</div>
            <input type="submit" wz-next value="Continue" />
        </wz-step>
        <wz-step title="Contact Information">
            <div>Placeholder</div>
            <input type="submit" wz-next value="Continue" />
        </wz-step>
        <wz-step title="Review">
            <div>Placeholder</div>
            <input type="submit" wz-next value="Continue" />
        </wz-step>
    </wizard>
    <p>{{ 'Invalid: ' + gsavm.form.$invalid }}</p>
    <p>{{ gsavm.form }}</p>
</form>