<h2><span class="section-circle">5</span> Financial Information and Accomplishments</h2>
<section class="sub-section" field-finder-bookmark>
    <h3>120 Financial Information</h3>
    <section class="sub-minor-section" field-finder-bookmark>
        <div class="input-field">
            <h4>121 Account Identification</h4>
            <!--<p>Agency aupplied 11-digit budget accound codes</p>-->
            <div ng-repeat="account in gsavm.program.financial.accounts track by $index">
                <div ng-form ng-init="formPath='account'+gsavm.nextId();idPath=formPath;" name="gsavm.form.financial.{{formPath}}" class="sub-form">
                    <div class="input-field">
                        <label for="{{ idPath + '-code-' + $index }}">Code<span class="required">*</span></label>
                        <span type="text" id="{{ 'ac-code-' + idPath }}" ng-bind="account.code" mask="xx-xxxx-x-x-xxx"></span>
                        <!--masked-input id="{{ 'ac-code-' + idPath }}" name="code" ng-model="account.code" mask="xx-xxxx-x-x-xxx"></masked-input>
                        <div ng-show="gsavm.validationFlag['Financial Information and Accomplishments'] || gsavm.form.financial.{{formPath}}.code.$dirty">
                            <span ng-show="gsavm.form.financial.{{formPath}}.code.$error.filled">The Code must be filled entirely.</span>
                        </div-->
                    </div>
                    <div class="input-field ">
                        <label for="{{ 'ac-description-' + idPath }}">Description</label>
                        <!--<p>Optionally add a description for this account number</p>-->
                        <span type="text" id="{{ 'ac-description-' + idPath }}" name="description" ng-bind="account.description"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sub-minor-section" field-finder-bookmark>
        <h4>122 Obligations</h4>
        <div ng-repeat="obligation in gsavm.program.financial.obligations track by $index" ng-model="gsavm.program.tafscodes" name="tafscodes" required-Length='{ "min": 1 }'>
            <div ng-form ng-init="formPath='obligations'+gsavm.nextId();idPath=formPath" name="gsavm.form.financial.{{formPath}}" class="sub-form">
                <section>
                    <div class="input-field">
                        <label for="{{ 'recovery-flag-' + idPath }}">Is this a Recovery and Reinvestment Act Obligation?</label>
                        <span type="text" id="{{ 'recovery-flag-' + idPath }}" ng-bind="recoveryFlag[formPath]"></span>
                    </div>
                    <div class="input-field">
                        <label for="{{ 'salary-or-expense-' + idPath }}">Is this obligation for salaries and expenses?</label>
                        <span type="text" id="{{ 'salary-or-expense-' + idPath }}" ng-bind="gsavm.uiLogic.salaryOrExpenseFlag[formPath]"></span>
                    </div>
                    <div class="input-field" ng-show="!gsavm.uiLogic.salaryOrExpenseFlag[formPath]">
                        <label for="{{ 'assistance-types-' + idPath }}">Assistance Type<span class="required" >*</span></label>
                        <div ng-repeat="item in gsavm.choices['assistance_type'] | selectedChoiceFilter:obligation.questions.salary_or_expense.assistanceType:'element_id' track by item.element_id">
                            <p type="text" ng-bind="item.displayValue"></p>
                        </div>
                        <!--ui-select id="{{ 'assistance-types-' + idPath }}" ng-model="obligation.questions.salary_or_expense.assistanceType" name="assistanceTypes" theme="select2" style="width:800px" ng-required="!gsavm.uiLogic.salaryOrExpenseFlag[formPath]">
                            <ui-select-match placeholder="Please select an assistance type...">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices group-by="gsavm.groupByFns.multiPickerGroupByFn" repeat="item.element_id as item in gsavm.choices['assistance_type'] | propsFilter: {value: $select.search, 'parent.value': $select.search}">
                                <div ng-bind-html="item.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="gsavm.validationFlag['Financial Information and Accomplishments'] || gsavm.form.financial.{{formPath}}.assistanceTypes.$dirty">
                            <span ng-show="gsavm.form.financial.{{formPath}}.assistanceTypes.$error.requiredLength">You need to select an Assistance Type.</span>
                        </div-->
                    </div>
                </section>
                <hr>
                <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
                    <section ng-form name="gsavm.form.financial.{{formPath}}.{{fyTpl.idName}}">
                        <div class="usa-grid">
                            <p>{{fyTpl.name}}: {{fyTpl.year}}</p>
                        </div>
                        <div class="usa-grid">
                            <fieldset class="usa-fieldset-inputs usa-sans">
                                <legend class="usa-sr-only">{{fyTpl.name}}: {{fyTpl.year}} - {{fyTpl.obligType}} Type Options</legend>
                                <div ng-show="obligation.values[fyTpl.year].flag=='yes'">
                                    {{fyTpl.obligType || fyTpl.type}} Available
                                </div>
                                <div ng-show="obligation.values[fyTpl.year].flag=='no'">
                                    Not Seperately Identifiable
                                </div>
                                <div ng-show="obligation.values[fyTpl.year].flag=='na'">
                                    {{fyTpl.obligType || fyTpl.type}} Not Available
                                </div>
                            </fieldset>
                        </div>
                        <div class="usa-grid">
                            <div class="input-field usa-width-one-fourth" ng-show="obligation.values[fyTpl.year].flag === gsavm.choices['yes_no_na'].yes.code">
                                <label for="{{fyTpl.idName}}-input-{{idPath}}">{{fyTpl.obligType || fyTpl.type}}</label>
                                <span type="text" id="{{fyTpl.idName}}-input-{{idPath}}" name="value" ng-bind="obligation.values[fyTpl.year][fyTpl.obligVarName]"></span>
                            </div>
                            <div class="input-field usa-width-one-fourth" ng-show="obligation.values[fyTpl.year].flag !== gsavm.choices['yes_no_na'].yes.code">
                                <label for="{{ 'optional-exp-' + idPath }}">Optional Information</label>
                                <span type="text" id="{{ 'optional-exp-' + idPath }}" name="explanation" ng-bind="obligation.values[fyTpl.year].explanation"></span>
                            </div>
                        </div>
                    </section>
                    <hr>
                </div>
                <section class="usa-grid">
                    <div class="input-field">
                        <label for="{{ 'additional-info-' + idPath }}">Additional Information</label>
                        <!--<p>Optionally add a description for this account number</p>-->
                        <span type="text" id="{{ 'additional-info-' + idPath }}" name="additionalInfo" ng-bind="obligation.additionalInfo.content"></span>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="sub-minor-section" field-finder-bookmark>
        <div class="input-field">
            <label for="financialAdditionalInfo7">123 Range and Average of Financial Assistance</label>
            <span type="text" id="financialAdditionalInfo7" name="financialAdditionalInfo" ng-bind="gsavm.program.financial.additionalInfo.content"></span>
        </div>
    </section>
    <section class="sub-minor-section" field-finder-bookmark>
        <div class="input-field">
            <h4>124 TAFS Codes - Unique Treasury Appropriation Fund Symbols<span class="required" >*</span></h4>
            <div ng-repeat="tafscode in gsavm.program.financial.treasury.tafs track by $index" ng-model="gsavm.program.tafscodes" name="tafscodes" required-Length='{ "min": 1 }'>
                <div ng-form ng-init="formPath='tafscode'+$index;idPath=formPath" name="gsavm.form.financial.treasury.{{formPath}}" class="sub-form">
                    <section class="usa-grid">
                        <div class="input-field usa-width-one-fourth">
                            <label for="{{ 'dept-code-' + idPath }}">Treasury Dept Code<span class="required">*</span></label>
                            <span type="text" id="{{ 'dept-code-' + idPath }}" name="deptCode" ng-bind="tafscode.departmentCode"></span>
                        </div>
                        <div class="input-field usa-width-one-fourth">
                            <label for="{{ 'allocation-transfer-agency-' + idPath }}">Allocation Transfer Agency</label>
                            <span type="text" id="{{ 'allocation-transfer-agency-' + idPath }}" name="allocationTransferAgency" ng-bind="tafscode.allocationTransferAgency"></span>
                        </div>
                        <div class="input-field usa-width-one-fourth">
                            <label for="{{ 'fy1-' + idPath }}">FY 1</label>
                            <span type="text" id="{{ 'fy1-' + idPath }}" name="fy1" ng-bind="tafscode.fy1"></span>
                        </div>
                        <div class="input-field usa-width-one-fourth">
                            <label for="{{ 'fy2-' + idPath }}">FY 2</label>
                            <span type="text" id="{{ 'fy2-' + idPath }}" name="fy2" ng-bind="tafscode.fy2"></span>
                        </div>
                    </section>
                    <section class="usa-grid">
                        <div class="input-field usa-width-one-fourth">
                            <label for="{{ 'account-code-' + idPath }}">Treasury Account Main Code<span class="required">*</span></label>
                            <span type="text" id="{{ 'account-code-' + idPath }}" name="accountCode" ng-bind="tafscode.accountCode"></span>
                        </div>
                        <div class="input-field usa-width-one-fourth">
                            <label for="{{ 'tafs-sub-account-' + idPath }}">TAFS Sub-Account</label>
                            <span type="text" id="{{ 'tafs-sub-account-' + idPath }}" name="subAccountCode" ng-bind="tafscode.subAccountCode"></span>
                        </div>
                    </section>
                </div>
            </div>
            <div ng-show="gsavm.form.tafscodes.$dirty">
                <span ng-show="gsavm.form.tafscodes.$error.requiredLength">You must provide at least one TAFS Code.</span>
            </div>
        </div>
    </section>
</section>
<section class="sub-section" field-finder-bookmark>
    <h3>130 Program Accomplishments<span ng-show="gsavm.uiLogic.postAwardsAccomplishmentsFlag" class="required" >*</span></h3>
    <div class="input-field">
        <label for="postawards-accomplishments-flag">Are there program accomplishments?</label>
        <span type="text" id="postawards-accomplishments-flag" ng-bind="gsavm.uiLogic.postAwardsAccomplishmentsFlag"></span>
    </div>
    <div ng-show="gsavm.program.postAward.accomplishments.flag === gsavm.choices['yes_na'].yes.code">
        <div class="input-field" ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
            <ng-form name="gsavm.form.postAward.accomplishments.list.{{fyTpl.year}}">
                <p>{{fyTpl.name}}: {{fyTpl.year}}</p>
                <label for="postawards-accomplishments-{{fyTpl.idName}}">{{fyTpl.type}}<span class="required" ng-show="fyTpl.isRequired">*</span></label>
                <span type="text" id="postawards-accomplishments-{{fyTpl.idName}}" name="value" ng-bind="gsavm.program.postAward.accomplishments.list[fyTpl.year].content[fyTpl.varName]"></span>
            </ng-form>
        </div>
    </div>
</section>
</section>