<h2><span class="section-circle">1</span> General Information</h2>
<section class="sub-section" >
    <div class="input-field" >
        <h3 for="title7">010 Program Title<span class="required" >*</span></h3>
        <span type="text" id="title7"  ng-bind="gsavm.program.title"></span>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3 for="alternativeName7">020 Popular Name</h3>
        <span type="text" id="alternativeName7"  ng-bind="gsavm.program.alternativeNames"></span>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <multi-entry ng-model="gsavm.program.authorizations" name="authorizations" item-title="gsavm.getAuthorizationTitle" editable-items="true" new-entry-btn-name="+ Add Authorization" delete-btn-label="Delete Authorization" on-entry-delete="gsavm.onAuthorizationRemoved(removed)" parent-vm="gsavm" on-after-dialog-open="gsavm.onAuthDialogOpen" list-filter="'filter:$ctrl.parentVm.exps.isAuthorization'" required-Length='{ "min": 1 }'>
            <multi-entry-header>
                <h3>040 Authorization<span class="required" >*</span></h3>
            </multi-entry-header>
            <div>
                <span ng-show="$ctrl.parentVm.form.authorizations.$error.requiredLength">You need to create at least one Authorization.</span>
            </div>
            <multi-entry-sub-form class="input-field" create-function="$ctrl.parentVm.createAuthorization" on-save="$ctrl.parentVm.onAuthorizationSave" on-cancel="$ctrl.parentVm.onAuthorizationCancel">
                <div ng-init="formPath='authorization'+$ctrl.parentVm.nextId();idPath=formPath;parentAuth=authorization">
                    <section class="usa-grid">
                        <ul class="usa-unstyled-list radio-button-group">
                            <li ng-repeat="btn in $ctrl.parentVm.choices['authorization_type'] track by btn.element_id">
                                <input type="radio" name="{{formPath}}_type" ng-model="$subForm.current.authorizationType"  ng-value="btn.element_id" id="{{ idPath + '-' + btn.element_id }}" readonly="readonly"/>
                                <label for="{{ idPath + '-' + btn.element_id }}">{{btn.value}}</label>
                            </li>
                        </ul>
                    </section>
                    <div ng-include="'partials/programs/authorizationView.tpl.html'"></div>
                    <div ng-if="$subForm.current.authorizationType">
                        <hr>
                        <multi-entry ng-model="$ctrl.parentVm.program.authorizations" item-title="$ctrl.parentVm.getAmendmentTitle" editable-items="true" new-entry-btn-name="+ Add Amendment" delete-btn-label="Delete Amendment" on-entry-delete="$ctrl.parentVm.removeAmendment(removed)" parent-vm="$ctrl.parentVm" list-track-by="$ctrl.parentVm.exps.generateAuthKey(item)" list-filter="$ctrl.locals.amendmentFilter">
                            <multi-entry-header>
                                <label>Amendments</label>
                            </multi-entry-header>
                            <multi-entry-sub-form class="input-field" create-function="$ctrl.parentVm.createAmendment" before-save="$ctrl.parentVm.onAmendmentBeforeSave" on-parent-update="$ctrl.parentVm.onAuthorizationTypeUpdate">
                                <div ng-init="formPath=formPath +'.amendment'+$index;idPath=formPath.replace('.','-');" name="$ctrl.parentVm.form.{{formPath}}" class="sub-form">
                                    <div ng-include="'partials/programs/authorizationView.tpl.html'"></div>
                                </div>
                            </multi-entry-sub-form>
                        </multi-entry>
                    </div>
                </div>
            </multi-entry-sub-form>
        </multi-entry>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3 for="objective7">050 Objectives<span class="required" >*</span></h3>
        <!--<p>Field Details: Enter the stated Objectives for the Program in this textfield.</p>-->
        <span type="text" id="objective7" ng-bind="gsavm.program.objective"></span>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3>060 Types of Assistance<span class="required" >*</span></h3>
        <!--<p>
            Select one or more Assistance Types for your Program using the hierarchical picklist. For the complete set of options available in the
            picklist, see the "Catalog of Federal Domestic Assitance Reference Manual for Agency Liaisons and Staff."
        </p>-->
        <div ng-repeat="item in gsavm.choices['assistance_type'] | selectedChoiceFilter:gsavm.program.assistanceTypes:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
    </div>
</section>
<section class="sub-section" >
    <h3>070 Uses and Use Restrictions</h3>
    <!--<p>Select all that apply to your Program. If "Yes" is selected, users are required to provide more details in the textfields.</p>-->
    <label for="usageRulesContent7">Describe how assistance can potentially be used<span class="required" >*</span></label>
    <span type="text" id="usageRulesContent7" ng-bind="gsavm.program.usage.rules.content"></span>
    <div class="input-field">
        <!--input type="checkbox" id="restrictionsFlag" ng-model="restrictionsFlag" ng-checked="gsavm.program.usage.restrictions.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.restrictions.flag = restrictionsFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
        <label for="restrictionsFlag7">Are there specific restructions place upon the use of the assistance?</label>
        <span type="text" id="restrictionsFlag7" ng-bind="gsavm.program.usage.restrictions.flag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.restrictions.flag === gsavm.choices['yes_no'].yes.code">
        <label for="restrictions7">Please provide the restrictions:<span class="required" >*</span></label>
        <span type="text" id="restrictions7" ng-bind="gsavm.program.usage.restrictions.content"></span>
    </div>
    <div class="input-field">
        <!--input type="checkbox" id="discretionaryFundFlag" ng-model="discretionaryFundFlag" ng-checked="gsavm.program.usage.discretionaryFund.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.discretionaryFund.flag = discretionaryFundFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
        <label for="discretionaryFundFlag7">Are there discretionary funds available?</label>
        <span type="text" id="discretionaryFundFlag7" ng-bind="gsavm.program.usage.discretionaryFund.flag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.discretionaryFund.flag === gsavm.choices['yes_no'].yes.code">
        <label for="discretionaryFund7">Discretionary Funds<span class="required" >*</span></label>
        <span type="text" id="discretionaryFund7" ng-bind="gsavm.program.usage.discretionaryFund.content"></span>
    </div>
    <div class="input-field">
        <!--input type="checkbox" id="loanTermsFlag" ng-model="loanTermsFlag" ng-checked="gsavm.program.usage.loanTerms.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.loanTerms.flag = loanTermsFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
        <label for="loanTermsFlag7">Are loans a type of assistance in this program?</label>
        <span type="text" id="loanTermsFlag7" ng-bind="gsavm.program.usage.loanTerms.flag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.loanTerms.flag === gsavm.choices['yes_no'].yes.code">
        <label for="loanTerms7">Loan Terms<span class="required" >*</span></label>
        <span type="text" id="loanTerms7" ng-bind="gsavm.program.usage.loanTerms.content"></span>
    </div>
</section>
<section class="sub-section" field-finder-bookmar>
    <h3>160 Related Programs<span class="required" >*</span></h3>
    <div class="input-field">
        <fieldset class="usa-fieldset-inputs usa-sans usa-input-large">
            <label>Are there any related programs?</label>
            <span type="text" id="relatedProgramsFlag7yes" ng-if="gsavm.program.relatedPrograms.flag=='yes'">Yes</span>
            <span type="text" id="relatedProgramsFlag7na" ng-if="gsavm.program.relatedPrograms.flag=='na'">Not Applicable</span>
            <span type="text" id="relatedProgramsFlag7false" ng-if="gsavm.program.relatedPrograms.flag=='false'"></span>
        </fieldset>
    </div>
    <div class="input-field" ng-show="gsavm.program.relatedPrograms.flag === 'yes'">
        <label>Select any related programs below:<span class="required" >*</span></label>
        <div ng-repeat="item in gsavm.choices['programs'] | selectedChoiceFilter:gsavm.program.relatedPrograms.relatedTo:'_id' track by item._id">
            <p type="text" ng-bind="item.title"></p>
        </div>
    </div>
</section>
<section class="sub-section" >
    <h3>170 Examples of Funded Projects</h3>
    <div class="input-field">
        <label>Are there examples of funded projects?</label>
        <span type="text" id="fundedProjectsExampleFlag7yes" ng-if="gsavm.program.projects.flag=='yes'">Yes</span>
        <span type="text" id="fundedProjectsExampleFlag7na" ng-if="gsavm.program.projects.flag=='na'">Not Applicable</span>
        <span type="text" id="fundedProjectsExampleFlag7false" ng-if="gsavm.program.projects.flag=='false'"></span>
    </div>
    <div ng-show="gsavm.program.projects.flag === gsavm.choices['yes_na'].yes.code">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label>Please select all that apply:</label>
            <ul class="usa-unstyled-list">
                <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
                    <li>
                        <input name="fundedProjectsExampleYear-{{fyTpl.year}}" id="fundedProjectsExampleYear-{{fyTpl.year}}" type="checkbox" ng-readonly="true" value="{{fyTpl.year}}"
                               ng-model="gsavm.program.projects.list[fyTpl.year].flag" ng-checked="gsavm.program.projects.list[fyTpl.year].content.projection || gsavm.program.projects.flag.list[fyTpl.year].content.actual" >
                        <label for="fundedProjectsExampleYear-{{fyTpl.year}}">{{fyTpl.name}}: {{fyTpl.year}}</label>
                    </li>
                </div>
            </ul>
        </fieldset>
        <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
            <div ng-show='gsavm.program.projects.list[fyTpl.year].flag'>
                <label for="fundedProjectsExampleContent-{{fyTpl.year}}">{{fyTpl.name}}: {{fyTpl.year}}<span class="required">*</span></label>
                <span id="fundedProjectsExampleContent-{{fyTpl.year}}" name="fundedProjectsExampleContent-{{fyTpl.year}}" ng-bind=" gsavm.program.projects.list[fyTpl.year].content.actual"></span>
            </div>
        </div>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3>190 Functional Codes<span class="required" >*</span></h3>
        <div ng-repeat="item in gsavm.choices['functional_codes'] | selectedChoiceFilter:gsavm.program.functionalCodes:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
    </div>
</section>
<section class="sub-section" >
    <div class="input-field">
        <h3>300 Subject Terms<span class="required" >*</span></h3>
        <div ng-repeat="item in gsavm.choices['program_subject_terms'] | selectedChoiceFilter:gsavm.program.subjectTerms:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
    </div>
</section>