<h2><span class="section-circle">5</span> Financial Information and Accomplishments</h2>
<section class="sub-section" >
    <h3>120 Financial Information</h3>
    <section class="sub-minor-section" >
        <div class="input-field">
            <multi-entry ng-model="gsavm.program.financial.accounts" item-title="gsavm.getAccountTitle" editable-items="true" new-entry-btn-name="+ Add Account" delete-btn-label="Delete Account" parent-vm="gsavm">
                <multi-entry-header>
                    <h4>121 Account Identification</h4>
                </multi-entry-header>
                <multi-entry-sub-form class="input-field">
                    <div ng-init="formPath='account'+$ctrl.parentVm.nextId();idPath=formPath;" name="$ctrl.parentVm.form.financial.{{formPath}}">
                        <div class="input-field">
                            <label for="{{ 'ac-code-' + idPath }}">Code<span class="required">*</span></label>
                            <masked-input id="{{ 'ac-code-' + idPath }}" name="code" ng-model="$subForm.current.code" mask="xx-xxxx-x-x-xxx"></masked-input>
                        </div>
                        <div class="input-field ">
                            <label for="{{ 'ac-description-' + idPath }}">Description</label>
                            <!--<p>Optionally add a description for this account number</p>-->
                            <textarea id="{{ 'ac-description-' + idPath }}" name="description" ng-model="$subForm.current.description"></textarea>
                        </div>
                    </div>
                </multi-entry-sub-form>
            </multi-entry>
        </div>
    </section>
    <section class="sub-minor-section" >
        <div class="input-field">
            <multi-entry ng-model="gsavm.program.financial.obligations" item-title="gsavm.getObligationTitle" editable-items="true" new-entry-btn-name="+ Add Obligation" delete-btn-label="Delete Obligation" parent-vm="gsavm">
                <multi-entry-header>
                    <h4>122 Obligations</h4>
                </multi-entry-header>
                <multi-entry-sub-form class="input-field">
                    <div ng-init="formPath='obligations'+$ctrl.parentVm.nextId();idPath=formPath;" name="$ctrl.parentVm.form.financial.{{formPath}}">
                        <section>
                            <div class="input-field">
                                <fieldset class="usa-fieldset-inputs usa-sans">
                                    <label for="{{ 'recovery-flag-' + idPath }}">Is this a Recovery and Reinvestment Act Obligation?<span class="required" >*</span></label>
                                    <ul class="usa-unstyled-list">
                                        <li>
                                            <input name="{{ 'recovery-flag-' + idPath }}" ng-model="$subForm.current.questions.recovery.flag" id="{{ 'recovery-flag-' + idPath }}-yes" type="radio" value="yes" required>
                                            <label for="{{ 'recovery-flag-' + idPath }}-yes">Yes</label>
                                        </li>
                                        <li>
                                            <input name="{{ 'recovery-flag-' + idPath }}" ng-model="$subForm.current.questions.recovery.flag" id="{{ 'recovery-flag-' + idPath }}-na" type="radio" value="na" required>
                                            <label for="{{ 'recovery-flag-' + idPath }}-na">Not Applicable</label>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="input-field">
                                <fieldset class="usa-fieldset-inputs usa-sans">
                                    <label for="{{ 'salary-or-expense-' + idPath }}">Is this obligation for salaries and expenses?<span class="required" >*</span></label>

                                    <ul class="usa-unstyled-list">
                                        <li>
                                            <input name="{{ 'salary-or-expense-' + idPath }}" ng-model="$subForm.current.questions.salary_or_expense.flag" id="{{ 'salary-or-expense-' + idPath }}-yes" type="radio" value="yes" required>
                                            <label for="{{ 'salary-or-expense-' + idPath }}-yes">Yes</label>
                                        </li>
                                        <li>
                                            <input name="{{ 'salary-or-expense-' + idPath }}" ng-model="$subForm.current.questions.salary_or_expense.flag" id="{{ 'salary-or-expense-' + idPath }}-na" type="radio" value="na" required>
                                            <label for="{{ 'salary-or-expense-' + idPath }}-na">Not Applicable</label>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="input-field" ng-show="$subForm.current.questions.salary_or_expense.flag=='yes'">
                                <label id="{{ 'assistance-types-' + idPath }}">Assistance Type<span class="required" >*</span></label>
                                <ui-select id="{{ 'assistance-types-' + idPath }}" ng-model="$subForm.current.questions.salary_or_expense.assistanceType" name="assistanceTypes" theme="select2" ng-required="!$ctrl.parentVm.uiLogic.salaryOrExpenseFlag[formPath]">
                                    <ui-select-match placeholder="Please select an assistance type...">{{$select.selected.value}}</ui-select-match>
                                    <ui-select-choices group-by="$ctrl.parentVm.groupByFns.multiPickerGroupByFn" repeat="item.element_id as item in $ctrl.parentVm.choices['assistance_type'] | propsFilter: {value: $select.search, 'parent.value': $select.search}">
                                        <div ng-bind-html="item.value | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="$ctrl.parentVm.validationFlag['Financial Information and Accomplishments'] || $ctrl.parentVm.form.financial.{{formPath}}.assistanceTypes.$dirty">
                                    <span ng-show="$ctrl.parentVm.form.financial.{{formPath}}.assistanceTypes.$error.requiredLength">You need to select an Assistance Type.</span>
                                </div>
                            </div>
                        </section>
                        <hr>
                        <div ng-repeat="fyTpl in $ctrl.parentVm.fyTpls track by fyTpl.year">
                            <section ng-form name="$ctrl.parentVm.form.financial.{{formPath}}.{{fyTpl.idName}}">
                                <fieldset class="usa-fieldset-inputs usa-sans">
                                    <label>{{fyTpl.name}}: {{fyTpl.year}}</label>
                                    <legend class="usa-sr-only">{{fyTpl.name}}: {{fyTpl.year}} - {{fyTpl.obligType}} Type Options</legend>
                                    <ul class="usa-unstyled-list" ng-init="$subForm.current.values[fyTpl.year].flag = $subForm.current.values[fyTpl.year].flag || $ctrl.parentVm.choices['yes_no_na'].yes.code">
                                        <li>
                                            <input id="{{fyTpl.obligType}}{{fyTpl.year}}-yes-{{idPath}}" type="radio" ng-value="$ctrl.parentVm.choices['yes_no_na'].yes.code" ng-model="$subForm.current.values[fyTpl.year].flag" >
                                            <label for="{{fyTpl.obligType}}{{fyTpl.year}}-yes-{{idPath}}">{{fyTpl.obligType || fyTpl.type}} Available</label>
                                        </li>
                                        <li>
                                            <input id="{{fyTpl.obligType}}{{fyTpl.year}}-no-{{idPath}}" type="radio" ng-value="$ctrl.parentVm.choices['yes_no_na'].no.code" ng-model="$subForm.current.values[fyTpl.year].flag">
                                            <label for="{{fyTpl.obligType}}{{fyTpl.year}}-no-{{idPath}}">Not Seperately Identifiable</label>
                                        </li>
                                        <li>
                                            <input id="{{fyTpl.obligType}}{{fyTpl.year}}-na-{{idPath}}" type="radio" ng-value="$ctrl.parentVm.choices['yes_no_na'].na.code" ng-model="$subForm.current.values[fyTpl.year].flag">
                                            <label for="{{fyTpl.obligType}}{{fyTpl.year}}-na-{{idPath}}">{{fyTpl.obligType || fyTpl.type}} Not Available</label>
                                        </li>
                                    </ul>
                                </fieldset>

                                <div class="input-field" ng-show="$subForm.current.values[fyTpl.year].flag === $ctrl.parentVm.choices['yes_no_na'].yes.code">
                                    <label for="{{fyTpl.idName}}{{fyTpl.year}}-input-{{idPath}}">{{fyTpl.obligType || fyTpl.type}}</label>
                                    <input id="{{fyTpl.idName}}{{fyTpl.year}}-input-{{idPath}}" type="text" class="usa-input-small" name="value" ng-model="$subForm.current.values[fyTpl.year][fyTpl.obligVarName]">
                                </div>
                                <div class="input-field" ng-show="$subForm.current.values[fyTpl.year].flag !== $ctrl.parentVm.choices['yes_no_na'].yes.code">
                                    <label for="{{ 'optional-exp-' + idPath }}{{fyTpl.year}}">Optional Information</label>
                                    <input type="text" id="{{ 'optional-exp-' + idPath }}{{fyTpl.year}}" class="usa-input-small" name="explanation" ng-model="$subForm.current.values[fyTpl.year].explanation">
                                </div>

                            </section>
                            <hr style="margin-top:1em;">
                        </div>
                        <section>
                            <div class="input-field">
                                <label for="{{ 'additional-info-' + idPath }}">Additional Information</label>
                                <!--<p>Optionally add a description for this account number</p>-->
                                <textarea id="{{ 'additional-info-' + idPath }}" name="additionalInfo" ng-model="$subForm.current.additionalInfo.content"></textarea>
                            </div>
                        </section>
                    </div>
                </multi-entry-sub-form>
            </multi-entry>
        </div>
    </section>
    <section class="sub-minor-section" >
        <div class="input-field">
            <h4 for="financialAdditionalInfo7">123 Range and Average of Financial Assistance</h4>
            <span type="text" id="financialAdditionalInfo7" name="financialAdditionalInfo" ng-bind="gsavm.program.financial.additionalInfo.content"></span>
        </div>
    </section>
    <section class="sub-minor-section" >
        <multi-entry ng-model="gsavm.program.financial.treasury.tafs" item-title="gsavm.getTafsTitle" editable-items="true" new-entry-btn-name="+ Add TAF" delete-btn-label="Delete TAF" parent-vm="gsavm">
            <multi-entry-header>
                <h4>124 TAFS Codes - Unique Treasury Appropriation Fund Symbols<span class="required" >*</span></h4>
            </multi-entry-header>
            <multi-entry-sub-form class="input-field">
                <div ng-init="formPath='tafscode'+$ctrl.parentVm.nextId();idPath=formPath;" name="$ctrl.parentVm.form.financial.treasury.{{formPath}}">
                    <div class="input-field ">
                        <section class="usa-grid">
                            <div class="input-field usa-width-one-fourth">
                                <label for="{{ 'dept-code-' + idPath }}">Treasury Dept Code<span class="required">*</span></label>
                                <input type="text" id="{{ 'dept-code-' + idPath }}" name="deptCode" ng-model="$subForm.current.departmentCode" required>
                                <div ng-show="$ctrl.parentVm.validationFlag['Financial Information and Accomplishments'] || $ctrl.parentVm.form.financial.treasury.{{formPath}}.deptCode.$dirty">
                                    <span ng-show="$ctrl.parentVm.form.financial.treasury.{{formPath}}.deptCode.$error.required">The Treasury Dept Code must be filled.</span>
                                </div>
                            </div>
                            <div class="input-field usa-width-one-fourth">
                                <label for="{{ 'allocation-transfer-agency-' + idPath }}">Allocation Transfer Agency</label>
                                <input type="text" id="{{ 'allocation-transfer-agency-' + idPath }}" name="allocationTransferAgency" ng-model="$subForm.current.allocationTransferAgency" >
                            </div>
                            <div class="input-field usa-width-one-fourth">
                                <label for="{{ 'fy1-' + idPath }}">FY 1</label>
                                <input type="text" id="{{ 'fy1-' + idPath }}" name="fy1" ng-model="$subForm.current.fy1" >
                            </div>
                            <div class="input-field usa-width-one-fourth">
                                <label for="{{ 'fy2-' + idPath }}">FY 2</label>
                                <input type="text" id="{{ 'fy2-' + idPath }}" name="fy2" ng-model="$subForm.current.fy2" >
                            </div>
                        </section>
                        <section class="usa-grid">
                            <div class="input-field usa-width-one-fourth">
                                <label for="{{ 'account-code-' + idPath }}">Treasury Account Main Code<span class="required">*</span></label>
                                <input type="text" id="{{ 'account-code-' + idPath }}" name="accountCode" ng-model="$subForm.current.accountCode" required>
                                <div ng-show="$ctrl.parentVm.validationFlag['Financial Information and Accomplishments'] || $ctrl.parentVm.form.financial.treasury.{{formPath}}.accountCode.$dirty">
                                    <span ng-show="$ctrl.parentVm.form.financial.treasury.{{formPath}}.accountCode.$error.required">The Treasury Account Main Code must be filled.</span>
                                </div>
                            </div>
                            <div class="input-field usa-width-one-fourth">
                                <label for="{{ 'tafs-sub-account-' + idPath }}">TAFS Sub-Account</label>
                                <input type="text" id="{{ 'tafs-sub-account-' + idPath }}" name="subAccountCode" ng-model="$subForm.current.subAccountCode" >
                            </div>
                        </section>
                    </div>
                </div>
            </multi-entry-sub-form>
        </multi-entry>
        </div>
    </section>
</section>
<section class="sub-section" >
    <h3>130 Program Accomplishments<span ng-show="gsavm.uiLogic.postAwardsAccomplishmentsFlag" class="required" >*</span></h3>
    <div class="input-field">
        <label>Are there program accomplishments?</label>
        <span type="text" id="programAccomplishmentFlag7yes" ng-if="gsavm.program.postAward.accomplishments.flag=='yes'">Yes</span>
        <span type="text" id="programAccomplishmentFlag7na" ng-if="gsavm.program.postAward.accomplishments.flag=='na'">Not Applicable</span>
        <span type="text" id="programAccomplishmentFlag7false" ng-if="gsavm.program.postAward.accomplishments.flag=='false'"></span>
    </div>
    <div ng-show="gsavm.program.postAward.accomplishments.flag === gsavm.choices['yes_na'].yes.code">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label>Please select all that apply:</label>
            <ul class="usa-unstyled-list">
                <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
                    <li>
                        <input name="programAccomplishmentYear-{{fyTpl.year}}" id="programAccomplishmentYear-{{fyTpl.year}}" type="checkbox" ng-readonly="true" value="{{fyTpl.year}}"
                               ng-model="gsavm.program.postAward.accomplishments.list[fyTpl.year].flag" ng-checked="gsavm.program.postAward.accomplishments.list[fyTpl.year].content.projection || gsavm.program.postAward.accomplishments.list[fyTpl.year].content.actual" >
                        <label for="programAccomplishmentYear-{{fyTpl.year}}">{{fyTpl.name}}: {{fyTpl.year}}</label>
                    </li>
                </div>
            </ul>
        </fieldset>
        <div ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.year">
            <div ng-show='gsavm.program.postAward.accomplishments.list[fyTpl.year].flag'>
                <label for="programAccomplishmentContent-{{fyTpl.year}}">{{fyTpl.name}}: {{fyTpl.year}}<span class="required">*</span></label>
                <span id="programAccomplishmentContent-{{fyTpl.year}}" name="programAccomplishmentContent-{{fyTpl.year}}" ng-bind="gsavm.program.postAward.accomplishments.list[fyTpl.year].content.actual"></span>
            </div>
        </div>
    </div>
</section>
</section>