<h2><span class="section-circle">6</span> Contact Information</h2>
<section class="sub-section" >
    <h3>150 Information Contacts<span class="required" >*</span></h3>
    <section class="sub-minor-section" >
        <fieldset class="usa-fieldset-inputs usa-sans">
            <h4>151 Regional or Local Office<span class="required" >*</span></h4>
            <span type="text" name="office7info" ng-bind="gsavm.program.contacts['local'].flag"></span>
        </fieldset>
        <label for="office7info">Additional Information:</label>
        <span type="text" id="office7info" name="office7info" ng-bind="gsavm.program.contacts['local'].additionalInfo.content"></span>
        <br/>
    </section>
    <section class="sub-minor-section" >
        <multi-entry ng-model="gsavm.program.contacts.list" item-title="gsavm.getContactTitle" editable-items="true" new-entry-btn-name="+ Add Contact" delete-btn-label="Delete Contact" parent-vm="gsavm">
            <multi-entry-header>
                <h4>152 Headquarters Office</h4>
            </multi-entry-header>
            <multi-entry-sub-form class="input-field">
                <div ng-init="formPath='contact'+$ctrl.parentVm.nextId();idPath=formPath;" name="$ctrl.parentVm.form.contacts.{{formPath}}">
                    <label for="title6">Title:</label>
                    <input type="text" id="title6" name="title6" ng-model="$subForm.current.title">

                    <label for="{{ 'contact-fullname-' + idPath }}">Full Name<span class="required" >*</span>:</label>
                    <input type="text" id="{{ 'contact-fullname-' + idPath }}" name="fullname" ng-model="$subForm.current.fullName" required>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.fullname.$dirty">
                        <span ng-show="$ctrl.parentVm.form.fullname.$error.required">You must provide a full name.</span>
                    </div>

                    <label for="email6">Email:</label>
                    <input type="text" id="email6" name="email6" ng-model="$subForm.current.email">

                    <label for="phone6">Phone<span class="required" >*</span>:</label>
                    <input type="text" id="phone6" name="phone6" ng-model="$subForm.current.phone" required>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.phone6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.phone6.$error.required">You must provide a phone number.</span>
                    </div>

                    <label for="fax6">Fax:</label>
                    <input type="text" id="fax6" name="fax6" ng-model="$subForm.current.fax">
                    <br/>
                    Address:
                    <label for="address6">Street<span class="required" >*</span>:</label>
                    <textarea id="address6" name="address6" ng-model="$subForm.current.address" required></textarea>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.address6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.address6.$error.required">You must provide an address.</span>
                    </div>

                    <label for="city6">City<span class="required" >*</span>:</label>
                    <input type="text" id="city6" name="city6" ng-model="$subForm.current.city" required>

                    <label for="state6">State<span class="required" >*</span>:</label>
                    <select id="state6" name="state6" ng-model="$subForm.current.state" required>
                        <option value=''></option>
                        <option value='nonUS'>Non-U.S.</option>
                        <option value='AL'>Alabama</option>
                        <option value='AK'>Alaska</option>
                        <option value='AZ'>Arizona</option>
                        <option value='AR'>Arkansas</option>
                        <option value='CA'>California</option>
                        <option value='CO'>Colorado</option>
                        <option value='CT'>Connecticut</option>
                        <option value='DE'>Delaware</option>
                        <option value='DC'>District of Columbia</option>
                        <option value='FL'>Florida</option>
                        <option value='GA'>Georgia</option>
                        <option value='HI'>Hawaii</option>
                        <option value='ID'>Idaho</option>
                        <option value='IL'>Illinois</option>
                        <option value='IN'>Indiana</option>
                        <option value='IA'>Iowa</option>
                        <option value='KS'>Kansas</option>
                        <option value='KY'>Kentucky</option>
                        <option value='LA'>Louisiana</option>
                        <option value='ME'>Maine</option>
                        <option value='MD'>Maryland</option>
                        <option value='MA'>Massachusetts</option>
                        <option value='MI'>Michigan</option>
                        <option value='MN'>Minnesota</option>
                        <option value='MS'>Mississippi</option>
                        <option value='MO'>Missouri</option>
                        <option value='MT'>Montana</option>
                        <option value='NE'>Nebraska</option>
                        <option value='NV'>Nevada</option>
                        <option value='NH'>New Hampshire</option>
                        <option value='NJ'>New Jersey</option>
                        <option value='NM'>New Mexico</option>
                        <option value='NY'>New York</option>
                        <option value='NC'>North Carolina</option>
                        <option value='ND'>North Dakota</option>
                        <option value='OH'>Ohio</option>
                        <option value='OK'>Oklahoma</option>
                        <option value='OR'>Oregon</option>
                        <option value='PA'>Pennsylvania</option>
                        <option value='RI'>Rhode Island</option>
                        <option value='SC'>South Carolina</option>
                        <option value='SD'>South Dakota</option>
                        <option value='TN'>Tennessee</option>
                        <option value='TX'>Texas</option>
                        <option value='UT'>Utah</option>
                        <option value='VT'>Vermont</option>
                        <option value='VA'>Virginia</option>
                        <option value='WA'>Washington</option>
                        <option value='WV'>West Virginia</option>
                        <option value='WI'>Wisconsin</option>
                        <option value='WY'>Wyoming</option>
                        <option value='PR'>Puerto Rico</option>
                        <option value='GU'>Guam</option>
                        <option value='VI'>Virgin Islands</option>
                    </select>

                    <label for="zip6">Zip<span class="required" >*</span>:</label>
                    <input type="text" id="zip6" name="zip6" class="usa-input-medium" ng-model="$subForm.current.zip" required>

                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.city6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.city6.$error.required">You must provide a city.</span>
                    </div>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.state6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.state6.$error.required || $ctrl.parentVm.form.state6 ===''">You must provide a state.</span>
                    </div>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.zip6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.zip6.$error.required">You must provide a zip code.</span>
                    </div>

                    <label for="country6">Country:</label>
                    <select id="country6" name="country6" ng-model="$subForm.current.country" required>
                        <option value=''></option>
                        <option value='USA'>United States</option>
                        <option value='CAN'>Canada</option>
                        <option value='AFG'>Afghanistan</option>
                        <option value='ALB'>Albania</option>
                        <option value='DZA'>Algeria</option>
                        <option value='AGO'>Angola</option>
                        <option value='AIA'>Anguilla</option>
                        <option value='ARG'>Argentina</option>
                        <option value='ARM'>Armenia</option>
                        <option value='AUS'>Australia</option>
                        <option value='AUT'>Austria</option>
                        <option value='AZE'>Azerbaijan</option>
                        <option value='BHS'>Bahamas</option>
                        <option value='BHR'>Bahrain</option>
                        <option value='BGD'>Bangladesh</option>
                        <option value='BRB'>Barbados</option>
                        <option value='BLR'>Belarus</option>
                        <option value='BEL'>Belgium</option>
                        <option value='BLZ'>Belize</option>
                        <option value='BEN'>Benin</option>
                        <option value='BMU'>Bermuda</option>
                        <option value='BTN'>Bhutan</option>
                        <option value='BOL'>Bolivia</option>
                        <option value='BWA'>Botswana</option>
                        <option value='BRA'>Brazil</option>
                        <option value='BRN'>Brunei</option>
                        <option value='BGR'>Bulgaria</option>
                        <option value='BDI'>Burundi</option>
                        <option value='KHM'>Cambodia</option>
                        <option value='TCD'>Chad</option>
                        <option value='CHL'>Chile</option>
                        <option value='CHN'>China</option>
                        <option value='COL'>Colombia</option>
                        <option value='COG'>Congo</option>
                        <option value='CRI'>Costa Rica</option>
                        <option value='HRV'>Croatia</option>
                        <option value='CUB'>Cuba</option>
                        <option value='CYP'>Cyprus</option>
                        <option value='CZE'>Czech Republic</option>
                        <option value='DNK'>Denmark</option>
                        <option value='DJI'>Djibouti</option>
                        <option value='DOM'>Dominican Republic</option>
                        <option value='ECU'>Ecuador</option>
                        <option value='EGY'>Egypt</option>
                        <option value='SLV'>El Salvador</option>
                        <option value='ERI'>Eritrea</option>
                        <option value='EST'>Estonia</option>
                        <option value='ETH'>Ethiopia</option>
                        <option value='FJI'>Fiji</option>
                        <option value='FIN'>Finland</option>
                        <option value='FRA'>France</option>
                        <option value='DEU'>Germany</option>
                        <option value='GHA'>Ghana</option>
                        <option value='GRC'>Greece</option>
                        <option value='GTM'>Guatemala</option>
                        <option value='GIN'>Guinea</option>
                        <option value='GUY'>Guyana</option>
                        <option value='HTI'>Haiti</option>
                        <option value='HND'>Honduras</option>
                        <option value='HKG'>Hong Kong</option>
                        <option value='HUN'>Hungary</option>
                        <option value='ISL'>Iceland</option>
                        <option value='IND'>India</option>
                        <option value='IDN'>Indonesia</option>
                        <option value='IRN'>Iran</option>
                        <option value='IRQ'>Iraq</option>
                        <option value='IRL'>Ireland</option>
                        <option value='ISR'>Israel</option>
                        <option value='ITA'>Italy</option>
                        <option value='JAM'>Jamaica</option>
                        <option value='JPN'>Japan</option>
                        <option value='JOR'>Jordan</option>
                        <option value='KAZ'>Kazakhstan</option>
                        <option value='KEN'>Kenya</option>
                        <option value='PRK'>Korea, North</option>
                        <option value='KOR'>Korea, South</option>
                        <option value='KWT'>Kuwait</option>
                        <option value='KGZ'>Kyrgyzstan</option>
                        <option value='LAO'>Laos</option>
                        <option value='LVA'>Latvia</option>
                        <option value='LBN'>Lebanon</option>
                        <option value='LBR'>Liberia</option>
                        <option value='LBY'>Libya</option>
                        <option value='LIE'>Liechtenstein</option>
                        <option value='LTU'>Lithuania</option>
                        <option value='LUX'>Luxembourg</option>
                        <option value='MKD'>Macedonia</option>
                        <option value='MDG'>Madagascar</option>
                        <option value='MYS'>Malaysia</option>
                        <option value='MDV'>Maldives</option>
                        <option value='MLI'>Mali</option>
                        <option value='MLT'>Malta</option>
                        <option value='MRT'>Mauritania</option>
                        <option value='MEX'>Mexico</option>
                        <option value='MNG'>Mongolia</option>
                        <option value='MNE'>Montenegro</option>
                        <option value='MAR'>Morocco</option>
                        <option value='MOZ'>Mozambique</option>
                        <option value='MMR'>Myanmar</option>
                        <option value='NAM'>Namibia</option>
                        <option value='NPL'>Nepal</option>
                        <option value='NLD'>Netherlands</option>
                        <option value='NZL'>New Zealand</option>
                        <option value='NIC'>Nicaragua</option>
                        <option value='NER'>Niger</option>
                        <option value='NGA'>Nigeria</option>
                        <option value='NOR'>Norway</option>
                        <option value='OMN'>Oman</option>
                        <option value='PAK'>Pakistan</option>
                        <option value='PAN'>Panama</option>
                        <option value='PNG'>Papua New Guinea</option>
                        <option value='PRY'>Paraguay</option>
                        <option value='PER'>Peru</option>
                        <option value='PHL'>Philippines</option>
                        <option value='POL'>Poland</option>
                        <option value='PRT'>Portugal</option>
                        <option value='PRI'>Puerto Rico</option>
                        <option value='QAT'>Qatar</option>
                        <option value='ROU'>Romania</option>
                        <option value='RUS'>Russia</option>
                        <option value='RWA'>Rwanda</option>
                        <option value='WSM'>Samoa</option>
                        <option value='SAU'>Saudi Arabia</option>
                        <option value='SEN'>Senegal</option>
                        <option value='SRB'>Serbia</option>
                        <option value='SGP'>Singapore</option>
                        <option value='SVK'>Slovakia</option>
                        <option value='SVN'>Slovenia</option>
                        <option value='SOM'>Somalia</option>
                        <option value='ZAF'>South Africa</option>
                        <option value='ESP'>Spain</option>
                        <option value='LKA'>Sri Lanka</option>
                        <option value='SDN'>Sudan</option>
                        <option value='SUR'>Suriname</option>
                        <option value='SWZ'>Swaziland</option>
                        <option value='SWE'>Sweden</option>
                        <option value='CHE'>Switzerland</option>
                        <option value='SYR'>Syria</option>
                        <option value='TWN'>Taiwan</option>
                        <option value='TJK'>Tajikistan</option>
                        <option value='THA'>Thailand</option>
                        <option value='TUN'>Tunisia</option>
                        <option value='TUR'>Turkey</option>
                        <option value='TKM'>Turkmenistan</option>
                        <option value='UGA'>Uganda</option>
                        <option value='UKR'>Ukraine</option>
                        <option value='ARE'>United Arab Emirates</option>
                        <option value='GBR'>United Kingdom</option>
                        <option value='URY'>Uruguay</option>
                        <option value='UZB'>Uzbekistan</option>
                        <option value='VEN'>Venezuela</option>
                        <option value='VNM'>Viet Nam</option>
                        <option value='YEM'>Yemen</option>
                        <option value='ZMB'>Zambia</option>
                        <option value='ZWE'>Zimbabwe</option>
                    </select>
                    <div ng-show="$ctrl.parentVm.form.$submitted || $ctrl.parentVm.form.country6.$dirty">
                        <span ng-show="$ctrl.parentVm.form.country6.$error.required">You must provide a country.</span>
                    </div>
                    <br/>
                </div>
            </multi-entry-sub-form>
        </multi-entry>
    </section>
    <section class="sub-minor-section" >
        <div class="input-field">
            <h4 for="website7">153 Website:</h4>
            <span type="text" id="website7" name="website7" ng-bind="gsavm.program.website"></span>
        </div>
    </section>
</section>