<h2><span class="section-circle">1</span> General Information</h2>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field" >
        <label for="title7">010 Program Title<span class="required" >*</span></label>
        <span type="text" id="title7"  ng-bind="gsavm.program.title"></span>
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field">
        <label for="alternativeName7">020 Popular Name</label>
        <span type="text" id="alternativeName7"  ng-bind="gsavm.program.alternativeNames"></span>
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field">
        <h3>040 Authorization</h3>
        <!--Field Details: For all authorizations/amendments, you must supply either the Act or the Executive Order to continue.</p>-->
        <div ng-repeat="authorization in gsavm.program.authorizations | filter:gsavm.exps.isAuthorization track by gsavm.exps.generateAuthKey(authorization)">
            <div ng-form ng-init="formPath='authorization'+$index;idPath=formPath;parentAuth=authorization" name="gsavm.form.{{formPath}}" class="sub-form">
                <div ng-include="'partials/programs/authorizationView.tpl.html'"></div>
                <hr>
                <label>Amendments</label>
                <section class="usa-grid">
                    <div ng-repeat="authorization in gsavm.program.authorizations | filter:gsavm.exps.isPartOfAuth(parentAuth) track by gsavm.exps.generateAuthKey(authorization)">
                        <div ng-form ng-init="formPath=formPath +'.amendment'+$index;idPath=formPath.replace('.','-');" name="gsavm.form.{{formPath}}" class="sub-form">
                            <div ng-include="'partials/programs/authorizationView.tpl.html'"></div>
                        </div>
                    </div>
                </section>
                <hr>
            </div>
        </div>
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field">
        <label for="objective7">050 Objectives<span class="required" >*</span></label>
        <!--<p>Field Details: Enter the stated Objectives for the Program in this textfield.</p>-->
        <span type="text" id="objective7" ng-bind="gsavm.program.objective"></span>
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field">
        <label for="assistanceTypes">060 Types of Assistance<span class="required" >*</span></label>
        <!--<p>
            Select one or more Assistance Types for your Program using the hierarchical picklist. For the complete set of options available in the
            picklist, see the "Catalog of Federal Domestic Assitance Reference Manual for Agency Liaisons and Staff."
        </p>-->
        <div ng-repeat="item in gsavm.choices['assistance_type'] | selectedChoiceFilter:gsavm.program.assistanceTypes:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
        <!--ui-select id="assistanceTypes" multiple ng-model="gsavm.program.assistanceTypes" name="assistanceTypes" theme="select2" style="width:800px" required-Length='{ "min": 1 }'>
            <ui-select-match placeholder="Please select at least one type of Assistance">{{$item.value}}</ui-select-match>
            <ui-select-choices group-by="gsavm.groupByFns.multiPickerGroupByFn" repeat="item.element_id as item in gsavm.choices['assistance_type'] | propsFilter: {value: $select.search, 'parent.value': $select.search}">
                <div ng-bind-html="item.value | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="gsavm.validationFlag['General Information'] || gsavm.form.assistanceTypes.$dirty">
            <span ng-show="gsavm.form.assistanceTypes.$error.requiredLength">You need to select at least one Assistance Type for your Program.</span>
        </div-->
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <h3>070 Uses and Use Restrictions</h3>
    <!--<p>Select all that apply to your Program. If "Yes" is selected, users are required to provide more details in the textfields.</p>-->
    <label for="usageRulesContent7">Describe how assistance can potentially be used<span class="required" >*</span></label>
    <span type="text" id="usageRulesContent7" ng-bind="gsavm.program.usage.rules.content"></span>
    <div class="input-field">
        <!--input type="checkbox" id="restrictionsFlag" ng-model="restrictionsFlag" ng-checked="gsavm.program.usage.restrictions.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.restrictions.flag = restrictionsFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
        <label for="restrictionsFlag7">Are there specific restructions place upon the use of the assistance?</label>
        <span type="text" id="restrictionsFlag7" ng-bind="gsavm.program.usage.restrictions.flag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.restrictions.flag === gsavm.choices['yes_no'].yes.code">
        <label for="restrictions7">Please provide the restrictions:<span class="required" >*</span></label>
        <span type="text" id="restrictions7" ng-bind="gsavm.program.usage.restrictions.content"></span>
    </div>
    <div class="input-field">
        <!--input type="checkbox" id="discretionaryFundFlag" ng-model="discretionaryFundFlag" ng-checked="gsavm.program.usage.discretionaryFund.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.discretionaryFund.flag = discretionaryFundFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
        <label for="discretionaryFundFlag7">Are there discretionary funds available?</label>
        <span type="text" id="discretionaryFundFlag7" ng-bind="gsavm.program.usage.discretionaryFund.flag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.discretionaryFund.flag === gsavm.choices['yes_no'].yes.code">
        <label for="discretionaryFund7">Discretionary Funds<span class="required" >*</span></label>
        <span type="text" id="discretionaryFund7" ng-bind="gsavm.program.usage.discretionaryFund.content"></span>
    </div>
    <div class="input-field">
        <!--input type="checkbox" id="loanTermsFlag" ng-model="loanTermsFlag" ng-checked="gsavm.program.usage.loanTerms.flag === gsavm.choices['yes_no'].yes.code" ng-change="gsavm.program.usage.loanTerms.flag = loanTermsFlag ? gsavm.choices['yes_no'].yes.code : gsavm.choices['yes_no'].no.code" trigger-click-on-enter-->
        <label for="loanTermsFlag7">Are loans a type of assistance in this program?</label>
        <span type="text" id="loanTermsFlag7" ng-bind="gsavm.program.usage.loanTerms.flag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.program.usage.loanTerms.flag === gsavm.choices['yes_no'].yes.code">
        <label for="loanTerms7">Loan Terms<span class="required" >*</span></label>
        <span type="text" id="loanTerms7" ng-bind="gsavm.program.usage.loanTerms.content"></span>
    </div>
</section>
<section class="sub-section" field-finder-bookmar>
    <h3>160 Related Programs</h3>
    <div class="input-field">
        <label for="relatedProgramsFlag7">Are there any related programs?</label>
        <span type="text" id="relatedProgramsFlag7" ng-bind="gsavm.uiLogic.relatedProgramsFlag"></span>
    </div>
    <div class="input-field" ng-show="gsavm.uiLogic.relatedProgramsFlag">
        <label>Select any related programs below:<span class="required" >*</span></label>
        <div ng-repeat="item in gsavm.choices['programs'] | selectedChoiceFilter:gsavm.program.relatedTo:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
        <!--ui-select multiple ng-model="gsavm.program.relatedTo" name="relatedTo" on-select="gsavm.log($item, $model)" theme="select2" style="width: 800px;" required-Length='{ "min": 1, "requiredIf": "gsavm.uiLogic.relatedProgramsFlag" }'>
            <ui-select-match placeholder="Select a program...">{{$item.title}}</ui-select-match>
            <ui-select-choices repeat="item._id as item in gsavm.choices['programs'] | filter: {title: $select.search, _id: '!' + gsavm.program._id}">
                <div ng-bind-html="item.title | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="gsavm.validationFlag['General Information'] || gsavm.form.relatedTo.$dirty">
            <span ng-show="gsavm.form.relatedTo.$error.requiredLength">You need to select at least one related Program.</span>
        </div-->
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <h3>170 Examples of Funded Projects</h3>
    <div class="input-field">
        <label for="fundedProjectsExampleFlag7">Are there examples of funded projects?</label>
        <span type="text" id="fundedProjectsExampleFlag7" ng-bind="gsavm.uiLogic.projectsFlag"></span>
    </div>
    <div ng-show="gsavm.projects.flag === gsavm.choices['yes_no'].yes.code">
        <div class="input-field" ng-repeat="fyTpl in gsavm.fyTpls track by fyTpl.name">
            <ng-form name="gsavm.form.projects.{{fyTpl.varName}}">
                <p>{{fyTpl.name}}: {{fyTpl.year}}</p>
                <label for="funded-projects-example-{{fyTpl.idName}}">{{fyTpl.type}}<span class="required" ng-show="fyTpl.isRequired">*</span></label>
                <span type="text" id="funded-projects-example-{{fyTpl.idName}}" ng-bind="gsavm.projects.list[fyTpl.year].content[fyTpl.varName]"></span>
            </ng-form>
        </div>
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field">
        <label>190 Functional Codes<span class="required" >*</span></label>
        <div ng-repeat="item in gsavm.choices['functional_codes'] | selectedChoiceFilter:gsavm.program.functionalCodes:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
        <!--ui-select multiple ng-model="gsavm.program.functionalCodes" name="functionalCodes" theme="select2" style="width: 800px;" required-Length='{ "min": 1 }'>
            <ui-select-match placeholder="Select code...">{{$item.displayValue}}</ui-select-match>
            <ui-select-choices group-by="gsavm.groupByFns.multiPickerGroupByFn" repeat="item.element_id as item in gsavm.choices['functional_codes'] | propsFilter: {displayValue: $select.search, 'parent.value': $select.search}">
                <div ng-bind-html="item.displayValue | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="gsavm.validationFlag['General Information'] || gsavm.form.functionalCodes.$dirty">
            <span ng-show="gsavm.form.functionalCodes.$error.requiredLength">You need to select at least one Functional Code.</span>
        </div-->
    </div>
</section>
<section class="sub-section" field-finder-bookmark>
    <div class="input-field">
        <label>300 Subject Terms<span class="required" >*</span></label>
        <div ng-repeat="item in gsavm.choices['program_subject_terms'] | selectedChoiceFilter:gsavm.program.subjectTerms:'element_id' track by item.element_id">
            <p type="text" ng-bind="item.displayValue"></p>
        </div>
        <!--ui-select multiple ng-model="gsavm.program.subjectTerms" name="subjectTerms" theme="select2" style="width: 800px;" required-Length='{ "min": 1 }'>
            <ui-select-match placeholder="Select subject term...">{{$item.value}}</ui-select-match>
            <ui-select-choices group-by="gsavm.groupByFns.multiPickerGroupByFn" repeat="item.element_id as item in gsavm.choices['program_subject_terms'] | filter: {value: $select.search } | orderBy:[gsavm.groupByFns.multiPickerGroupByFn,'code']">
                <div ng-bind-html="item.value | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="gsavm.validationFlag['General Information'] || gsavm.form.subjectTerms.$dirty">
            <span ng-show="gsavm.form.subjectTerms.$error.requiredLength">You need to select at least one Subject Term.</span>
        </div-->
    </div>
</section>