<div class="ui fixed container">

    <div class="ui top attached borderless segment" style="padding: 0;">
        <div class="ui fluid action input">
            <input type="text" placeholder="Keyword/FAL#">
            <div class="ui primary button">Search</div>
        </div>
    </div>
    <div class="ui attached secondary segment">
        <div class="ui equal width grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>By Agency</label>
                        <select>
                            <option selected value="">By Agency</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>By Assistance Type</label>
                        <select>
                            <option selected value="">None Selected</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>Historical Index</label>
                        <select>
                            <option selected value="">Historical Index</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached button" tabindex="0">
        Advanced Search
        <div class="ui accordion">
            <div class="title">
                Advanced Search <i class="dropdown icon"></i>
            </div>
            <div class="content">
                <p>Form Fields</p>
            </div>
        </div>
    </div>



</div>



<div class="search-box" ng-controller="ProgramSearchCtrl">
    <div class="usa-grid">
        <div class="usa-grid search-bar">
            <input id="pageSizeVal" type="hidden" name="pageSize" value="10">
            <input id="filterYearVal" type="hidden" name="filterYear" value="0">
            <div role="search" class="usa-width-one-whole usa-search usa-search-big center">
                <label class="usa-sr-only" for="search-field-big">Search big</label>
                <input ng-keyup="searchKeyUp($event.keyCode)" ng-model="globalSearchValue" type="search" id="search-field-big" required="required"
                placeholder="Keyword / FAL#" name="text">
                <button type="submit" ng-click="searchPrograms()">
                    <span class="usa-search-submit-text">Search</span>
                </button>
            </div>
        </div>
    </div>

    <div class="usa-grid-full" style="padding: 0px;">
        <div style="min-height:4px;width:100%;background-color:#cacaca"></div>
    </div>

    <div class="usa-grid-full">
        <div class="usa-width-one-fourth" style="padding:0px 0px 0px 8px;">
            <label for="qs-posted">By Agency</label>
            <select size="1" id="qs-posted" style="font-weight:bold">
                <option selected value="">By Agency</option>
            </select>
        </div>
        <div class="usa-width-one-fourth" style="padding:0px 0px 0px 0px;">
            <label>By Assistance Type</label>
            <isteven-multi-select max-labels="1" input-model="dictionary.aAssistanceType" output-model="advancedSearch.aAssistanceType"
            button-label="displayValue" item-label="displayValue" tick-property="ticked" max-height="250px" group-property="msGroup">
            </isteven-multi-select>
        </div>
        <div class="usa-width-one-fourth" style="padding:0px 0px 28px 8px;">
            <label for="agency-search-field">By Historical Index</label>
            <select size="1" id="agency-search-field" style="font-weight:bold">
                <option selected value="">Historical Index</option>
            </select>
        </div>
        <div class="usa-width-one-fourth usa-search usa-search-big" style="padding-top: 47px;">
            <a style="padding: 18px;" ui-sref="advancedSearch" class="usa-button">Advanced Search</a>
        </div>
    </div>
</div>