<ul class="usa-unstyled-list">
  <li>

    <!-- Delete -->
    <button type='button'
            class="usa-button-icon"
            ng-class=" !$ctrl.allowModifications ? 'usa-button-disabled' : '' "
            ng-click='$ctrl.deleteEntry(item)'
            ng-show="newEntryBtnName"
            ng-disabled='!$ctrl.allowModifications'>
      <i class="fa fa-times-circle"></i>
    </button>

    <!-- Edit -->
    <button type="button"
            class="usa-button-icon"
            ng-class=" !$ctrl.allowModifications ? 'usa-button-disabled' : '' "
            ng-click='$ctrl.openEntryDialog(item)'
            ng-show="newEntryBtnName"
            ng-disabled='!$ctrl.allowModifications'>
      <i class="fa fa-pencil"></i>
    </button>

    <!-- Content -->
    <span transclude-append></span>

  </li>
</ul>
