<div class='usa-grid-full'>
    <div class="usa-width-one-half" ng-transclude></div>
    <div class="usa-width-one-half usa-text-align-right">
        <button type='button'
                ng-class=" !$ctrl.allowModifications ? 'usa-button-disabled' : '' "
                ng-show="newEntryBtnName"
                ng-click='$ctrl.openEntryDialog()'
                ng-disabled='!$ctrl.allowModifications'
                class="usa-margin-right-0">
                <span class="fa fa-plus-square-o"></span>
                 {{newEntryBtnName}}
        </button>
    </div>
</div>
