field-finder-bookmark.highlight,
.highlight[field-finder-bookmark] {
  background-color: #ffea6f;
}

field-finder-searchbox {
  [type="button"],
  button,
  select {
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    margin: 0;
    .form-header & {
      width: 100%;
    }
  }
  select {
    border: 2px solid $color-primary;
  }
}

field-finder-navigator {
  display: block;
  background-color: darken($color-gray-lightest, 5%);
  .navigator-list {
    @include unstyled-list;
    margin-left: auto;
    margin-right: auto;
    height: $field-finder-navigator-height;
    padding: $field-finder-navigator-padding 0;
  }
  .navigator-button-group {
    float: right;
  }
  .navigator-item {
    display: table;
    position: absolute;
    font-family: $font-serif;
    transition: $transition-default;
    @include transform(translateY(-5px));
    &:not(.active) {
      opacity: 0;
    }
    &.active {
      @include transform(none);
    }
  }
}