form {
  max-width: none !important;
  .form-header {
    padding-top: $form-header-margin-height;
    padding-bottom: $form-header-margin-height;
    h1, h2 {
      margin: 0;
    }
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  textarea {
    &.usa-width-two-thirds {
      padding: 10px;
    }
  }
  fieldset {
    display: block;
    margin-top: 3rem;
  }

  fieldset > label {
        margin-bottom: .7em;
  }

  .usa-input-large {
      max-width: 56rem;
      width: 56rem;
  }

  span.italic, p.italic, label.italic {
      font-style: italic;
  }

  span.icon {
     display: block;
  }
  span.checkmark-checked-icon {
  	 background-image: url('../img/checkbox-checked.png');
     background-repeat: no-repeat;
     background-position: left center;
     height: 30px;
     padding-top:3px;
     padding-left: 33px;
  }

  input.navigation-button {
     display:inline;
     width:auto;
     padding-left: 2rem;
     padding-right: 2rem;
  }

}

.divider{
    width: 1.5rem;
    height:auto;
    display:inline-block;
}

.radio-button-group {
  > li {
    display: inline-block;
    margin-right: 15px;
    label {
      width: auto;
    }
  }
}

.section-circle {
  border-radius: 50%;
  width: $section-circle-dimensions;
  height: $section-circle-dimensions;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
  font-size: 15.3px;
  font-weight: $font-normal;
  border-width: 1px;
  border-style: solid;
  outline-radus: 50%;
  background-color: $color-white;
  color: $color-primary;
  border-color: $color-primary;
  h2 &{
    @extend .completed;
  }
  &.completed {
    background-color: $color-primary-darkest;
    color: $color-white;
    border-color: $color-primary-darkest;
  }
  &.current {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;
  }
  &.review {
    background-color: $color-limegreen;
    color: $color-base;
    border-color: $color-limegreen;
  }
}

.required {
  color: $color-secondary-dark;
}

input,
select {
  &.bold-border {
    border: 2px solid $color-primary;
  }
}

ul {
    &.tab-menu {
        width: 100%;
        list-style: none;
        margin: 2.1em 0em 1em 0em;
        > li  {
            &:before {
                content: none;
            }
            line-height: 1 !important;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            border-style: solid;
            background-color: $color-gray-lightest;
            border-color: $color-primary;
            color: $color-primary;
            height: 55px;
            border-width: 1px 1px 1px 1px;
            margin-right: -6px;

            &.tab-selected {
               background-color: $color-white !important;
               color: $color-gray !important;
               border-color: $color-gray !important;
               border-width: 1px 1px 3px 1px !important;

               > a {
                    color: $color-gray !important;
               }
            }

            > a {
                text-decoration: none;
                display: block;
                height: 100%;
                padding-top: 1em;
                padding-left: 1.85em;
                padding-right: 1.85em;
                color: $color-primary;
                &:hover {
                    background-color: $color-gray-lighter;
                }
            }

         }
    }
}

ux-form-nav {
  display: block;
}