.home-quick-links {
  color:$color-primary-darkest;
  text-align:center;
  margin:0px;
  padding-top:18px;

  .main {
    width:1000px;
    margin: 0px auto 0px auto;
    padding-top:4px;
    text-align:center;
  }

  table {
    border-collapse: collapse;
    width:100%;
    td.spacer {
      border:none;
      width:14%;
    }
    td.image {
      border:none;
      width:24%;
      padding:0px 15px 0px 15px
    }
    td.content {
      border:none;
      width:24%;
      padding:0px 15px 0px 15px;
      vertical-align:top;
      color:#0973BC;
      font-weight:bold;
    }
  }
}