.search-box {
  background-color: $color-primary-darkest;
  margin: 0;
  padding: 2em 0;

  .usa-grid {
    padding: 0;

    input[type="search"] {
      max-width: 100rem;
    }
  }
}

.search-results-content {
  .search-info {
    font-size: 4rem;
    margin: 3rem 0;
  }

  .search-table {
    th.sortable {
      cursor: pointer;
    }
  }
}