//variables section
$horizontal-padding: .8em;
$th-vertical-padding: .8em;
$td-vertical-padding: .8em;
table.listing-table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;

  thead {
    tr {
      background-color: $color-primary-darkest;
      font-weight: bold;
      text-align: left;
      color: $color-white;

      th {
        position: relative;
        padding: $th-vertical-padding $horizontal-padding;
        border: 0;

        &[st-sort] {
          &:after {
            color: transparent;
            content: '\f106';
            margin-left: 10px;
            font-family: FontAwesome;
          }
          &.st-sort-ascent,
          &.st-sort-descent {
            background-color: $color-primary;
          }
          &.st-sort-ascent:after {
            content: '\f106';
            color: $color-white;
          }
          &.st-sort-descent:after {
            content: '\f107';
            color: $color-white;
          }
          &.st-sort-ascent:before,
          &.st-sort-descent:before {
            content: "";
            position: absolute;
            background-color: $color-highlight;
            left: 0;
            top: 0;
            height: 10000px;
            width: 100%;
            z-index: -1;
          }
        }
      }
      .sorting_desc, .sorting_asc {
        background-color: $color-primary-darker;
        font-weight: bold;
        text-align: left;
        color: $color-white;
      }
    }

  }
  td {
    padding: $td-vertical-padding $horizontal-padding;
    border: 0 solid transparent;
    border-bottom: 2px solid $color-gray-lighter;
    white-space: pre-line;
    word-break: break-word;

    input[type=checkbox] + label {
      margin: 0 0 1em 0;
    }

    &.action-row {
      button {
        padding: 5px;
        font-size: 20px;
        width: 28px;
        margin-right: 18px;
      }
    }
  }
}