//variables section
$horizontal-padding: .8em;
$vertical-padding: .8em;
$vertical-padding2: 1.3em;
table {
  overflow: hidden;
  text-align: left;
  th, td {
    padding-left: 0;
  }
  thead {
    tr {
      background-color: $color-primary-darkest;
      font-weight: bold;
      text-align: left;
      color: $color-white;

      th[st-sort] {
        &:after {
          color: transparent;
          content: '\25B2';
        }
        &.st-sort-ascent:after {
          content: '\25B2';
          color: $color-white;
        }
        &.st-sort-descent:after {
          content: '\25BC';
          color: $color-white;
        }
      }
      .sorting_desc, .sorting_asc {
        background-color: $color-primary-darker;
        font-weight: bold;
        text-align: left;
        color: $color-white;
      }
    }

  }
  th {
    padding: $vertical-padding $horizontal-padding;
    background-position-y: 27px;
  }
  td {
    padding: $vertical-padding2 $horizontal-padding;
    &.action-row {
      button {
        padding: 5px;
      }
    }
  }
}

/** Temporary Pagination Styling **/
.pagination {
  @extend .usa-unstyled-list;
  padding: 10px;
  border: 1px solid $color-gray;
  > li {
    display: inline-block;
    padding: 5px 10px;
    &.active {
      background-color: $color-gray-lighter;
    }
  }
}