$nav-padding-width: 10px !default;
$nav-padding-height: 15px !default;

$form-header-margin-height: 35px !default;
$form-header-element-spacing: 15px !default;

$steps-dashboard-padding: 15px 0 !default;

$step-dimensions: 75px !default;
$step-text-dimensions: 5px 5px 0 !default;

$section-circle-dimensions: 44px !default;

$badge-padding: 5px !default;
$badge-color: $color-gray-light !default;
$badge-font-color: $color-white !default;

$layout-padding: $grid-margins !default;
$sub-form-margin: 10px;

$field-finder-navigator-height: 55px !default;
$field-finder-navigator-padding: ($field-finder-navigator-height / (11/3)) !default;
$color-limegreen: #8bd12f !default;
$color-highlight: #FFFBD9 !default;

$form-section-indent: 20px;

$button-circle-padding: 10px !default;
$button-circle-shadow-color: transparentize($color-base, 0.6) !default;
$button-circle-shadow-dimensions: 0 1px 2px 0;
$button-circle-shadow: $button-circle-shadow-dimensions $button-circle-shadow-color, inset 0 0 0 0 $button-circle-shadow-color!default;
$button-circle-shadow-active: 0 0 0 0 $button-circle-shadow-color, inset $button-circle-shadow-dimensions $button-circle-shadow-color!default;
$button-circle-dimensions: 37px !default;

$transition-default-timing: .3s !default;
$transition-default-duration: cubic-bezier(.55,0,.55,.2) !default;
$transition-default: all $transition-default-timing $transition-default-duration !default;