.steps-dashboard{
  background-color:$color-gray-lightest;
  padding: $steps-dashboard-padding;
  .steps {
    @include unstyled-list;
    margin: 0 auto;
    li {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      &.step {
        &.steps-6 {
          width: calc(100%/6);
        }
        &.steps-7 {
          width: calc(100%/7);
        }
        .step-title {
          cursor: pointer;
          display: block;
          font-size: 12px;
          font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
          font-weight: $font-bold;
          padding: $step-text-dimensions;
        }
      }
      &.step-progress {
        position: absolute;
        @include transform(translateX(-50%));
        .steps-progress-bar {
          cursor: default;
          display: table-cell;
          height: $section-circle-dimensions;
          line-height: 0;
          vertical-align: middle;
          > .dot {
            display: block;
            float: left;
            background-color: $color-gray-lighter;
            width: 6px;
            height: 6px;
            margin: 0 4px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  a {
    > .step-num {
      @extend .section-circle;
      box-sizing: border-box;
      cursor: pointer;
      @include transition(all .3s cubic-bezier(.55, 0, .55, .2));
    }
    &:focus > .step-num {
      box-shadow: $focus-shadow;
    }
  }
}